<style>
    h1, h2, h3, h4, h5, h6 {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: 600;
    }
    </style>
<title>Smart Cities - Boodskap</title>
<head>
   
</head>
 <!-- Loading Template CSS -->


<!-- Portfolio carousels section with custom paddings -->

  <!--begin home section -->
  <section class="home-section main-content-padding" id="home">

    <div class="home-section-overlay"></div>

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row">
          
            <!--begin col-md-8-->
            <div class="col-md-8 text-primary sub-content-padding">

                <h2 class="text-primary">Streamline your urban infrastructure management with Boodskap's IoT Platform as a Service (PaaS).</h2>

                <p class="text-banner">
                    Integrate and optimize city systems effortlessly using our innovative IoT solutions. Improve efficiency and sustainability with real-time data and predictive analytics. Embrace the next generation of smart city management with Boodskap.io.</p>

                <ul class="home-benefits text-banner">

                    <li class="text-banner"><i class="fas fa-check-circle text-banner"></i>Quick Setup and Deployment</li>

                    <li class="text-banner"><i class="fas fa-check-circle text-banner"></i>Comprehensive Device and Protocol Compatibility</li>

                    <li class="text-banner"><i class="fas fa-check-circle text-banner"></i>Enhanced Security and Seamless Data Migration</li>

                    <li class="text-banner"><i class="fas fa-check-circle text-banner"></i>Cost-Effective Solutions</li>					
                    <li class="text-banner"><i class="fas fa-check-circle text-banner"></i>Scalability and Flexibility</li>					

                    
                </ul>

            </div>
            <!--end col-md-8-->
       
            <!--begin col-md-4-->
            <div class="col-md-4 wow bounceIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceIn;">

                <!--begin register-form-wrapper-->
                <div class="register-form-wrapper wow bounceIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceIn;">

                    <h3>Get Your FREE Access </h3>

                    <!--begin form-->
                    <div>
                         
                        <!--begin success message -->
                        <p class="register_success_box" style="display:none;">Thank You for Sign Up With Boodskap.io!</p>
                        <!--end success message -->
                        
                        <!--begin register form -->
                        <form action="javascript:void(0)" id="register-form" class="register-form register" onsubmit="sendAccessEmail()">                            
                
                            <input class="register-input white-input" required="" name="register_names" placeholder="Full Name*" type="text" id="userName" onkeyup="emptySpaceCheck(this);" onkeypress="emptySpaceCheck(this);">                            
                            <input class="register-input white-input" required="" name="register_email" placeholder="Email Address*" type="email" id="userEmail" onkeyup="emptySpaceCheck(this);" onkeypress="emptySpaceCheck(this);">
                            <input class="register-input white-input" required="" name="register_phone" placeholder="Phone Number*" type="text" id="userPhoneNumber" onkeyup="emptySpaceCheck(this);" onkeypress="emptySpaceCheck(this);">
                            <input class="register-input white-input" required="" name="register_phone" placeholder="Company Name*" type="text" id="userCompany" onkeyup="emptySpaceCheck(this);" onkeypress="emptySpaceCheck(this);">

                            <select class="register-input white-input" required="" name="register_ticket"  id="userDevice">

                                <option value=""># of Devices Required*</option>
                                <option value="1-500">1-500</option>
                                <option value="500-1000">500-1000</option>
                                <option value="1000-5000">1000-5000</option>
                                <option value="5000-10000">5000-10000</option>
                                <option value="10000+">10000+</option>

                            </select>
                           
                            <input value="GET STARTED WITH BOODSKAP" class="btn btn-fullcolor submitBtn" type="submit" style="font-size: 14px;padding: 18px 0;width:100%;letter-spacing: 1px;">
                            <div class="sentMessage mt-5"></div>
                              <div class="col">
                                
                        </form>
                        <!--end register form -->
                        
                    </div>
                    <!--end form-->

                </div>
                <!--end register-form-wrapper-->

            </div>
            <!--end col-md-4-->

        </div>
        <!--end row -->

    </div>
    <!--end container -->

</section>
<!--end home section -->


<!--begin section-grey -->


<section class="section-grey section-top-border" id="about">

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col-md-12 -->
            <div class="col-md-12 text-center">

                <h2 class="section-title">Streamline your urban infrastructure management with Smart IoT Solutions

                </h2>

                <p class="section-subtitle"><i>Explore Boodskap's Advanced IoT Use Cases in Smart Traffic Management, Environmental Monitoring, Smart Lighting, and Public Safety Solutions.</i></p>
                
            </div>
            <!--end col-md-12 -->

            <!--begin col-md-4 -->
            <div class="col-md-4">

                <div class="main-services" id="smart-lighting">

                    <img src="<%=cdnUrl%>/images/industries/smartcities/smart-lighting.webp" data-src="<%=cdnUrl%>/images/industries/smartcities/smart-lighting.webp" class="width-100" alt="Smart Lighting">

                    <h3> Smart Lighting</h3>

                    <p>Automated control of street lights based on real-time conditions and usage.</p>

                    <a href="smartcities/smart-lighting" class="btn-outlined small scrool">Read More</a>
                    
                </div>

            </div>
            <!--end col-md-4 -->

            <!--begin col-md-4 -->
            <div class="col-md-4">

                <div class="main-services" id="smart-traffic-management">

                    <img src="<%=cdnUrl%>/images/industries/smartcities/SmartTrafficManagement.jpg" data-src="<%=cdnUrl%>/images/industries/smartcities/SmartTrafficManagement.jpg" class="width-100" alt="Smart Traffic Management">

                    <h3> Smart Traffic Management</h3>

                    <p> Monitoring and managing traffic flow in real-time to reduce congestion.</p>

                    <a href="smartcities/smart-traffic-management" class="btn-outlined small scrool">Read More</a>
                    
                </div>

            </div>
            <!--end col-md-4 -->

            <!--begin col-md-4 -->
            <div class="col-md-4">

                <div class="main-services" id="waste-management">

                    <img src="<%=cdnUrl%>/images/industries/smartcities/WasteManagement.jpg" data-src="<%=cdnUrl%>/images/industries/smartcities/WasteManagement.jpg" class="width-100" alt="Waste Management">

                    <h3> Waste Management</h3>

                    <p> Monitoring waste levels in bins to optimize collection routes and schedules.</p>

                    <a href="smartcities/waste-management" class="btn-outlined small scrool">Read More</a>
                 
                </div>

            </div>
            <!--end col-md-4 -->
          <!--begin col-md-4 -->
            <div class="col-md-4">

                <div class="main-services" id="environmental-monitoring">

                    <img src="<%=cdnUrl%>/images/industries/smartcities/EnvironmentalMonitoring.jpg" data-src="<%=cdnUrl%>/images/industries/smartcities/EnvironmentalMonitoring.jpg" class="width-100" alt="Environmental Monitoring">

                    <h3>Environmental Monitoring</h3>

                    <p>Monitoring air and water quality, noise levels, and other environmental parameters.</p>

                    <a href="smartcities/environmental-monitoring" class="btn-outlined small scrool">Read More</a>
                    
                </div>

            </div>
            <!--end col-md-4 -->

            <!--begin col-md-4 -->
            <div class="col-md-4">

                <div class="main-services" id="smart-parking">

                    <img src="<%=cdnUrl%>/images/industries/smartcities/SmartParking.png" data-src="<%=cdnUrl%>/images/industries/smartcities/SmartParking.png" class="width-100" alt="Smart Parking">

                    <h3>Smart Parking</h3>

                    <p> Real-time monitoring of parking space availability and guidance for drivers.</p>

                    <a href="smartcities/smart-parking" class="btn-outlined small scrool">Read More</a>
                    
                </div>

            </div>
            <!--end col-md-4 -->

            <!--begin col-md-4 -->
            <div class="col-md-4">

                <div class="main-services" id="public-safety">

                    <img src="<%=cdnUrl%>/images/industries/smartcities/PublicSafety.jpg" data-src="<%=cdnUrl%>/images/industries/smartcities/PublicSafety.jpg" class="width-100" alt="Public Safety">

                    <h3> Public Safety</h3>

                    <p>Enhancing city safety through surveillance, emergency response systems, and incident detection.</p>

                    <a href="smartcities/public-safety" class="btn-outlined small scrool">Read More</a>
                    
                </div>

            </div>
            <!--end col-md-4 -->
            
               <!--begin col-md-4 -->
            <div class="col-md-4">

                <div class="main-services" id="smart-utilities">

                    <img src="<%=cdnUrl%>/images/industries/smartcities/SmartUtilities.jpeg" data-src="<%=cdnUrl%>/images/industries/smartcities/SmartUtilities.jpeg"  class="width-100" alt="Smart Utilities">

                    <h3> Smart Utilities</h3>

                    <p>Monitoring and managing water, electricity, and gas usage in real-time.</p>

                    <a href="smartcities/smart-utilities" class="btn-outlined small scrool">Read More</a>
                    
                </div>

            </div>
            <!--end col-md-4 -->

            <!--begin col-md-4 -->
            <div class="col-md-4">

                <div class="main-services" id="smart-buildings">

                    <img src="<%=cdnUrl%>/images/industries/smartcities/SmartBuildings.webp"  data-src="<%=cdnUrl%>/images/industries/smartcities/SmartBuildings.webp"="width-100" alt="Smart Buildings">

                    <h3>  Smart Buildings</h3>

                    <p>Integrating various building systems for automated control and monitoring.</p>

                    <a href="smartcities/smart-buildings" class="btn-outlined small scrool">Read More</a>
                    
                </div>

            </div>

            <!--end col-md-4 -->

            <!--begin col-md-4 -->
            <div class="col-md-4">

                <div class="main-services" id="public-transport-management">

                    <img src="<%=cdnUrl%>/images/industries/smartcities/PublicTransportManagement.jpg" data-src="<%=cdnUrl%>/images/industries/smartcities/PublicTransportManagement.jpg" class="width-100" alt="Public Transport Management">

                    <h3> Public Transport Management</h3>

                    <p>Monitoring and optimizing public transport systems to improve efficiency and user experience.</p>

                    <a href="smartcities/public-transport-management" class="btn-outlined small scrool">Read More</a>
                    
                </div>

            </div>
            <!--end col-md-4 -->
       
             <!--begin col-md-4 -->
            <div class="col-md-4">

                <div class="main-services" id="smart-water-management">

                    <img src="<%=cdnUrl%>/images/industries/smartcities/SmartUtilities.jpeg" data-src="<%=cdnUrl%>/images/industries/smartcities/SmartUtilities.jpeg" class="width-100" alt="Smart Water Management">

                    <h3> Smart Water Management</h3>

                    <p> Monitoring and optimizing energy usage in city infrastructure and buildings.</p>

                    <a href="smartcities/smart-water-management" class="btn-outlined small scrool">Read More</a>
                    
                </div>

            </div>
            <!--end col-md-4 -->  
       
       
       
        </div>
        <!--end row -->
        
    </div>
    <!--end container -->

</section>
<!--end section-grey -->

<!--begin section-white -->
<section class="section-white section-top-border">

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col-md-6 -->
            <div class="col-md-6 padding-top-30">

                <!--begin features-second -->
                <div class="features-second">
                    
                    <div class="dropcaps-circle">
                        <i class="fas fa-rocket text-primary"></i>
                    </div>

                    <h4 class="margin-bottom-5">Customize your workflow.</h4>

                    <p><i>Seamlessly manage any industrial process and tackle challenges with unmatched ease using Boodskap’s powerful IoT platform.</i></p>

                </div>
                <!--end features-second-->

                <!--begin features-second-->
                <div class="features-second">

                    <div class="dropcaps-circle text-primary">
                        <i class="fas fa-rocket text-primary"></i>                        <!-- <i class="fa fa-network-wired"></i> -->
                    </div>

                    <h4 class="margin-bottom-5">Easy onboarding, fast adoption.</h4>

                    <p><i>Onboard your team quickly and efficiently with Boodskap’s intuitive interface, making adoption as simple as sending an email.</i></p>

                </div>
                <!--end features-second-->

                <!--begin features-second-->
                <div class="features-second">

                    <div class="dropcaps-circle">
                        <i class="fas fa-rocket text-primary"></i>
                    </div>

                    <h4 class="margin-bottom-5">Improve subscriber retention.</h4>

                    <p><i>Leverage advanced analytics to monitor customers by region, discounts, and other key metrics, and implement strategic plans to boost subscriber retention.</i></p>

                </div>
                <!--end features-second-->

            </div>
            <!--end col-md-6-->
       
            <!--begin col-md-6-->
            <div class="col-md-6 wow slideInRight" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: slideInRight;">

                <img src="<%=cdnUrl%>/images/industries/bd.png" data-src="<%=cdnUrl%>/images/industries/bd.png" class="width-100 height-100 box-shadow" alt="pic">

            </div>
            <!--end col-md-6-->

        </div>
        <!--end row -->
        
    </div>
    <!--end container -->

</section>
<!--end section-white -->

<!--begin section-primary -->
<section class="section-primary">

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col-md-6-->
            <div class="col-md-6">
                
                <!--begin video-popup-wrapper-->
                <div class="video-popup-wrapper">

                    <!--begin popup-gallery-->
                    <div class="popup-gallery">
                        
                        <img src="<%=cdnUrl%>/images/industries/asa.PNG" data-src="<%=cdnUrl%>/images/industries/asa.PNG" class="width-100 height-100 video-popup-image" alt="pic">

                        <a class="popup4 video-play-icon" href="https://www.youtube.com/watch?v=MF8I4w2BcIQ">
                            <i class="fas fa-play"></i>
                        </a>

                    </div>
                    <!--end popup-gallery-->

                </div>
                <!--end video-popup-wrapper-->

            </div>
            <!--end col-md-6-->

            <!--begin col-md-6-->
            <div class="col-md-6 padding-top-30 padding-left-20">

                <h2 class="white-text">Boodskap’s IoT Platform-as-a-Service</h2>

                <p class="white-text">In today's industrial world, being agile, collaborative, and quickly innovative is crucial. Leading IoT companies use Platform-as-a-Service (PaaS) solutions to meet these needs effectively.</p>

                <p class="white-text">Boodskap’s IoT Platform-as-a-Service is designed with your industrial needs in mind, enabling you to track and analyze all your operational data in one unified dashboard. By harnessing the power of IoT, Boodskap provides a superior experience, ensuring seamless integration, enhanced collaboration, and accelerated innovation.</p>

            </div>
            <!--end col-md-6-->
       
        </div>
        <!--end row -->
        
    </div>
    <!--end container -->

</section>
<!--end section-primary -->


<!--end section-white -->

<!--begin partners section -->

<%- include ../../clients.html %>


<!--end partners section -->

<!--begin faq section -->
<section class="section-white small-padding-bottom">
    
    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">
        
            <!--begin col-md-6-->
            <div class="col-md-6 margin-top-10">

                <img src="<%=cdnUrl%>/images/industries/bsc.png" data-src="<%=cdnUrl%>/images/industries/bsc.png" class="width-100 box-shadow" alt="picture">

            </div>
            <!--end col-sm-6-->
            
            <!--begin col-md-6-->
            <div class="col-md-6 margin-top-20">

                <h3>Frequently Asked Questions</h3>

                <!--begin accordion -->
                <div class="accordion faq" id="accordionFAQ">

                    <!--begin card -->
                    <div class="card">
                        
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                            <button class="btn btn-link faq" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                             What is Boodskap.io?
                            </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFAQ">
                            <div class="card-body">
                            Boodskap.io is an end-to-end IoT platform that facilitates the development, deployment, and management of IoT applications and devices, with a focus on industrial automation.

                            </div>
                        </div>

                    </div>
                    <!--end card -->

                    <!--begin card -->
                    <div class="card">

                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                            <button class="btn btn-link collapsed faq" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              What features does Boodskap.io offer?
                            </button>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFAQ">
                            <div class="card-body">
                            Boodskap.io offers device management, real-time data analytics, customizable dashboards, API integrations, and support for various IoT protocols.

                            </div>
                        </div>

                    </div>
                    <!--end card -->

                    <!--begin card -->
                    <div class="card">

                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                            <button class="btn btn-link collapsed faq" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Is Boodskap.io suitable for my industry?
                            </button>
                            </h5>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFAQ">
                            <div class="card-body">
                            Yes, Boodskap.io is versatile and can be used across various industries including manufacturing, smart cities, healthcare, and logistics.
                            </div>
                        </div>

                    </div>
                    <!--end card -->

                    <!--begin card -->
                    <div class="card">

                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                            <button class="btn btn-link collapsed faq" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              How does Boodskap.io ensure data security?

                            </button>
                            </h5>
                        </div>
                        
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFAQ">
                            <div class="card-body">
                            Boodskap.io employs advanced security measures including encryption, secure data transmission, and compliance with industry standards.

                            </div>
                        </div>

                    </div>
                    <!--end card -->

                </div>
                <!--end accordion -->

            </div>
            <!--end col-sm-6-->
        
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end faq section -->

<!--begin showcase section-->
  <section class="section-primary" id="showcase">

    <!--begin container-->
    <div class="container-fluid">

        <!--begin row-->
        <div class="row">

            <!--begin col md 12-->
            <div class="col-md-12 text-center">

                <h2 class="section-title white-text">Explore Latest Projects</h2>

                <p class="section-subtitle white"> Discover Boodskap.io's latest industry automation projects integrating IoT 
<br>and edge computing for seamless operational efficiency and transformative insights.</p>
                
            </div>
            <!--end col md 12-->

            <!--begin col md 12-->
            <div class="col-md-12 padding-top-20">

                <!--begin carousel-->
                <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                    
                    <!--begin carousel-indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselIndicators" data-slide-to="1"></li>
                    </ol>
                    <!--end carousel-indicators-->

                    <!--begin carousel-inner-->
                    <div class="carousel-inner">

                        <!--begin carousel-item-->
                        <div class="carousel-item active">
                            
                            <div class="row">

                                <div class="col-sm-3">
                                    <img src="<%=cdnUrl%>/images/products/prod_1.png" data-src="<%=cdnUrl%>/images/products/prod_1.png" alt="showcase" class="gallery-show">
                                </div>

                                <div class="col-sm-3">
                                    <img src="<%=cdnUrl%>/images/products/prod_2.png" data-src="<%=cdnUrl%>/images/products/prod_2.png" alt="showcase" class="gallery-show">
                                </div>

                                <div class="col-sm-3">
                                    <img src="<%=cdnUrl%>/images/products/prod_3.png" data-src="<%=cdnUrl%>/images/products/prod_3.png" alt="showcase" class="gallery-show">
                                </div>

                                <div class="col-sm-3">
                                    <img src="<%=cdnUrl%>/images/products/prod_9.png" data-src="<%=cdnUrl%>/images/products/prod_9.png" alt="showcase" class="gallery-show">
                                </div>
                                
                            </div>

                        </div>
                        <!--end carousel-item-->

                        <!--begin carousel-item-->
                        <div class="carousel-item">
                            
                            <div class="row">

                                <div class="col-sm-3">
                                    <img src="<%=cdnUrl%>/images/products/prod_5.png" data-src="<%=cdnUrl%>/images/products/prod_5.png" alt="showcase" class="gallery-show">
                                </div>

                                <div class="col-sm-3">
                                    <img src="<%=cdnUrl%>/images/products/prod_6.png" data-src="<%=cdnUrl%>/images/products/prod_6.png" alt="showcase" class="gallery-show">
                                </div>

                                <div class="col-sm-3">
                                    <img src="<%=cdnUrl%>/images/products/prod_7.png" data-src="<%=cdnUrl%>/images/products/prod_7.png" alt="showcase" class="gallery-show">
                                </div>

                                <div class="col-sm-3">
                                    <img src="<%=cdnUrl%>/images/products/prod_8.png" data-src="<%=cdnUrl%>/images/products/prod_8.png" alt="showcase" class="gallery-show">
                                </div>

                            </div>

                        </div>
                        <!--end carousel-item-->

                    </div>
                    <!--end carousel-inner-->

                    <!--begin carousel-control-prev-->
                    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <!--end carousel-control-prev-->

                    <!--begin carousel-control-next-->
                    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--end carousel-control-next-->

                </div>
                <!--end carousel-->

            </div>
            <!--end col md 12-->

        </div>
        <!--end row -->

    </div>
    <!--end container -->

</section>
<!--end gallery section -->

  <!--begin services section -->
  <section class="section-white section-bottom-border" id="features">

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col-md-12-->
            <div class="col-md-12 text-center padding-bottom-10">
                <h2 class="section-title">Boodskap Features</h2>
            </div>
            <!--end col-md-12 -->

        </div>
        <!--end row -->

        <!--begin row -->
        <div class="row">

            <!--begin col-md-4-->
            <div class="col-md-4">

                <div class="feature-box wow fadeIn" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeIn;">

                    <i class="fas fa-tachometer-alt text-banner"></i>

                    <h4>Device Management</h4>

                    <p> Seamlessly connect, monitor, and manage a wide range of IoT devices using various protocols</p>

                </div>
            </div>
            <!--end col-md-4 -->

            <!--begin col-md-4-->
            <div class="col-md-4">

                <div class="feature-box wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">

                    <i class="fas fa-chart-line text-banner"></i>

                    <h4>Real-Time Analytics</h4>

                    <p>Analyze and visualize data in real-time to gain actionable insights and make informed decisions</p>

                </div>
            </div>
            <!--end col-md-4 -->

            <!--begin col-md 4-->
            <div class="col-md-4">

                <div class="feature-box wow fadeIn" data-wow-delay="0.75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeIn;">

                    <i class="fas fa-bell text-banner"></i>

                    <h4>Customizable Dashboards</h4>

                    <p>Create and configure dashboards tailored to specific needs, displaying key metrics and data points</p>

                </div>
            </div>
            <!--end col-md-4 -->

        </div>
        <!--end row -->

        <!--begin row -->
        <div class="row">

            <!--begin col-md-4-->
            <div class="col-md-4">

                <div class="feature-box wow fadeIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">

                    <i class="fas fa-plug text-banner"></i>
                                        <h4>API Integration</h4>

                    <p> Integrate with existing systems and applications through robust APIs for enhanced functionality.</p>

                </div>
            </div>
            <!--end col-md-4 -->

            <!--begin col-md-4-->
            <div class="col-md-4">

                <div class="feature-box wow fadeIn" data-wow-delay="1.25s" style="visibility: visible; animation-delay: 1.25s; animation-name: fadeIn;">

                    <i class="fas fa-rocket text-banner"></i>

                    <h4>Scalability</h4>

                    <p>Easily scale the platform to accommodate growing numbers of devices and data without compromising performance</p>

                </div>
            </div>
            <!--end col-md-4 -->

            <!--begin col-md-4-->
            <div class="col-md-4">

                <div class="feature-box wow fadeIn" data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.5s; animation-name: fadeIn;">

                    <i class="fab fa-rocketchat text-banner"></i>

                    <h4>Security</h4>

                    <p>Ensure data integrity and privacy with advanced security features like encryption and secure data transmission</p>

                </div>
            </div>
            <!--end col-md-4 -->

        </div>
        <!--end row -->

    </div>
    <!--end container -->

</section>
<!--end services section -->

<!--begin testimonials section -->

<!--end testimonials section -->

<!--begin section-white -->
<section class="section-white section-bottom-border">
    
    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">
        
            <!--begin col-md-6-->
            <div class="col-md-6 padding-top-20">

                <h3>Boodskap’s Digital Twin Platform</h3>

                <p>In the evolving IoT landscape, Boodskap’s Digital Twin Platform offers a robust solution for manufacturers and their customers. This platform powered by Boodskap allows customers to access and integrate their IoT devices with ease through precise digital replicas of physical assets.</p>

                <ul class="benefits">
                    <li><i class="fa fa-check text-primary"></i> No More Software Development Expenditures</li>
                    <li><i class="fa fa-check text-primary"></i> No More Inflated IT Expenses</li>
                    <li><i class="fa fa-check text-primary"></i> Drastically Reduced Cloud Costs</li>
                    <li><i class="fa fa-check text-primary"></i> Effortless Scalability</li>
                    <li><i class="fa fa-check text-primary"></i> Custom Branded Solutions</li>
                    <li><i class="fa fa-check text-primary"></i> Advanced Data Security</li>
                    <li><i class="fa fa-check text-primary"></i> Effortless Data Migration</li>
                    <li><i class="fa fa-check text-primary"></i> Cloud Migration with Ease</li>
                    <li><i class="fa fa-check text-primary"></i> Complete Data Control</li>
                    <li><i class="fa fa-check text-primary"></i> Complete Customization of Dashboards</li>
                    <li><i class="fa fa-check text-primary"></i> Create Apps Across iOS, Android, Linux with a Single Click</li>
                    
                                        </ul>

                <a href="https://platform.boodskap.io/" class="btn-outlined scrool">Get Started</a>
                
            </div>
            <!--end col-md-6-->
        
            <!--begin col-md-6-->
            <div class="col-md-6">

                <img src="<%=cdnUrl%>/images/industries/bdf.jpg" class="hero-image width-100 height-800 box-shadow" alt="pic">

            </div>
            <!--end col-sm-6-->
            
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end section-white-->
<%- include ../../pricing-section.html %>


<!--begin newsletter section -->
<section class="section-primary small-paddings" id="newsletter-section">

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col-md-12 -->
            <div class="col-md-12 text-center padding-top-50 padding-bottom-20">

   
                <h3 class="white-text">Join our mailing list to get the latest news and updates<br>
                FREE promo codes for Boodskap's IoT Platform</h3>

            </div>
            <!--end col-md-12 -->

            <!--begin col-md-12-->
            <div class="col-md-12 padding-bottom-40">

                <!--begin newsletter_form_wrapper -->
                <div class="newsletter_form_wrapper wow bounceIn" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: bounceIn;">
                    
                    <!--begin newsletter_form_box -->
                    <div class="newsletter_form_box">
                        
                        <!--begin success_box -->
                        <p class="newsletter_success_box" style="display:none;">We received your message and you'll hear from us soon. Thank You!</p>
                        <!--end success_box -->
                        
                        <!--begin newsletter-form -->
                        <form id="newsletter-form" class="newsletter-form" action="javascript:void(0)" onsubmit="sendNewsletterEmail()">

                            <input id="email_newsletter" required type="email" name="nf_email" placeholder="Enter Your Email Address" onkeyup="emptySpaceCheck(this);" onkeypress="emptySpaceCheck(this);">  

                            <input type="submit" value="GET LATEST UPDATES" class="button-prim submitBtn p-2" style="border: 2px solid white !important;color: #cd2122 !important;
                            background-color: #fff !important;
                            background-color: #ffff;
                            " id="submit-button-newsletter">
                         <div class="sentMessage mt-5" style="width:50%;margin:auto"></div>
                        </form>
                        <!--end newsletter-form -->
                    
                    </div>
                    <!--end newsletter_form_box -->
        
                </div>
                <!--end newsletter_form_wrapper -->

            </div>
            <!--end col-md-12 -->

        </div>
        <!--end row -->

    </div>
    <!--end container -->

</section>
<!--end newsletter section -->

<!--begin blog -->
<section class="section-grey" id="blog">
    
    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">
        
            <!--begin col-md-12-->
            <div class="col-md-12 text-center">
                <h2 class="section-title">Our Blog</h2>
                
                <p class="section-subtitle">Latest news, tips and best practices of IOT's.</p>
            </div>
            <!--end col-md-12-->
        
        </div>
        <!--end row-->
        
        <!--begin row-->
        <div class="row">

            <!--begin col-sm-4 -->
            <div class="col-md-4">
                
                <!--begin blog-item -->
                <div class="blog-item">
                    
                    <!--begin popup image -->
                    <div class="popup-wrapper">
                        <div class="popup-gallery">
                            <a href="/healthcare/blog-1" id="blog-1">
                                <img src="<%=cdnUrl%>/images/industries/smartcities/Blog1.webp" data-src="<%=cdnUrl%>/images/industries/smartcities/Blog1.webp" class="width-100" alt="pic">
                                <span class="eye-wrapper2"><i class="fa fa-link eye-icon"></i></span>
                            </a>
                        </div>
                    </div>
                    <!--end popup image -->
                        
                    <!--begin blog-item_inner -->
                    <div class="blog-item-inner">
                    
                        <h3 class="blog-title"><a href="/smartcities/blog-1">Top 10 Smart City Trends and Innovations in 2024
                        </a></h3>
                        
                        <a href="/smartcities/blog-1" class="blog-icons"><i class="fa fa-user"></i> Mason Griffin
                        </a>
                        
                        <a href="/smartcities/blog-1" class="blog-icons last"><i class="fa fa-tags"></i> Blog</a>
                        
                        <p>As urban populations continue to grow, the need for efficient, sustainable, and technologically advanced solutions becomes increasingly critical. Boodskap's IoT Platform as a Service (PaaS) is at the forefront of this transformation, enabling smart cities to leverage cutting-edge technologies to enhance quality of life, improve sustainability, and optimize urban management. Here, we explore the top 10 trends and innovations in smart cities for 2024.</p>                  
                    </div>
                    <!--end blog-item-inner -->
                    
                </div>
                <!--end blog-item -->
                    
            </div>
            <!--end col-sm-4-->
            
            <!--begin col-sm-4 -->
            <div class="col-md-4">
                
                <!--begin blog-item -->
               <div class="blog-item">
                    
                    <!--begin popup image -->
                    <div class="popup-wrapper">
                        <div class="popup-gallery w-100">
                            <a href="" id="blog-2">
                                <img src="<%=cdnUrl%>/images/industries/smartcities/Blog2.jpeg" data-src="<%=cdnUrl%>/images/industries/smartcities/Blog2.jpeg" class="width-100" alt="pic">
                                <span class="eye-wrapper2"><i class="fa fa-link eye-icon"></i></span>
                            </a>
                        </div>
                    </div>
                    <!--end popup image -->
                        
                    <!--begin blog-item_inner -->
                    <div class="blog-item-inner">
                    
                        <h3 class="blog-title"><a href="/smartcities/blog-2">A Clear Vision for the Future of IoT and Smart Cities with Boodskap

                        </a></h3>
                        
                        <a href="/smartcities/blog-2" class="blog-icons"><i class="fa fa-user"></i> Natalie Fisher
                        </a>
                        
                        <a href="/smartcities/blog-2" class="blog-icons last"><i class="fa fa-tags"></i> Blog</a>
                        
                        <p>As urban populations continue to grow, cities around the world face increasing pressure to provide efficient, sustainable, and high-quality services to their residents. The integration of Internet of Things (IoT) technology into urban infrastructure is a powerful solution to these challenges, transforming traditional cities into smart cities. Boodskap's IoT Platform as a Service (PaaS) is at the forefront of this transformation, offering comprehensive solutions to optimize city operations, enhance public services, and improve the quality of life for citizens.</p>                  
                    </div>
                    <!--end blog-item-inner -->
                    
                </div>
                <!--end blog-item -->
                    
            </div>
            <!--end col-sm-4-->
            
            <!--begin col-sm-4 -->
            <div class="col-md-4">
                
                <!--begin blog-item -->
                <div class="blog-item">
                    
                    <!--begin popup image -->
                    <div class="popup-wrapper">
                        <div class="popup-gallery">
                            <a href="/smartcities/blog-3" id="blog-3">
                                <img src="<%=cdnUrl%>/images/industries/smartcities/Blog3.webp" data-src="<%=cdnUrl%>/images/industries/smartcities/Blog3.webp" class="width-100" alt="pic">
                                <span class="eye-wrapper2"><i class="fa fa-link eye-icon"></i></span>
                            </a>
                        </div>
                    </div>
                    <!--end popup image -->
                        
                    <!--begin blog-item_inner -->
                    <div class="blog-item-inner">
                    
                        <h3 class="blog-title"><a href="">IoT in Healthcare: Elevating Patient Care with Boodskap’s IoT Platform
                        </a></h3>
                        
                        <a href="/smartcities/blog-3" class="blog-icons"><i class="fa fa-user"></i> Owen Blake
                        </a>
                        
                        <a href="/smartcities/blog-3" class="blog-icons last"><i class="fa fa-tags"></i> Blog</a>
                        
                        <p>The healthcare industry is witnessing a remarkable transformation with the advent of Internet of Things (IoT) technologies. IoT in healthcare, often referred to as the Internet of Medical Things (IoMT), leverages connected devices and real-time data to enhance patient care, streamline operations, and improve overall healthcare outcomes. Boodskap’s IoT platform is at the forefront of this revolution, providing innovative solutions for remote patient monitoring, chronic disease management, and more. This blog explores the key benefits, use cases, and future trends of IoT in healthcare with Boodskap.</p>
                                              
                    </div>
                    <!--end blog-item-inner -->
                    
                </div>
                <!--end blog-item -->
                    
            </div>
            <!--end col-sm-4-->
         
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end blog -->

  <!--begin contact -->
<section class="section-white section-top-border" id="contact">
    
    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">
    
            <!--begin col-md-6 -->
            <div class="col-md-6">

                <h4>Get in touch</h4>

                <!--begin success message -->
                <p class="contact_success_box" style="display:none;">We received your message and you'll hear from us soon. Thank You!</p>
                <!--end success message -->
                
                <!--begin contact form -->
                <form id="contact-form" class="contact" action="javascript:void(0)" onsubmit="sendGetinTouchEmail()">
                
                    <input class="contact-input white-input" required="" name="contact_names" placeholder="Full Name*" type="text" id="name" onkeyup="emptySpaceCheck(this);" onkeypress="emptySpaceCheck(this);">

                    <input class="contact-input white-input" required="" name="contact_email" placeholder="Email Address*" type="email" id="email" onkeyup="emptySpaceCheck(this);" onkeypress="emptySpaceCheck(this);">

                    <input class="contact-input white-input" required="" name="contact_phone" placeholder="Phone Number*" type="text" id="phone" onkeyup="emptySpaceCheck(this);" onkeypress="emptySpaceCheck(this);">

                    <textarea class="contact-commnent white-input" rows="2" cols="20" name="contact_message" placeholder="Your Message..." id="message" onkeyup="emptySpaceCheck(this);" onkeypress="emptySpaceCheck(this);"></textarea>

                    <input value="Send Message" id="submit-button" class="btn btn-fullcolor submitBtn" type="submit">
                    <div class="sentMessage mt-5"></div>
                </form>
                <!--end contact form -->
                
            </div>
            <!--end col-md-6 -->

            <!--begin col-md-6 -->
            <div class="col-md-6">

                <h4>How to find us</h4>

                <iframe class="contact-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.8340500607496!2d-96.99222888871202!3d32.92898247349047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c2975f3f3d4e7%3A0x2f179d41b1c08868!2s8951%20Cypress%20Waters%20Blvd%20%23160%2C%20Coppell%2C%20TX%2075019!5e0!3m2!1sen!2sus!4v1723533142572!5m2!1sen!2sus" width="600" height="270" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


                <h5>Head Office</h5>

                <p class="contact-info"><i class="fas fa-map-marker-alt text-primary"></i> 8951 Cypress Waters Blvd suite 160, Dallas,TX 75019</p>
                
                <p class="contact-info"><i class="fas fa-envelope text-primary"></i> <a href="mailto:ranjith@boodskap.io">ranjith@boodskap.io</a></p>
                
                <p class="contact-info"><i class="fas fa-phone text-primary"></i> +1 4694286691</p>

            </div>
            <!--end col-md-6 -->

        </div>
        <!--end row-->
        
  </div>
  <!--end container-->
        
</section>
<!--end contact-->


<!-- JS FILES // Loaded on this page -->
<!-- Slick required js script for Testimonials & Recent Work Carousel elements -->


