<style>
    .slide-item-bg.vertical-pos--top {
       background-position: center !important;
       }
   </style>
   <title>Boodskap ZedBee</title>
   <div id="home" class="kl-slideshow iosslider-slideshow uh_light_gray maskcontainer--shadow_ud iosslider--custom-height scrollme">
       <!-- Loader -->
       <div class="kl-loader">
           <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewbox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve"><path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"></path><path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z" transform="rotate(98.3774 20 20)"><animatetransform attributetype="xml" attributename="transform" type="rotate" from="0 20 20" to="360 20 20" dur="0.5s" repeatcount="indefinite"></animatetransform></path></svg>
       </div>
       <!-- Loader -->
   
       <div class="bgback">
       </div>
   
       <!-- Animated Sparkles -->
       <div class="th-sparkles">
       </div>
       <!--/ Animated Sparkles -->
   
       <!-- iOS Slider wrapper with animateme scroll efect -->
       <div class="iosSlider kl-slideshow-inner animateme" >
           <!-- Slides -->
           <div class="kl-iosslider hideControls">
               <!-- Item #1 -->
               <div class="item iosslider__item">
                   <!-- Background slide image -->
                   <div class="slide-item-bg vertical-pos--top" style="background-image:url(/images/assets/zedbee-main.png);">
                   </div>
   
                   <!-- Overlay -->
                   <div class="kl-slide-overlay">
                   </div>
   
                  
               </div>
               <!--/ Item #1 -->
   
           </div>
           <!--/ Slides -->
   
           <!--/ Navigation Controls - Prev -->
       </div>
       <!--/ iOS Slider wrapper with animateme scroll efect -->
   
   
       <div class="scrollbarContainer">
       </div>
   
       <!-- Bottom mask style 2 -->
       <div class="kl-bottommask kl-bottommask--shadow_ud">
       </div>
       <!--/ Bottom mask style 2 -->
   
       <div class="kl-bottommask kl-bottommask--mask5">
           <svg width="2700px" height="64px" class="svgmask" viewBox="0 0 2700 64" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
               <defs>
                   <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask5">
                       <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                       <feGaussianBlur stdDeviation="1.5" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                       <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                       <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.45 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                       <feMerge>
                           <feMergeNode in="SourceGraphic"></feMergeNode>
                           <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                       </feMerge>
                   </filter>
               </defs>
               <path d="M1892,0 L2119,44.993 L2701,45 L2701.133,63.993 L-0.16,63.993 L1.73847048e-12,45 L909,44.993 L1892,0 Z" class="bmask-bgfill" fill="#ffffff" filter="url(#filter-mask5)"></path>
               <path d="M2216,44.993 L2093,55 L1882,6 L995,62 L966,42 L1892,0 L2118,44.993 L2216,44.993 L2216,44.993 Z" fill="#cd2122" class="bmask-customfill" filter="url(#filter-mask5)"></path>
           </svg>
       </div>
   
   </div>
   <div class="container-fluid">
       <div class="row">
           <div class="col-md-12 col-sm-12 col-lg-12">
               <!-- Laptop slider wrapper light theme style -->
               <div class="kl-slideshow laptop-slider__slideshow">
                   <div class="laptop-slider__inner ls--theme-light">
                       <div class="ls__container">
                           <!-- Laptop mask -->
                           <div class="ls__laptop-mask">
                               <div class="ls__screen">
                                   <!-- Slider wrapper -->
                                   <div class="hg_laptop_slider_wrapper">
                                       <!-- Laptop Slider -->
                                       <div class="hg_laptop_slider" data-trans="5000">
                                           <!-- Laptop slider container -->
                                           <div class="hg_laptop_slider_container">
                                               <!-- Slide #1 -->
                                                   <!-- Image -->
                                                   <div class="ls-slider-item__img" style="background-image:url(/images/assets/zedbee-mainbg.png)">
                                                   </div>
                                                   <!--/ Image -->
   
                                                   <!-- Caption Title -->
                                                   <h3 class="ls__item-caption ff-alternative">
                                                   </h3>
                                                   <!--/ Caption Title -->
                                           </div>
                                           <!--/ .hg_laptop_slider_container -->
                                       </div>
                                       <!--/ Laptop Slider -->
                                   </div>
                                   <!--/ .hg_laptop_slider_wrapper -->
                               </div>
                               <!--/ .ls screen -->
   
                              
   
                               <!-- Navigation arrows -->
                               <div class="ls__arrows">
                                   <!-- Left -->
                                   <span class="ls__arrow ls__arrow-left"></span>
                                   <!-- Right -->
                                   <span class="ls__arrow ls__arrow-right"></span>
                               </div>
                               <!--/ Navigation arrows -->
                           </div>
                           <!--/ Laptop mask -->
   
                           <div class="clearfix">
                           </div>
                       </div>
                       <!--/ .laptop-slider__inner -->
                   </div>
                   <!--/ Laptop slider light theme style -->
               </div>
           </div>
           <!--/ col-md-12 col-sm-12 col-lg-6 -->
   <div class="container">
       <div class="col-md-12 col-sm-12 col-lg-12">
          
           <h4 class="fs-normal fw-bold tcolor">
              About ZedBee
           </h4>
   
           <div class="mb-30 clearfix">
   
               <div class="row">
                   <div class="col-sm-12">
                       <ul class="fancy-list fs-normal">
                               <li>A solution provides endless Real-time Monitoring, Maximizing Profits, Remote Accessibility, Smarter Maintenance and Management Easy.</li>
                               <li>Includes features for energy monitoring and management, helping users reduce their energy consumption and optimize the efficiency of their homes or businesses.</li>
                               <li>Visual representation of the energy meters values with respective charts</li>
                               <li>Real time Alarms triggered when the device is not reporting.</li>
                               <li>They are perfect fit for company working In Energy Consumption and Building Management Systems. </li>
                       </ul><!-- /.dash-list -->
                   </div>
   
               </div>
           </div>
   
           <!-- /.clearfix -->
       </div> 
       <div class="col-md-12 col-sm-12 col-lg-12">
            <h5 class="fs-normal fw-bold tcolor">
             Usecase | Energy Usage Optimization with Boodskap's IoT Platform
           </h5>
   
           <div class="mb-30 clearfix">
   
               <div class="row">
                   <div class="col-sm-12 col-lg-12 col-md-12">
                       <img src="/images/assets/zedbee-dashboard.png" alt="Energy_Dashboard"/>
                   </div>
                   <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 p-5">
                       <h5 class="fs-normal fw-bold tcolor">
                          PRODUCT DESCRIPTION
                       </h5>
                       <div class="mb-30 clearfix">
                          <div class="row">
                             <div class="col-sm-12">
                                <ul class="fancy-list fs-normal">
                                   <li>Boodskap's IoT platform revolutionizes real-time energy usage optimization by integrating advanced IoT sensors and real-time data analytics. This empowers facility managers and energy providers to monitor and optimize energy consumption continuously, detect inefficiencies, and enhance overall energy management efficiency.
                                   </li>
                                   <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                      Data Collection:
                                   </h6>
                                   <li><strong>Sensors Used: </strong>Boodskap integrates various IoT sensors such as smart meters, power quality analyzers, and temperature sensors to monitor and capture real-time energy usage data.
           
                                   </li>
                                   <li><strong>Data Captured: </strong>These sensors collect critical data including real-time energy consumption, power quality metrics, ambient temperature, and operational statuses of equipment.
           
                                   </li>
                                   <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                      Data Transmission:
                                   </h6>
                                   <li><strong>Protocols: </strong>The collected data is transmitted to the Boodskap IoT platform using secure and reliable IoT protocols such as MQTT, Zigbee, and LoRaWAN.
                                   </li>
                                   <li><strong>Efficiency: </strong>Boodskap ensures secure and efficient data transmission, allowing seamless integration with energy management systems and smart devices.
                                   </li>
                                   <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                      Data Analytics:
                                   </h6>
                                   <li><strong>Analytics: </strong>Boodskap's platform employs advanced data analytics and machine learning algorithms to analyze energy consumption and sensor data.
           
                                   </li>
                                   <li><strong>Insights: </strong> It identifies patterns and trends in energy usage, such as peak demand periods, inefficiencies, and opportunities for load balancing.
           
                                   </li>
                                   <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                      Predictive Maintenance:
                                   </h6>
                                   <li><strong>Automation: </strong>The platform generates predictive insights, alerting energy managers to potential system inefficiencies or maintenance needs before they become critical.
           
                                   </li>
                                   <li><strong>Dashboards: </strong>These insights are accessible through customizable dashboards and reports, providing a comprehensive view of energy system performance and optimization opportunities.
           
                                   </li>
                                   <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                      Proactive Management:
                                   </h6>
                                   <li><strong>Timely Interventions: </strong>With Boodskap's optimization capabilities, energy managers can implement timely interventions based on real-time data.
                                   </li>
                                   <li><strong>Customization: </strong>Ensures personalized energy management plans tailored to specific facility needs and operational conditions.
           
                                   </li>
                                   <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                      Benefits:
                                   </h6>
                                   <li><strong>Enhanced Energy Efficiency: </strong>Continuous monitoring and real-time optimization reduce energy waste and improve overall efficiency.
           
                                   </li>
                                   <li><strong>Improved Management Efficiency: </strong>Real-time monitoring of energy data enhances the effectiveness of energy management operations.
                                   </li>
                                   <li><strong>Cost Savings: </strong>Early detection of potential issues reduces energy costs and prevents expensive repairs or system downtimes.
                                   </li>
                                   <li><strong>Optimized Operations: </strong>Data-driven insights optimize the deployment of energy resources and management strategies.
           
                                   </li>
                                   <li><strong>Data-Driven Decisions: </strong>Energy managers can make informed decisions based on accurate and real-time energy data.
                                   </li>
                                   <i>Boodskap's IoT platform empowers energy managers to shift from reactive to proactive energy management, ensuring efficient monitoring, enhanced efficiency, and improved operational performance.
                                   </i>
                                </ul>
                                <!-- /.dash-list -->
                             </div>
                          </div>
                       </div>
                       <!-- /.clearfix -->
                    </div>
                 </div>
   
               </div>
           </div>
   
           <!-- /.clearfix -->
       </div>
   </div>
           
   
   
           <!--/ col-md-12 col-sm-12 col-lg-4 -->
       </div>
   
   </div>