<title> Automated Checkout - Boodskap</title>
<style>
 .ls-slider-item__img {   
    background-size: contain !important;
 }
</style>

<!-- Required CSS file for Laptop slider element  -->
<link rel="stylesheet" href="/css/sliders/laptop-slider/laptop-slider.css" type="text/css" media="all">
<link href="css/industries.css" rel="stylesheet">



<div id="page_header" class="page-subheader site-subheader-cst uh_flat_dark_blue ">
    <div class="bgback"></div>

    <!-- Animated Sparkles -->
    <div class="th-sparkles"></div>
    <!--/ Animated Sparkles -->

    <!-- Background -->
    <div class="kl-bg-source">
        <!-- Gradient overlay -->
        <div class="kl-bg-source__overlay"
            style="background: rgba(36,36,36,1); background: -moz-linear-gradient(left, rgba(36,36,36,1) 0%, rgba(107,107,107,1) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(36,36,36,1)), color-stop(100%,rgba(107,107,107,1))); background: -webkit-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: -o-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: -ms-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: linear-gradient(to right, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); ">
        </div>
        <!--/ Gradient overlay -->
    </div>
    <!--/ Background -->

    <!-- Sub-Header content wrapper -->
    <div class="ph-content-wrap d-flex">
        <div class="container align-self-center">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="clearfix"></div>
                </div>
                <!--/ col-sm-12 col-md-6 col-lg-6 -->

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- Sub-header titles -->
                    <div class="subheader-titles pt-100">
                        <h2 class="subheader-maintitle pt-4">   Automated Checkout with Boodskap's IoT Platform</h2>
                    </div>
                    <!--/ Sub-header titles -->
                </div>
                <!--/ col-sm-12 col-md-6 col-lg-6 -->
            </div>
            <!--/ row -->
        </div>
        <!--/ .container .align-self-center -->
    </div>
    <!--/ Sub-Header content wrapper .d-flex -->

    <!-- Bottom mask style 3 -->
    <div class="kl-bottommask kl-bottommask--mask3">
        <svg width="5000px" height="57px" class="svgmask " viewBox="0 0 5000 57" version="1.1"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask3">
                    <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                    <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                    <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1"
                        result="shadowInnerInner1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.4 0" in="shadowInnerInner1"
                        type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                    <feMerge>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                        <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                    </feMerge>
                </filter>
            </defs>
            <path
                d="M9.09383679e-13,57.0005249 L9.09383679e-13,34.0075249 L2418,34.0075249 L2434,34.0075249 C2434,34.0075249 2441.89,33.2585249 2448,31.0245249 C2454.11,28.7905249 2479,11.0005249 2479,11.0005249 L2492,2.00052487 C2492,2.00052487 2495.121,-0.0374751261 2500,0.000524873861 C2505.267,-0.0294751261 2508,2.00052487 2508,2.00052487 L2521,11.0005249 C2521,11.0005249 2545.89,28.7905249 2552,31.0245249 C2558.11,33.2585249 2566,34.0075249 2566,34.0075249 L2582,34.0075249 L5000,34.0075249 L5000,57.0005249 L2500,57.0005249 L1148,57.0005249 L9.09383679e-13,57.0005249 Z"
                class="bmask-bgfill" filter="url(#filter-mask3)" fill="#fbfbfb"></path>
        </svg>
        <i class="fas fa-angle-down"></i>
    </div>
    <!--/ Bottom mask style 3 -->
</div>



<section class="hg_section pt-50  bg-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <!-- Laptop slider wrapper light theme style -->
                <div class="kl-slideshow laptop-slider__slideshow">
                    <div class="laptop-slider__inner ls--theme-light">
                        <div class="ls__container">
                            <!-- Laptop mask -->
                            <div class="ls__laptop-mask">
                                <div class="ls__screen">
                                    <!-- Slider wrapper -->
                                    <div class="hg_laptop_slider_wrapper">
                                        <!-- Laptop Slider -->
                                        <div class="hg_laptop_slider" data-trans="5000">
                                            <!-- Laptop slider container -->
                                            <div class="hg_laptop_slider_container">
                                                <!-- Slide #1 -->
                                                <div class="ls__slider-item">
                                                    <!-- Image -->
                                                    <div class="ls-slider-item__img" style="background-image:url(/images/industries/retail/automated-checkout.jpg)">
                                                    </div>
                                                    <!--/ Image -->

                                                    <!-- Caption Title -->
                                                    <h3 class="ls__item-caption ff-alternative">
                                                    </h3>
                                                    <!--/ Caption Title -->
                                                </div>
                                                <!--/ Slide #1 -->


                                                <!--/ Slide #2 -->

                                                <!--/ Slide #3 -->
                                            </div>
                                            <!--/ .hg_laptop_slider_container -->
                                        </div>
                                        <!--/ Laptop Slider -->
                                    </div>
                                    <!--/ .hg_laptop_slider_wrapper -->
                                </div>
                                <!--/ .ls screen -->

                                <!-- Navigation bullets -->
                                <div class="ls__nav">
                                    <!-- Item #1 -->
                                    <a href="#" class="ls__nav-item"></a>
                                    <!-- Item #2 -->
                                   <!-- <a href="#" class="ls__nav-item"></a>
                                    &lt;!&ndash; Item #3 &ndash;&gt;
                                    <a href="#" class="ls__nav-item"></a>-->
                                </div>
                                <!--/ Navigation bullets -->

                                <!-- Navigation arrows -->
                                <div class="ls__arrows">
                                    <!-- Left -->
                                    <span class="ls__arrow ls__arrow-left"></span>
                                    <!-- Right -->
                                    <span class="ls__arrow ls__arrow-right"></span>
                                </div>
                                <!--/ Navigation arrows -->
                            </div>
                            <!--/ Laptop mask -->

                            <div class="clearfix">
                            </div>
                        </div>
                        <!--/ .laptop-slider__inner -->
                    </div>
                    <!--/ Laptop slider light theme style -->
                </div>
            </div>
            </div>
            <!--/ col-md-12 col-sm-12 col-lg-6 -->
            <div class="row">

            <div class="col-md-12 col-sm-12 col-lg-12 p-5">
                <h5 class="fs-normal fw-bold tcolor">
                    PRODUCT DESCRIPTION
                </h5>

                <div class="mb-30 clearfix">

                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="fancy-list fs-normal">
                                    <li>Automated checkout using IoT technology is transforming the retail industry by enabling customers to complete their purchases without the need for cashier assistance. This innovative approach leverages IoT-enabled devices to streamline the checkout process, reduce wait times, and enhance the overall shopping experience. Boodskap's IoT Platform as a Service (PaaS) offers comprehensive solutions for automated checkout, integrating various sensors and devices to deliver seamless and efficient transactions.


</li>
                                    <h5 class="fs-normal fw-bold tcolor text-uppercase">
                                        How Boodskap is Used
                                    </h5>    
                                    <li>Boodskap’s IoT platform allows retailers to implement automated checkout systems that use data from various sensors and devices. The platform’s robust data analytics and integration capabilities enable real-time processing of transactions, inventory updates, and customer data, ensuring a smooth and hassle-free checkout experience for customers.
                                    </li>
                                    <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                            Devices and Sensors Used Devices:

                                    </h6>                    
                                    <li>Self-checkout kiosks with integrated payment systems


                                    </li>
                                    <li>RFID scanners for quick item identification


                                    </li>
                                    <li>Barcode scanners for traditional item scanning


                                    </li>
                                    <li>Surveillance cameras for security and theft prevention

                                    </li>
                                    <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                        Sensors:

                                    </h6>                    
                                   
                                    <li><strong>RFID Tags: </strong> Automate the identification of items during checkout.

                                    </li>
                                    <li><strong>Barcode Sensors: </strong> Provide an alternative for items without RFID tags.

                                    </li>
                                    <li><strong>Image Sensors: </strong> Capture visual data for security and operational analytics.



                                    </li>
                                    <li><strong>Weight Sensors: </strong> Verify that the items in the bag match the scanned items.

                                    </li>

                                    <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                        IoT Protocols Used


                                    </h6>                    
                                    <li><strong>RFID: </strong> Facilitates the rapid identification and tracking of items.

                                    </li>
                                    <li><strong>NFC (Near Field Communication): </strong>  Enables contactless payments and item scanning.

                                    </li>
                                    <li><strong>Wi-Fi: </strong> Provides connectivity for self-checkout kiosks and sensors.

                                    </li>
                                    <li><strong>MQTT (Message Queuing Telemetry Transport):</strong> Ensures real-time data transmission between checkout devices and the IoT platform.


                                    </li>



                                    <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                        Implementation Example
                                    </h6>                    
                                    <li>A retail store using Boodskap’s IoT platform sets up self-checkout kiosks equipped with RFID scanners and barcode scanners. Customers place their items on the kiosk, where RFID tags or barcodes are scanned automatically. Weight sensors ensure that the scanned items match the actual items in the bag. Surveillance cameras monitor the checkout area for security purposes. Data from these devices is transmitted via Wi-Fi to the Boodskap platform, which processes the transactions in real-time and updates the inventory. Customers can complete their payment using contactless methods via NFC. The platform provides real-time insights into transaction data and inventory levels, helping store managers optimize operations.




                                    </li>
                                   
                                    <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                        Benefits

                                    </h6>                    
                                    <li><strong>Reduced Checkout Time:  </strong>Automates the checkout process, significantly reducing wait times for customers.




                                    </li>
                                    <li><strong>Enhanced Customer Experience: </strong>Provides a seamless and efficient shopping experience, improving customer satisfaction.



                                    </li>
                                    <li><strong>Operational Efficiency:  </strong>Streamlines the checkout process, reducing the need for manual intervention and lowering labor costs.



                                    </li>
                                    <li><strong>Real-Time Inventory Updates:  </strong> Ensures inventory levels are updated in real-time, aiding in better stock management.




                                    </li>
                                   
                           <i>By leveraging Boodskap’s IoT platform, retailers can implement advanced automated checkout solutions that enhance the shopping experience, improve operational efficiency, and provide real-time insights into inventory and transactions.
                        </i>
                            </ul><!-- /.dash-list -->
                        </div>

                    </div>
                </div>

                <!-- /.clearfix -->
            </div>
            </div>
            <!--/ col-md-12 col-sm-12 col-lg-4 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container-fluid -->
</section>



<section class="hg_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Title element -->
                <div class="kl-title-block">
                    <!-- Title with custom size & weight -->
                    <h3 class="tbk__title kl-font-alt fw-semibold tcolor">
                        WORK WITH US
                    </h3>

                    <!-- Sub-title with custom size -->
                    <h4 class="tbk__subtitle fw-thin">
                        We'll do everything to make your project success!
                    </h4>
                </div>
                <!--/ Title element -->
            </div>
        </div>
    </div>
</section>
<%- include ../../contact-form.html %>

<!-- JS FILES // Loaded on this page -->
<!-- Required js script for animateme scroll effect for slider  -->
<script type="text/javascript" src="/js/plugins/scrollme/jquery.scrollme.js"></script>

<!-- Required js script for iOS Slider -->
<script type="text/javascript" src="/js/plugins/_sliders/ios/jquery.iosslider.min.js"></script>

<!-- Required js trigger for iOS Slider -->
<script type="text/javascript" src="/js/trigger/slider/ios/kl-ios-slider.js"></script>


<!-- Required js script for Laptop Slider (iOs slider) element -->
<script type="text/javascript" src="/js/plugins/_sliders/ios/jquery.iosslider.min.js"></script>

<!-- Required js trigger for Laptop Slider element -->
<script type="text/javascript" src="/js/trigger/slider/laptop-slider/kl-laptop-slider.js"></script>

