<div id="page_header" class="page-subheader site-subheader-cst ">
    <div class="bgback">
    </div>

    <!-- Animated Sparkles -->
    <div class="th-sparkles"></div>
    <!--/ Animated Sparkles -->

    <!-- Background source -->
    <div class="kl-bg-source">
        <!-- Gradient overlay -->
        <div class="kl-bg-source__overlay" style="background: rgba(186,3,3,1); background: -moz-linear-gradient(left, rgba(186,3,3,1) 0%, rgba(53,53,53,0.85) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(186,3,3,1)), color-stop(100%,rgba(53,53,53,0.85))); background: -webkit-linear-gradient(left, rgba(186,3,3,1) 0%,rgba(53,53,53,0.85) 100%); background: -o-linear-gradient(left, rgba(186,3,3,1) 0%,rgba(53,53,53,0.85) 100%); background: -ms-linear-gradient(left, rgba(186,3,3,1) 0%,rgba(53,53,53,0.85) 100%); background: linear-gradient(to right, rgba(186,3,3,1) 0%,rgba(53,53,53,0.85) 100%); ">
        </div>
        <!--/ Gradient overlay -->
    </div>
    <!--/ Background source -->


    <!-- Bottom mask style 3 -->
    <div class="kl-bottommask kl-bottommask--mask3">
        <svg width="2700px" height="57px" class="svgmask" viewBox="0 0 2700 57" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <defs>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask3">
                    <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                    <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                    <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.4 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                    <feMerge>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                        <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                    </feMerge>
                </filter>
            </defs>
            <path d="M-2,57 L-2,34.007 L1268,34.007 L1284,34.007 C1284,34.007 1291.89,33.258 1298,31.024 C1304.11,28.79 1329,11 1329,11 L1342,2 C1342,2 1345.121,-0.038 1350,-1.64313008e-14 C1355.267,-0.03 1358,2 1358,2 L1371,11 C1371,11 1395.89,28.79 1402,31.024 C1408.11,33.258 1416,34.007 1416,34.007 L1432,34.007 L2702,34.007 L2702,57 L1350,57 L-2,57 Z" class="bmask-bgfill" filter="url(#filter-mask3)" fill="#fbfbfb"></path>
        </svg>
        <i class="fas fa-angle-down"></i>
    </div>
    <!--/ Bottom mask style 3 -->
</div>

<section class="hg_section pt-80 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <!-- Title element with bottom line -->
                <div class="kl-title-block text-left tbk-symbol--line tbk-icon-pos--after-title">
                    <!-- Title with custom kl-font-alt font, size and black color style -->
                    <h2 class="tbk__title kl-font-alt fs-xl black">
                        <strong>Oops 404! That page can’t be found.</strong>
                    </h2>

                    <!-- Title bottom symbol -->
                    <div class="tbk__symbol ">
                        <span></span>
                    </div>
                    <!--/ Title bottom symbol -->

                    <!-- Sub-title with custom font size and thin style -->
                    <h4 class="tbk__subtitle fs-xl fw-thin">
                        Sorry, but the page you are looking for was either not found or does not exist. <br/>
                        Try refreshing the page or click the button below to go back to the Homepage.
                    </h4>
                    <div class="text-center mt-50 mb-50">
                        <a href="/" target="_self" class="btn btn-fullcolor text-white" title="">
                            Go back to Homepage
                        </a>
                    </div>
                </div>
                <!--/ Title element with bottom line -->
            </div>
            <!--/ col-sm-12 col-md-12 -->

        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>
