<section class="hg_section--relative bg-white pt-80 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">

                <div class="testimonials-partners testimonials-partners--dark">
                    <!-- Testimonials  element-->


                    <!-- Partners element -->
                    <div class="ts-pt-partners ts-pt-partners--y-title clearfix">
                        <!-- Title -->
                        <div class="ts-pt-partners__title">
                            CLIENTS & PARTNERS
                        </div>
                        <!--/ Title -->

                    </div>
                    <!--/ Partners element - .ts-pt-partners -->
                </div>
                <!--/ Testimonials & Partners element - light text style -->
            </div>
            <!--/ col-sm-12 col-md-12 -->
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-md-3">
                <div class="clients">
                    <!-- Partner image link -->
                    <a class="ts-pt-partners__link" href="#" title="">
                        <!-- Image -->
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/nokia-logo.png" alt="" title="" />

                        <!--/ Image -->
                    </a>
                    <!--/ Partner image link -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <!-- Partner image link -->
                    <a class="ts-pt-partners__link" href="#"  title="">
                        <!-- Image -->
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/enstrapp-logo.png" alt="" title="" />

                        <!--/ Image -->
                    </a>
                    <!--/ Partner image link -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <!-- Partner image link -->
                    <a class="ts-pt-partners__link" href="#" title="">
                        <!-- Image -->
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/fourbends_logo.png" alt="" title="" />

                        <!--/ Image -->
                    </a>
                    <!--/ Partner image link -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <!-- Partner image link -->
                    <a class="ts-pt-partners__link" href="#" title="">
                        <!-- Image -->
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/growchain-logo.png" alt="" title="" />

                        <!--/ Image -->
                    </a>
                    <!--/ Partner image link -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <!-- Partner image link -->
                    <a class="ts-pt-partners__link" href="#" title="">
                        <!-- Image -->
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/amby-sure.png" style="height:40px;" alt="" title="" />

                        <!--/ Image -->
                    </a>
                    <!--/ Partner image link -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <!-- Partner image link -->
                    <a class="ts-pt-partners__link" href="#" title="">
                        <!-- Image -->
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/abletaxi.png" style="height:40px;" alt="" title="" />

                        <!--/ Image -->
                    </a>
                    <!--/ Partner image link -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <!-- Partner image link -->
                    <a class="ts-pt-partners__link" href="#" title="">
                        <!-- Image -->
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/dia_genie.png" style="height:40px;" alt="" title="" />

                        <!--/ Image -->
                    </a>
                    <!--/ Partner image link -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <!-- Partner image link -->
                    <a class="ts-pt-partners__link" href="#" title="">
                        <!-- Image -->
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/recotouch_logo.png" style="height:40px;" alt="" title="" />

                        <!--/ Image -->
                    </a>
                    <!--/ Partner image link -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <!-- Partner image link -->
                    <a class="ts-pt-partners__link" href="#" title="">
                        <!-- Image -->
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/kyyba.png"  alt="" title="" />

                        <!--/ Image -->
                    </a>
                    <!--/ Partner image link -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <!-- Partner image link -->
                    <a class="ts-pt-partners__link" href="#" title="">
                        <!-- Image -->
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/ticmega.png" style="height:40px;" alt="" title="" />

                        <!--/ Image -->
                    </a>
                    <!--/ Partner image link -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <!-- Partner image link -->
                    <a class="ts-pt-partners__link" href="#" title="">
                        <!-- Image -->
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/C2digitran.png" style="height:40px;" alt="" title="" />

                        <!--/ Image -->
                    </a>
                    <!--/ Partner image link -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <!-- Partner image link -->
                    <a class="ts-pt-partners__link" href="#" title="">
                        <!-- Image -->
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/bh.png" style="height:40px;" alt="" title="" />

                        <!--/ Image -->
                    </a>
                    <!--/ Partner image link -->
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>
