<!-- <section class="hg_section--relative bg-white pt-80 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="testimonials-partners testimonials-partners--dark">
                    <div class="ts-pt-partners ts-pt-partners--y-title clearfix">
                        <div class="ts-pt-partners__title">
                            CLIENTS & PARTNERS
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-md-3">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="#" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/nokia-logo.png" alt="" title="" />

                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="#" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/enstrapp-logo.png" alt="" title="" />
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="#" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/fourbends_logo.png" alt="" title="" />
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="#" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/growchain-logo.png" alt="" title="" />
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="#" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/amby-sure.png" style="height:100px;" alt="" title="" />
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="#" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/abletaxi.png" style="height:100px;" alt="" title="" />
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="#" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/dia_genie.png" style="height:100px;" alt="" title="" />
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="#" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/recotouch_logo.png" style="height:100px;" alt="" title="" />
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="#" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/kyyba.png" alt="" title="" />

                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="#" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/ticmega.png" style="height:100px;" alt="" title="" />

                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="#" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/C2digitran.png" style="height:100px;" alt="" title="" />

                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="#" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/bh.png" style="height:100px;" alt="" title="" />

                    </a>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section> -->

<!-- Updated clients -->

<section class="hg_section--relative bg-white pt-80 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="testimonials-partners testimonials-partners--dark">
                    <div class="ts-pt-partners ts-pt-partners--y-title clearfix">
                        <div class="ts-pt-partners__title">
                            CLIENTS & PARTNERS
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-md-2">
                <div class="clients">

                    <a class="ts-pt-partners__link" href="https://riotedgesolutions.com/" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/assets/logo/riot.png"
                            style="height:180px;" alt="" title="" />
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="https://www.zedbee.in/" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/assets/logo/zedbee.webp"
                            style="height:100px;" alt="" title="" />
                    </a>

                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="https://buddi.ai/" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/assets/logo/buddi.webp"
                            style="height:100px;" alt="" title="" />
                    </a>

                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link"
                        href="https://www.mass.gov/orgs/department-of-transitional-assistance" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/assets/logo/dta.webp"
                            style="height:100px;" alt="" title="" />
                    </a>

                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="https://www.kyyba.com/" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/assets/logo/kyyba.webp"
                            style="height:100px;" alt="" title="" />
                    </a>

                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="https://global.abb/group/en" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/assets/logo/abblogo.webp"
                            style="height:100px;" alt="" title="" />
                    </a>
                </div>
            </div>


            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="https://annamalaiuniversity.ac.in/index.php" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/assets/logo/annamalai.webp"
                            style="height:100px;" alt="" title="" />
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="https://www.digi-val.com/" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/assets/logo/digival.webp"
                            style="height:100px;" alt="" title="" />
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="https://www.nokia.com/" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/assets/logo/nokia.webp" alt=""
                            title="" />

                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="https://fourbends.com/" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/assets/logo/fourbends_logo.webp"
                            style="height:100px;" alt="" title="" />

                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="https://vitalprobe.com/" title="">
                        <img class="ts-pt-partners__img img-fluid mt-3" src="/images/assets/logo/vitalprobe.jpeg"
                            style="height:31px;" alt="" title="" />

                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="https://www.ruggedtelemetry.com/" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/assets/logo/ruggedte-e.png"
                            style="height:100px;" alt="" title="" />

                    </a>
                </div>
            </div>



            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="https://www.enstrapp.com/" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/assets/logo/enstrapp.webp"
                            style="height:100px;" alt="" title="" />

                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="https://www.yudash.com/home" title="">
                        <img class="ts-pt-partners__img img-fluid mt-2" src="/images/assets/logo/yudash.png"
                            style="height:45px;" alt="" title="" />

                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="/images/assets/logo/C2digitran.webp" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/assets/logo/C2digitran.webp"
                            style="height:100px;" alt="" title="" />

                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href=javascript:void(0) title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/assets/logo/ticmega.webp"
                            style="height:50px;" alt="" title="" />

                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href=javascript:void(0) title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/assets/logo/growchain.webp"
                            style="height:42px;" alt="" title="" />

                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href="https://faradayozone.com/" title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/assets/logo/faraday_ozone.webp"
                            style="height:46px;" alt="" title="" />

                    </a>
                </div>
            </div>
            <!-- <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href=javascript:void(0) title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/amby-sure.png" style="height:27px;" alt="" title="" />

                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href=javascript:void(0) title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/abletaxi.png" style="height:27px;" alt="" title="" />

                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href=javascript:void(0) title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/dia_genie.png" style="height:27x;" alt="" title="" />

                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="clients">
                    <a class="ts-pt-partners__link" href=javascript:void(0) title="">
                        <img class="ts-pt-partners__img img-fluid" src="/images/clients/recotouch_logo.png" style="height:27px;" alt="" title="" />

                    </a>
                </div>

            </div> -->
        </div>
</section>

<section class="hg_section pt-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="kl-title-block clearfix text-left tbk-symbol-- tbk-icon-pos--after-title">

                    <div
                        class="kl-title-block clearfix tbk--text-default tbk--center text-center tbk-symbol--border2 tbk-icon-pos--after-title">
                        <h3 class="tbk__title fs-m tcolor fw-bold">
                            <span class="tbk__border-helper text-uppercase">
                                What our Client says about us
                            </span>
                        </h3>

                        <div class="tbk__symbol ">
                            <span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <img src=/images/assets/tim.jpg class="">
                          
                        </div>
                        <div class="col-md-6 col-sm-12">
                            
                            <h4 class="tbk__subtitle fs-s fw-vthin text-justify">
        
                                We have had significant experience with the Boodskap team and their platform.
                                We have found the Boodskap platform and tool set to be among the most efficient and
                                comprehensive that we’ve used.
                                <br>
                                <h3 class="kl-iconbox__title pb-10 text-uppercase">
                                    Tim Slifkin
                                </h3> 
                                <p class="pt-5">
                                    <em>CEO, RIOT Wireless</em>
                                </p>
                            </h4>
                        </div>
                    </div>
                   
                    <div class="row mt-4">
                        <div class="col-md-7 col-sm-12">
                           
                            <h4 class="tbk__subtitle fs-s fw-vthin text-justify">
        
                                The Boodskap team is an experienced group of IoT professionals that understands the challenges of building a back-office solution.  
                        They have exceeded our expectations with delivering a STEM based platform to complement our environmental and STEM hardware solutions.
                                <br>
                                <h3 class="kl-iconbox__title pb-10 text-uppercase">
                                    Jason Carabetta
                                </h3>
                                <p class="pt-5">
                                    <em>CEO,  Rugged Telemetry</em>
                                </p>
                            </h4>
                           
                            
                        </div>
                        <div class="col-md-5 col-sm-12">
                            
                            <img src=/images/assets/jason.jpg style="height: 80%;">
                            
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>