<style>
.card-font{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: small;
    font-weight: 400;
}
.icon-font{
    font-size: x-large;
    color: #0A66C2 !important;
    margin-bottom: 2%;
}
.mainTextFont{
    font-size: medium !important;
}


</style>
<title>About Us - Boodskap</title>

<!-- Page sub-header + Bottom mask style 3 -->
<div id="page_header" class="page-subheader site-subheader-cst uh_flat_dark_blue ">
    <div class="bgback"></div>

    <!-- Animated Sparkles -->
    <div class="th-sparkles"></div>
    <!--/ Animated Sparkles -->

    <!-- Background -->
    <div class="kl-bg-source">
        <!-- Gradient overlay -->
        <div class="kl-bg-source__overlay" style="background: rgba(36,36,36,1); background: -moz-linear-gradient(left, rgba(36,36,36,1) 0%, rgba(107,107,107,1) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(36,36,36,1)), color-stop(100%,rgba(107,107,107,1))); background: -webkit-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: -o-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: -ms-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: linear-gradient(to right, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); ">
        </div>
        <!--/ Gradient overlay -->
    </div>
    <!--/ Background -->

    <!-- Sub-Header content wrapper -->
    <div class="ph-content-wrap d-flex">
        <div class="container align-self-center">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- Breadcrumbs -->
                  <!--  <ul class="breadcrumbs fixclear">
                        <li>COMPANY</li>
                    </ul>-->
                    <!--/ Breadcrumbs -->


                    <div class="clearfix"></div>
                </div>
                <!--/ col-sm-12 col-md-6 col-lg-6 -->

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- Sub-header titles -->
                    <div class="subheader-titles pt-100">
                        <h2 class="subheader-maintitle">ABOUT US</h2>
                        <h4 class="subheader-subtitle">GET TO KNOW US BETTER</h4>
                    </div>
                    <!--/ Sub-header titles -->
                </div>
                <!--/ col-sm-12 col-md-6 col-lg-6 -->
            </div>
            <!--/ row -->
        </div>
        <!--/ .container .align-self-center -->
    </div>
    <!--/ Sub-Header content wrapper .d-flex -->

    <!-- Bottom mask style 3 -->
    <div class="kl-bottommask kl-bottommask--mask3">
        <svg width="5000px" height="57px" class="svgmask " viewBox="0 0 5000 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask3">
                    <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                    <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                    <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.4 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                    <feMerge>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                        <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                    </feMerge>
                </filter>
            </defs>
            <path d="M9.09383679e-13,57.0005249 L9.09383679e-13,34.0075249 L2418,34.0075249 L2434,34.0075249 C2434,34.0075249 2441.89,33.2585249 2448,31.0245249 C2454.11,28.7905249 2479,11.0005249 2479,11.0005249 L2492,2.00052487 C2492,2.00052487 2495.121,-0.0374751261 2500,0.000524873861 C2505.267,-0.0294751261 2508,2.00052487 2508,2.00052487 L2521,11.0005249 C2521,11.0005249 2545.89,28.7905249 2552,31.0245249 C2558.11,33.2585249 2566,34.0075249 2566,34.0075249 L2582,34.0075249 L5000,34.0075249 L5000,57.0005249 L2500,57.0005249 L1148,57.0005249 L9.09383679e-13,57.0005249 Z" class="bmask-bgfill" filter="url(#filter-mask3)" fill="#fbfbfb"></path>
        </svg>
        <i class="fas fa-angle-down"></i>
    </div>
    <!--/ Bottom mask style 3 -->
</div>

<!-- Title + Services + Skills Diagram section with custom paddings -->
<section class="hg_section pt-20 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="clearfix text-left tbk-symbol-- tbk-icon-pos--after-title">
                    <!-- Title with custom font, size and weight -->

                    <div class="clearfix tbk--text-default tbk--center text-center tbk-symbol--border2 tbk-icon-pos--after-title">
                        <!-- Title with custom font size, bold and theme color-->
                        <h3 class="tbk__title fs-m tcolor fw-bold">
                            <!-- Border helper -->
                            <span class="tbk__border-helper">
																		 WHO WE ARE AND WHAT WE DO

								</span>
                        </h3>
                        <!--/ Title with custom font size and theme color-->

                        <!-- Title bottom symbol -->
                        <div class="tbk__symbol ">
                            <span></span>
                        </div>
                        <!--/ Title bottom symbol -->
                    </div>
                    <!--/ Title -->

                    <!-- Sub-Title with custom size and weight -->
                    <h4 class="tbk__subtitle fs-s fw-vthin mainTextFont text-justify">

                        Boodskap is a disruptive Internet of Things (IoT) Platform Company headquartered in Coppell, TX. The comprehensive end to end technology platform enables
                        business to quickly connect any hardware devices and to rapidly build connected applications in a cost-efficient manner. Our Mission is to build next generation Network of Things platform.
                        <br><br>
                        Boodskap’s platform leverages the latest and emerging technologies – including artificial intelligence (AI),
                        machine learning, blockchain – creating huge business differentiator and advantage for customers.
                        <br><br>
                        We are always on the top of technological advancement. Boodskap Labs heavily invests in R & D and educational programs.
                    </h4>
                    <!--/ Sub-Title -->
                </div>

            </div>
            <!--/ col-sm-12 col-md-12 -->


        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>

<section class="hg_section pt-20">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="clearfix text-left tbk-symbol-- tbk-icon-pos--after-title">
                    <!-- Title with custom font, size and weight -->

                    <div class="clearfix tbk--text-default tbk--center text-center tbk-symbol--border2 tbk-icon-pos--after-title">
                        <!-- Title with custom font size, bold and theme color-->
                        <h3 class="tbk__title fs-m tcolor fw-bold">
                            <!-- Border helper -->
                            <span class="tbk__border-helper mb-3">
                                Leadership Team
								</span>
                        </h3>
                        <div class="container mt-5">
                            <div class="row">
                                <!-- Card 1 -->
                                <div class="col-md-6">
                                    <div class="card card-font">
                                        <div class="card-body">
                                            <h5 class="card-title">                                             
                                                <strong>Jegan Vincent</strong> 
                                                 </h5>
                                                 <p class="card-font">Founder & CEO @ Boodskap | IoT, Digital Twinning, Digital Transformation</p>
                                            <p class="card-text card-font text-justify">The founder and CEO of Boodskap. With over 24+ years  of experience, this visionary entrepreneur has positioned Boodskap as a premier IoT platform that drives digital transformation and digital twinning across various verticals.
                                                Boodskap's success is built on a deep understanding of the challenges and opportunities inherent in the IoT domain. Leveraging core competencies in Java, embedded C/C++, and Cloud Computing, the company's solutions are renowned for their complexity, robustness, and adherence to industry standards. These technological strengths enable Boodskap to deliver innovative IoT solutions that meet the dynamic needs of its clients. This mission is driven by a continuous pursuit of learning, growth, and collaboration with other like-minded professionals and organizations. Through these efforts, Jegan is not only advancing the IoT field but also fostering a future where technology serves as a catalyst for positive change.
                                             
                                        </div>
                                        <a href="https://www.linkedin.com/in/jegan-vincent/" class="icon-font" target="_blank" title="Linkedin">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                    
                                </div>
                                <!-- Card 2 -->
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">                                             
                                                <strong>Amal Jesayen</strong> 
                                                 </h5>
                                                 <p class="card-font">Founder & COO @ Boodskap | IoT, Digital Twinning, Digital Transformation</p>
                                            <p class="card-text card-font text-justify">The founder and COO of Boodskap.With over 25 years of experience in the software industry, He is an experienced serial entrepreneur skilled in IT strategy, operations, finance, budgeting, and contract negotiation. His expertise extends to critical thinking, startup funding, investor relationships, marketing, pre-sales, IoT, business intelligence, client relationships, business development, and process engineering.
                                                Excelled in overseeing business functions, driving sales strategies, and leading marketing operations while maintaining a level-headed approach to challenges. His people-first philosophy has consistently driven operational excellence.
                                                As a strong professional, leader, mentor, and motivator, He Empowers young talents and has a proven track record in leading culture change, innovating business development processes, and fostering collaborative leadership teams. He values lasting relationships and diverse perspectives, which have been instrumental in his entrepreneurial success.
                                        </div>
                                        <a href="https://www.linkedin.com/in/amaljesayen/" class="icon-font" target="_blank" title="Linkedin">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                               
                                 <div class="row mt-4">
                                    <div class="col-md-6" style="margin: 0 auto;">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">                                             
                                                    <strong>Ranjith Shakar</strong> 
                                                     </h5>
                                                     <p class="card-font">Strategic Leader @ Boodskap | IoT, Digital Twinning, Digital Transformation</p>
                                                <p class="card-text card-font text-justify">Strategic leader at Boodskap IoT, driving global business expansion and fostering key partnerships to propel the company's growth trajectory in the IoT industry. Spearheading cross-functional initiatives to penetrate diverse international markets, while cultivating innovative solutions to meet evolving industry needs. Instrumental in conceptualizing and implementing the market adaptability and positioning of Boodskap IoT's groundbreaking platform, revolutionizing IoT management with cutting-edge technology. Committed to delivering unparalleled value to clients by aligning Boodskap IoT's offerings with international standards and best practices. Recognized for driving sustainable business development strategies in line with the company's mission to shape the future of IoT technology. Building an industry-leading IoT unicorn!                             </div>
                                            <a href="https://www.linkedin.com/company/16180585/" class="icon-font" target="_blank" title="Linkedin">
                                                <i class="fab fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                 </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ col-sm-12 col-md-12 -->


        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>

<section class="hg_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="clearfix text-left tbk-symbol-- tbk-icon-pos--after-title">
                    <!-- Title with custom font, size and weight -->

                    <div class="kl-title-block clearfix tbk--text-default tbk--center text-center tbk-symbol--border2 tbk-icon-pos--after-title">
                        <!-- Title with custom font size, bold and theme color-->
                        <h3 class="tbk__title fs-m tcolor fw-bold">
                            <!-- Border helper -->
                            <span class="tbk__border-helper mb-3">
                                Advisory Board and Subject Matter Experts 
								</span>
                        </h3>
                        <div class="container mt-5">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card card-font">
                                        <div class="card-body">
                                            <h5 class="card-title">                                             
                                                <strong>Dr.Sudarsun Santhiappan</strong> 
                                                 </h5>
                                                 <p class="card-font">Curious Scientist | Passionate Engineer | Prolific Inventor | Inspiring Teacher | Over two decades of invaluable experience @ <a href="https://buddi.ai/">BUDDI AI</a> </p>
                                            <p class="card-text card-font text-justify">
                                        </div>
                                        <a href="https://www.linkedin.com/in/sudarsun/" class="icon-font" target="_blank" title="Linkedin">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                    
                                </div>
                                                               <div class="col-md-3">
                                                                <div class="card card-font">
                                                                    <div class="card-body">
                                                                        <h5 class="card-title">                                             
                                                                            <strong>Billa Bhandari</strong> 
                                                                             </h5>
                                                                             <p class="card-font">Founder @ <a href="https://www.linkedin.com/company/vitalprobe/">VitalProbe Inc</a> Public Policy & Governance | Cyber Security and Wearable Healthcare Technology | Fashion Education & Fashion eCommerce
                                                                             </p>
                                                                        <p class="card-text card-font text-justify">
                                                                    </div>
                                                                    <a href="https://www.linkedin.com/in/billabhandari/" class="icon-font" target="_blank" title="Linkedin">
                                                                        <i class="fab fa-linkedin"></i>
                                                                    </a>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="card card-font">
                                                                    <div class="card-body">
                                                                        <h5 class="card-title">                                             
                                                                            <strong>Cephas John</strong> 
                                                                             </h5>
                                                                             <p class="card-font">Managing Partner <br> @ <a href="https://www.linkedin.com/company/bridges-links-advisory-services/">Bridges & Links Advisory Services</a> Management Professional with over 28 years of experience. </p>
                                                                        <p class="card-text card-font text-justify">
                                                                    </div>
                                                                    <a href="https://www.linkedin.com/in/cephas-john-502b9015/" class="icon-font" target="_blank" title="Linkedin">
                                                                        <i class="fab fa-linkedin"></i>
                                                                    </a>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="card card-font">
                                                                    <div class="card-body">
                                                                        <h5 class="card-title">                                             
                                                                            <strong>Pradeep M</strong> 
                                                                             </h5>
                                                                             <p class="card-font"> Experienced Trading Strategy developer and Analyst with over a decade of experience in Stock markets.Excellent reputation for resolving problems</p>
                                                                        <p class="card-text card-font text-justify">
                                                                    </div>
                                                                    <a href="https://www.linkedin.com/in/pradeep-m-6614957/" class="icon-font" target="_blank" title="Linkedin">
                                                                        <i class="fab fa-linkedin"></i>
                                                                    </a>
                                                                </div>
                                                                
                                                            </div>
                                <!-- <div class="col-md-4">
                                    <div class="card card-font">
                                        <div class="card-body">
                                            <h5 class="card-title">                                             
                                                <strong>Tim Slifkin</strong> 
                                                 </h5>
                                                 <p class="card-font">Visionary IoT CEO | 40+ Years in Tech Entrepreneurship | Transforming Industries with Cutting-Edge Solutions @ <a href="https://riotedgesolutions.com/">RIOT Edge Solutions</a> </p>
                                            <p class="card-text card-font text-justify">
                                        </div>
                                        <a href="https://www.linkedin.com/in/timothy-slifkin-20687214/" class="icon-font" target="_blank" title="Linkedin">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                    
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-font">
                                        <div class="card-body">
                                            <h5 class="card-title">                                             
                                                <strong>Jason Carabetta</strong> 
                                                 </h5>
                                                 <p class="card-font">Industrial IoT / SCADA / Tank Level Monitoring / ISO Tanks / Water Telemetry / Digital Water
                                                    @ <a href="https://www.ruggedtelemetry.com/">RUGGED TELEMETRY</a> </p>
                                            <p class="card-text card-font text-justify">
                                        </div>
                                        <a href="https://www.linkedin.com/in/carabettajason/" class="icon-font" target="_blank" title="Linkedin">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                    
                                </div> -->
                            </div>
                            <br>
                            <!-- <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-font">
                                        <div class="card-body">
                                            <h5 class="card-title">                                             
                                                <strong>Billa Bhandari</strong> 
                                                 </h5>
                                                 <p class="card-font">Founder of @ <a href="https://www.linkedin.com/company/vitalprobe/">VitalProbe Inc</a> </p>
                                            <p class="card-text card-font text-justify">
                                        </div>
                                        <a href="https://www.linkedin.com/in/billabhandari/" class="icon-font" target="_blank" title="Linkedin">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                    
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-font">
                                        <div class="card-body">
                                            <h5 class="card-title">                                             
                                                <strong>Cephas John</strong> 
                                                 </h5>
                                                 <p class="card-font">Managing Partner @ <a href="https://www.linkedin.com/company/bridges-links-advisory-services/">Bridges & Links Advisory Services</a> </p>
                                            <p class="card-text card-font text-justify">
                                        </div>
                                        <a href="https://www.linkedin.com/in/cephas-john-502b9015/" class="icon-font" target="_blank" title="Linkedin">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                    
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-font">
                                        <div class="card-body">
                                            <h5 class="card-title">                                             
                                                <strong>Pradeep M</strong> 
                                                 </h5>
                                                 <p class="card-font"> Experienced Trading Strategy developer and Analyst</p>
                                            <p class="card-text card-font text-justify">
                                        </div>
                                        <a href="https://www.linkedin.com/in/pradeep-m-6614957/" class="icon-font" target="_blank" title="Linkedin">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                    
                                </div>
                            </div> -->
                        </div>



                       
                    </div>
                    
                </div>

            </div>
            <!--/ col-sm-12 col-md-12 -->


        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>

<section class="hg_section pt-20">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="clearfix text-left tbk-symbol-- tbk-icon-pos--after-title">
                    <!-- Title with custom font, size and weight -->

                    <div class="clearfix tbk--text-default tbk--center text-center tbk-symbol--border2 tbk-icon-pos--after-title">
                        <!-- Title with custom font size, bold and theme color-->
                        <h3 class="tbk__title fs-m tcolor fw-bold">
                            <!-- Border helper -->
                            <span class="tbk__border-helper mb-3">
                               Our Team of Trialblazers
								</span>
                        </h3>
                        <div class="container mt-5">
                            <div class="row">
                                <!-- Card 1 -->
                                <div class="col-md-12">
                                    <div class="card">
                                            <img src=/images/assets/team.jpeg style="width: 100%;">
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ col-sm-12 col-md-12 -->


        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>


<!--/ Title + Services + Skills Diagram section with custom paddings -->

<!-- <section class="hg_section pb-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="kl-title-block text-center tbk-symbol-- tbk-icon-pos--after-title">
                    <h3 class="fw-bold">
                        PLEASE TAKE A MOMENT TO SEE THE HISTORY OF OUR COMPANY
                    </h3>
                  
                    <h4 class="tbk__subtitle tbk-thinsubtitle">
                        A year in a startup journey is like a 5000 years old epic movie getting watched in 90 minutes!!!
                    </h4>
                </div>
               
                <div class="timeline_bar">
                    <div class="row">
                        <div class="col-sm-12 end_timeline">
                            <span>2017 › ESTABLISHMENT</span>
				<p>Before founding Boodskap, our founding team had 20+ years of IT experience working for some of the most interesting companies and clients like IBM, UBS, Deloitte, StarTrak, Orbcomm, Mediacom, etc. During that tenure, we have built some of the robust and mission critical M2M/IoT applications thats being used by 100s of clients in Cold-Chain, Oil & Gas, Logistics & Transportation, Fleet Monitoring, Vehicle & Person Tracking, etc..</p>
                        </div>

                        <div class="col-sm-12 col-md-6 offset-md-6" data-align="right">
                            <div class="timeline_box">
                                <div class="date">
                                    January - 2017
                                </div>
                               
                                <h4 class="htitle">
                                    3 member garage operation
                                </h4>
                               
                                <p>
                                    Prior to starting the company, we spent most of our life in coffee shops and bars to discuss on what we want to build
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-6">
                            <div class="timeline_box">
                                <div class="date">
                                    March - 2017
                                </div>
                               
                                <h4 class="htitle">
                                    Garage to an apartment - 6 members
                                </h4>
                               
                                <p>
                                    Startup is always fun, endless conversations and sleepless nights building the base platform
                                </p>
                            </div>
                        </div>
                       
                        <div class="col-sm-12 col-md-6 offset-md-6" data-align="right">
                            <div class="timeline_box">
                                <div class="date">
                                    June - 2017
                                </div>
                               
                                <h4 class="htitle">
                                    Bigger apartment, better facility - 9 members
                                </h4>
                                
                                <p>
                                    Rolled out first release candidate version, got a generous client as our guinea pig. Started making revenue ;)
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-6">
                            <div class="timeline_box">
                                <div class="date">
                                    February - 2018
                                </div>
                              
                                <h4 class="htitle">
                                    One of the fortune 500 companies as our client
                                </h4>
                                <p>
                                    Proud moment, any one entering their facility can't pass without using our solution
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 offset-md-6" data-align="right">
                                <div class="timeline_box">
                                    <div class="date">
                                        November - 2018
                                    </div>
                                   
                                    <h4 class="htitle">
                                        Hosted our first booth, Santa Clara - California @ IOT Tech Expo
                                    </h4>
                                    <p>
                                        Great event, lot of exposure, customer traction started picking up, we went crazy developing 100+ POCs for the next several months
                                    </p>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                    <div class="timeline_box">
                                        <div class="date">
                                            January - 2019
                                        </div>
                                       
                                        <h4 class="htitle">
                                            First major USA client, One of the largest government agencies
                                        </h4>
                                       
                                        <p>
                                            Largest implementation of our solution, millions of public and several hundreds of the staff uses our solutions
                                        </p>
                                    </div>
                                </div>

                        <div class="col-sm-12 col-md-6 offset-md-6" data-align="right">
                            <div class="timeline_box">
                                <div class="date">
                                    June - 2019
                                </div>
                              
                                <h4 class="htitle">
                                    Newer office - 22 team members
                                </h4>
                                
                                <p>
                                    After all the hard work and sacrifices.
                                    Now we have the SPACE - conference rooms, pantry, a terrace and <br>Friday happy hours
                                    <img src="/images/beer.png" width="32px" />
                                </p>
                            </div>
                        </div>


                        <div class="col-sm-12 end_timeline">
                            <span class="mb-2">PRESENT</span> <br>
                            <span>12+ Products</span>
                            <span>8+ Industries</span>
                            <span>20+ Countries</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<%- include clients.html %>

<section class="hg_section bg-white pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9 mb-sm-20">
                <h3 class="tbk__title kl-font-alt fw-semibold tcolor">
                    WORK WITH US
                </h3>
              
                <h4 class="tbk__subtitle fw-thin">
                    We'll do everything to make your project success!
                </h4>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3 align-self-center">
                <a href="/contact-us" class="btn btn-lined lined-custom btn-md btn-block">
                    <span>CONTACT US</span>
                </a>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" src="/js/plugins/_sliders/caroufredsel/jquery.carouFredSel-packed.js"></script>

<script type="text/javascript" src="/js/plugins/_sliders/slick/slick.js"></script>
<script type="text/javascript" src="/js/trigger/kl-slick-slider.js"></script>

<script type="text/javascript" src="/js/plugins/cloudTag.js"></script>

<script>
    $('.tagBall').cloudTag({ballSize:200});
</script>
