<title>About Us - Boodskap</title>

<!-- Page sub-header + Bottom mask style 3 -->
<div id="page_header" class="page-subheader site-subheader-cst uh_flat_dark_blue ">
    <div class="bgback"></div>

    <!-- Animated Sparkles -->
    <div class="th-sparkles"></div>
    <!--/ Animated Sparkles -->

    <!-- Background -->
    <div class="kl-bg-source">
        <!-- Gradient overlay -->
        <div class="kl-bg-source__overlay" style="background: rgba(36,36,36,1); background: -moz-linear-gradient(left, rgba(36,36,36,1) 0%, rgba(107,107,107,1) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(36,36,36,1)), color-stop(100%,rgba(107,107,107,1))); background: -webkit-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: -o-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: -ms-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: linear-gradient(to right, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); ">
        </div>
        <!--/ Gradient overlay -->
    </div>
    <!--/ Background -->

    <!-- Sub-Header content wrapper -->
    <div class="ph-content-wrap d-flex">
        <div class="container align-self-center">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- Breadcrumbs -->
                  <!--  <ul class="breadcrumbs fixclear">
                        <li>COMPANY</li>
                    </ul>-->
                    <!--/ Breadcrumbs -->


                    <div class="clearfix"></div>
                </div>
                <!--/ col-sm-12 col-md-6 col-lg-6 -->

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- Sub-header titles -->
                    <div class="subheader-titles">
                        <h2 class="subheader-maintitle">ABOUT US</h2>
                        <h4 class="subheader-subtitle">GET TO KNOW US BETTER</h4>
                    </div>
                    <!--/ Sub-header titles -->
                </div>
                <!--/ col-sm-12 col-md-6 col-lg-6 -->
            </div>
            <!--/ row -->
        </div>
        <!--/ .container .align-self-center -->
    </div>
    <!--/ Sub-Header content wrapper .d-flex -->

    <!-- Bottom mask style 3 -->
    <div class="kl-bottommask kl-bottommask--mask3">
        <svg width="5000px" height="57px" class="svgmask " viewBox="0 0 5000 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask3">
                    <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                    <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                    <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.4 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                    <feMerge>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                        <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                    </feMerge>
                </filter>
            </defs>
            <path d="M9.09383679e-13,57.0005249 L9.09383679e-13,34.0075249 L2418,34.0075249 L2434,34.0075249 C2434,34.0075249 2441.89,33.2585249 2448,31.0245249 C2454.11,28.7905249 2479,11.0005249 2479,11.0005249 L2492,2.00052487 C2492,2.00052487 2495.121,-0.0374751261 2500,0.000524873861 C2505.267,-0.0294751261 2508,2.00052487 2508,2.00052487 L2521,11.0005249 C2521,11.0005249 2545.89,28.7905249 2552,31.0245249 C2558.11,33.2585249 2566,34.0075249 2566,34.0075249 L2582,34.0075249 L5000,34.0075249 L5000,57.0005249 L2500,57.0005249 L1148,57.0005249 L9.09383679e-13,57.0005249 Z" class="bmask-bgfill" filter="url(#filter-mask3)" fill="#fbfbfb"></path>
        </svg>
        <i class="fas fa-angle-down"></i>
    </div>
    <!--/ Bottom mask style 3 -->
</div>

<!-- Title + Services + Skills Diagram section with custom paddings -->
<section class="hg_section pt-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="kl-title-block clearfix text-left tbk-symbol-- tbk-icon-pos--after-title">
                    <!-- Title with custom font, size and weight -->

                    <div class="kl-title-block clearfix tbk--text-default tbk--center text-center tbk-symbol--border2 tbk-icon-pos--after-title">
                        <!-- Title with custom font size, bold and theme color-->
                        <h3 class="tbk__title fs-m tcolor fw-bold">
                            <!-- Border helper -->
                            <span class="tbk__border-helper">
																		 WHO WE ARE AND WHAT WE DO

								</span>
                        </h3>
                        <!--/ Title with custom font size and theme color-->

                        <!-- Title bottom symbol -->
                        <div class="tbk__symbol ">
                            <span></span>
                        </div>
                        <!--/ Title bottom symbol -->
                    </div>
                    <!--/ Title -->

                    <!-- Sub-Title with custom size and weight -->
                    <h4 class="tbk__subtitle fs-s fw-vthin">

                        Boodskap is a disruptive Internet of Things (IoT) Platform Company headquartered in Coppell, TX. The comprehensive end to end technology platform enables
                        business to quickly connect any hardware devices and to rapidly build connected applications in a cost-efficient manner. Our Mission is to build next generation Network of Things platform.
                        <br><br>
                        Boodskap’s platform leverages the latest and emerging technologies – including artificial intelligence (AI),
                        machine learning, blockchain – creating huge business differentiator and advantage for customers.
                        <br><br>
                        We are always on the top of technological advancement. Boodskap Labs heavily invests in R & D and educational programs.
                    </h4>
                    <!--/ Sub-Title -->
                </div>

            </div>
            <!--/ col-sm-12 col-md-12 -->


        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>

<section class="hg_section--relative p-0">
    <!-- Section Background -->
    <div class="kl-bg-source">
        <div class="kl-bg-source__overlay" style="background:rgba(205,33,34,1); background: -moz-linear-gradient(left, rgba(205,33,34,1) 0%, rgba(186,27,27,1) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(205,33,34,1)), color-stop(100%,rgba(186,27,27,1))); background: -webkit-linear-gradient(left, rgba(205,33,34,1) 0%,rgba(186,27,27,1) 100%); background: -o-linear-gradient(left, rgba(205,33,34,1) 0%,rgba(186,27,27,1) 100%); background: -ms-linear-gradient(left, rgba(205,33,34,1) 0%,rgba(186,27,27,1) 100%); background: linear-gradient(to right, rgba(205,33,34,1) 0%,rgba(186,27,27,1) 100%); ">
        </div>
    </div>

    <div class="container-fluid">
        <div class="row gutter">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="tagBall" >
                        <a class="tag" href="#">MANUFACTURING</a>
                        <a class="tag" href="#">OIL & GAS</a>
                        <a class="tag" href="#">UTILITIES</a>
                        <a class="tag" href="#">BANKING</a>
                        <a class="tag" href="#">AEROSPACE & DEFENSE</a>
                        <a class="tag" href="#">HEALTHCARE</a>
                        <a class="tag" href="#">RETAIL</a>
                        <a class="tag" href="#">TELECOMMUNICATIONS</a>
                        <a class="tag" href="#">SMART CITIES</a>
                        <a class="tag" href="#">TRANSPORTATION</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Bottom mask style 3 - left -->
    <div class="kl-bottommask kl-bottommask--mask3 mask3l">
        <svg width="5000px" height="57px" class="svgmask svgmask-left" viewBox="0 0 5000 57" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <defs>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask3">
                    <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                    <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                    <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                    <feMerge>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                        <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                    </feMerge>
                </filter>
            </defs>
            <path d="M9.09383679e-13,57.0005249 L9.09383679e-13,34.0075249 L2418,34.0075249 L2434,34.0075249 C2434,34.0075249 2441.89,33.2585249 2448,31.0245249 C2454.11,28.7905249 2479,11.0005249 2479,11.0005249 L2492,2.00052487 C2492,2.00052487 2495.121,-0.0374751261 2500,0.000524873861 C2505.267,-0.0294751261 2508,2.00052487 2508,2.00052487 L2521,11.0005249 C2521,11.0005249 2545.89,28.7905249 2552,31.0245249 C2558.11,33.2585249 2566,34.0075249 2566,34.0075249 L2582,34.0075249 L5000,34.0075249 L5000,57.0005249 L2500,57.0005249 L1148,57.0005249 L9.09383679e-13,57.0005249 Z" class="bmask-bgfill" filter="url(#filter-mask3)" fill="#fbfbfb"></path>
        </svg>
        <i class="fas fa-angle-down"></i>
    </div>
    <!--/ Bottom mask style 3 - left -->
</section>
<!--/ Title + Services + Skills Diagram section with custom paddings -->

<!-- <section class="hg_section pb-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="kl-title-block text-center tbk-symbol-- tbk-icon-pos--after-title">
                    <h3 class="fw-bold">
                        PLEASE TAKE A MOMENT TO SEE THE HISTORY OF OUR COMPANY
                    </h3>
                  
                    <h4 class="tbk__subtitle tbk-thinsubtitle">
                        A year in a startup journey is like a 5000 years old epic movie getting watched in 90 minutes!!!
                    </h4>
                </div>
               
                <div class="timeline_bar">
                    <div class="row">
                        <div class="col-sm-12 end_timeline">
                            <span>2017 › ESTABLISHMENT</span>
				<p>Before founding Boodskap, our founding team had 20+ years of IT experience working for some of the most interesting companies and clients like IBM, UBS, Deloitte, StarTrak, Orbcomm, Mediacom, etc. During that tenure, we have built some of the robust and mission critical M2M/IoT applications thats being used by 100s of clients in Cold-Chain, Oil & Gas, Logistics & Transportation, Fleet Monitoring, Vehicle & Person Tracking, etc..</p>
                        </div>

                        <div class="col-sm-12 col-md-6 offset-md-6" data-align="right">
                            <div class="timeline_box">
                                <div class="date">
                                    January - 2017
                                </div>
                               
                                <h4 class="htitle">
                                    3 member garage operation
                                </h4>
                               
                                <p>
                                    Prior to starting the company, we spent most of our life in coffee shops and bars to discuss on what we want to build
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-6">
                            <div class="timeline_box">
                                <div class="date">
                                    March - 2017
                                </div>
                               
                                <h4 class="htitle">
                                    Garage to an apartment - 6 members
                                </h4>
                               
                                <p>
                                    Startup is always fun, endless conversations and sleepless nights building the base platform
                                </p>
                            </div>
                        </div>
                       
                        <div class="col-sm-12 col-md-6 offset-md-6" data-align="right">
                            <div class="timeline_box">
                                <div class="date">
                                    June - 2017
                                </div>
                               
                                <h4 class="htitle">
                                    Bigger apartment, better facility - 9 members
                                </h4>
                                
                                <p>
                                    Rolled out first release candidate version, got a generous client as our guinea pig. Started making revenue ;)
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-6">
                            <div class="timeline_box">
                                <div class="date">
                                    February - 2018
                                </div>
                              
                                <h4 class="htitle">
                                    One of the fortune 500 companies as our client
                                </h4>
                                <p>
                                    Proud moment, any one entering their facility can't pass without using our solution
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 offset-md-6" data-align="right">
                                <div class="timeline_box">
                                    <div class="date">
                                        November - 2018
                                    </div>
                                   
                                    <h4 class="htitle">
                                        Hosted our first booth, Santa Clara - California @ IOT Tech Expo
                                    </h4>
                                    <p>
                                        Great event, lot of exposure, customer traction started picking up, we went crazy developing 100+ POCs for the next several months
                                    </p>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                    <div class="timeline_box">
                                        <div class="date">
                                            January - 2019
                                        </div>
                                       
                                        <h4 class="htitle">
                                            First major USA client, One of the largest government agencies
                                        </h4>
                                       
                                        <p>
                                            Largest implementation of our solution, millions of public and several hundreds of the staff uses our solutions
                                        </p>
                                    </div>
                                </div>

                        <div class="col-sm-12 col-md-6 offset-md-6" data-align="right">
                            <div class="timeline_box">
                                <div class="date">
                                    June - 2019
                                </div>
                              
                                <h4 class="htitle">
                                    Newer office - 22 team members
                                </h4>
                                
                                <p>
                                    After all the hard work and sacrifices.
                                    Now we have the SPACE - conference rooms, pantry, a terrace and <br>Friday happy hours
                                    <img src="/images/beer.png" width="32px" />
                                </p>
                            </div>
                        </div>


                        <div class="col-sm-12 end_timeline">
                            <span class="mb-2">PRESENT</span> <br>
                            <span>12+ Products</span>
                            <span>8+ Industries</span>
                            <span>20+ Countries</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<%- include clients.html %>

<section class="hg_section bg-white pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9 mb-sm-20">
                <h3 class="tbk__title kl-font-alt fw-semibold tcolor">
                    WORK WITH US
                </h3>
              
                <h4 class="tbk__subtitle fw-thin">
                    We'll do everything to make your project success!
                </h4>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3 align-self-center">
                <a href="/contact-us" class="btn btn-lined lined-custom btn-md btn-block">
                    <span>CONTACT US</span>
                </a>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" src="/js/plugins/_sliders/caroufredsel/jquery.carouFredSel-packed.js"></script>

<script type="text/javascript" src="/js/plugins/_sliders/slick/slick.js"></script>
<script type="text/javascript" src="/js/trigger/kl-slick-slider.js"></script>

<script type="text/javascript" src="/js/plugins/cloudTag.js"></script>

<script>
    $('.tagBall').cloudTag({ballSize:200});
</script>
