<title>Contact Us - Boodskap</title>

<!-- Google maps slideshow element + Bottom mask style 5 -->
<div class="kl-slideshow static-content__slideshow scontent__maps">

    <div class="bgback">
    </div>

    <!-- Static content wrapper with custom minim height .min-800 -->
    <div class="kl-slideshow-inner static-content__wrapper min-800 d-flex">
        <!-- Static content source background with animateme scroll efect -->
        <div class="static-content__source animateme" data-when="span" data-from="0" data-to="0.75" data-easing="linear" data-translatey="300" data-opacity="0.1">
            <!-- Background -->
            <div class="kl-bg-source">
                <!-- Background image -->
                <div class="kl-bg-source__bgimage" style="background-image: url(<%=cdnUrl%>/images/contact_us.png); background-repeat: no-repeat; background-attachment: scroll; background-position-x: center; background-position-y: center; background-size: cover;">
                </div>
                <!--/ Background image -->

                <!-- Gradient overlay -->
              <!--  <div class="kl-bg-source__overlay" style="background: rgba(130,36,227,0.35); background: -moz-linear-gradient(left, rgba(130,36,227,0.35) 0%, rgba(53,53,53,0.55) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(130,36,227,0.35)), color-stop(100%,rgba(53,53,53,0.55))); background: -webkit-linear-gradient(left, rgba(130,36,227,0.35) 0%,rgba(53,53,53,0.55) 100%); background: -o-linear-gradient(left, rgba(130,36,227,0.35) 0%,rgba(53,53,53,0.55) 100%); background: -ms-linear-gradient(left, rgba(130,36,227,0.35) 0%,rgba(53,53,53,0.55) 100%); background: linear-gradient(to right, rgba(130,36,227,0.35) 0%,rgba(53,53,53,0.55) 100%); ">
                </div>-->
                <!--/ Gradient overlay -->
            </div>
            <!--/ Background -->

            <!-- Animated Sparkles -->
            <div class="th-sparkles"></div>
            <!--/ Animated Sparkles -->
        </div>
        <!-- /.static-content__source -->

    </div>
    <!--/ Static content wrapper with default height (not fullscreen) -->


    <!-- Google map content panel -->
    <div class="kl-contentmaps__panel">
        <a href="#" class="js-toggle-class kl-contentmaps__panel-tgg hidden-xs" data-target=".kl-contentmaps__panel" data-target-class="is-closed"></a>

        <!-- Content -->
        <div class="kl-contentmaps__panel-info">
            <!-- Title -->
            <h5 class="kl-contentmaps__panel-title">
                Office Locations
            </h5>

            <!-- Description -->
            <div class="kl-contentmaps__panel-info-text">
                <p>
                    <strong>Boodskap Inc.,</strong><br>
                    8951 Cypress Waters Blvd,<br>
                    suite 160, Dallas,<br>
                    TX 75019
                </p>
                <p>
                    <strong>Boodskap Labs Pvt Ltd</strong><br>
                    #46/1A2A, Vinnamangalam,<br>
                    Chengalpattu 603107, 
                    Tamil Nadu - India <br>
                </p>
                    <p>
                        <a href="mailto:info@boodskap.io"><i class="fa fa-envelope"></i> info@boodskap.io</a><br>
                        <a href="tel:+18332663752" title="+1 (833)266-3752"><i class="fa fa-phone"></i> +1 (833) BOODSKAp</a>
                    </p>
                <!-- Social links clean style -->
            </div>
        </div>
        <!--/ Content -->
    </div>


</div>
<!--/ Google maps slideshow element + Bottom mask style 5 -->

<%- include contact-form.html %>

<section class="hg_section pb-80" style="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pt-80">
                <div class="kl-title-block">
                    <!-- Title with alternative font, and custom size, weight and default template color -->
                    <h3 class="tbk__title kl-font-alt fs-l fw-bold tcolor">
                        OFFICE LOCATIONS
                    </h3>

                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="kl-title-block">
                    <!-- Sub-title with custom size and weight style -->
                    <h4 class="tbk__subtitle fs-s fw-thin">
                        <strong>Boodskap Inc.,</strong><br>
                        8951 Cypress Waters Blvd,<br>
                        suite 160, Dallas,<br>
                        TX 75019
                    </h4>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="kl-title-block">
                    <!-- Sub-title with custom size and weight style -->
                    <h4 class="tbk__subtitle fs-s fw-thin">
                        <strong>Boodskap Labs Private Ltd,</strong><br>
                        #46/1A2A, Vinnamangalam,<br>
                        Chengalpattu 603107, 
                        Tamil Nadu - India <br>
                    </h4>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="kl-title-block">
                    <!-- Sub-title with custom size and weight style -->
                    <p>
                        <a href="mailto:info@boodskap.io" style="color: #535353"><i class="fa fa-envelope"></i> info@boodskap.io</a><br>
                        <a href="tel:+18332663752"  style="color: #535353" title="+1 (833)266-3752"><i class="fa fa-phone"></i> +1 (833) BOODSKAp</a>
                    </p>
                    <ul class="social-icons m-0 p-0" >
                        <li>
                            <a href="https://www.facebook.com/boodskapiot/" target="_blank" title="Facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/boodskapIOT" target="_blank" title="Twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/16180585/" target="_blank" title="Linkedin">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/boodskapiot/" target="_blank" title="Instagram">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC1yOEmlV7mBfKI1aHSMk3GQ" target="_blank" title="Youtube">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </div>
    <!--/ .row -->
    </div>
    <!--/ .container -->
</section>
