
<!-- Contact form element & details section with custom paddings -->
<section class="hg_section" style="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 mb-sm-30">
                <!-- Contact form element -->
                <div class="contactForm">
                    <form action="javascript:void(0)" id="contact-form" name="contact_form" class="contact_form row"  onsubmit="sendEmail()">

                        <!-- Response wrapper -->
                        <div class="cf_response"></div>

                        <div class="col-sm-12 col-md-6 kl-fancy-form">
                            <input type="text" name="name" id="cf_name" class="form-control" placeholder="Please enter your name" value="" tabindex="1" maxlength="35" required onkeyup="emptySpaceCheck(this);" onkeypress="emptySpaceCheck(this);">
                            <label class="control-label">
                                FULL NAME
                            </label>
                        </div>

                        <div class="col-sm-12 col-md-6 kl-fancy-form">
                            <input type="text" name="cname" id="cf_cname" class="form-control" placeholder="Please enter your company name" value="" tabindex="1" maxlength="35" required onkeyup="emptySpaceCheck(this);" onkeypress="emptySpaceCheck(this);">
                            <label class="control-label">
                                COMPANY NAME
                            </label>
                        </div>


                        <div class="col-sm-12 col-md-6 kl-fancy-form">
                            <input type="text" name="email" id="cf_email" class="form-control h5-email" placeholder="Please enter your email address" value="" tabindex="1" maxlength="35" required onkeyup="emptySpaceCheck(this);" onkeypress="emptySpaceCheck(this);">
                            <label class="control-label">
                                EMAIL
                            </label>
                        </div>

                        <div class="col-sm-12 col-md-6 kl-fancy-form">
                            <input type="text" name="phone" id="cf_phone" class="form-control" placeholder="Please enter your mobile number" value="" required onkeyup="emptySpaceCheck(this);" onkeypress="emptySpaceCheck(this);">
                            <label class="control-label">
                                MOBILE NUMBER <small>(with country code)</small>
                            </label>
                        </div>

                        <div class="col-sm-12 kl-fancy-form">
                            <input type="text" name="subject" id="cf_subject" class="form-control" placeholder="Enter the subject message" value="" tabindex="1" maxlength="35" required onkeyup="emptySpaceCheck(this);" onkeypress="emptySpaceCheck(this);">
                            <label class="control-label">
                                SUBJECT
                            </label>
                        </div>

                        <div class="col-sm-12 kl-fancy-form">
                            <textarea name="message" id="cf_message" class="form-control" cols="30" rows="10" placeholder="Your message" tabindex="4" required onkeyup="emptySpaceCheck(this);" onkeypress="emptySpaceCheck(this);"></textarea>
                            <label class="control-label">
                                MESSAGE
                            </label>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <!-- 6LeSxa4nAAAAANMWKp3xaVaKN-h0-kK-DVy8dp43 -->
                            <!-- 6LcTHzYUAAAAAPyUiSBluM0T2hzL74s3gT0wDAlX -->
                            <div class="g-recaptcha" data-sitekey="6LeSxa4nAAAAANMWKp3xaVaKN-h0-kK-DVy8dp43" data-callback="renderResponse"></div>

                        </div>


                        <div class="col-sm-12">
                            <!-- Contact form send button -->
                            <button class="btn btn-fullcolor submitBtn" type="submit">
                                Send
                            </button>

                            <div class="sentMessage mt-5"></div>
                        </div>
                    </form>
                </div>
                <!--/ Contact form element -->
            </div>
        </div>

    </div>
    <!--/ .row -->
    </div>
    <!--/ .container -->
</section>
<!--/ Contact form element & details section with custom paddings -->



<script src='https://www.google.com/recaptcha/api.js'></script>

<script type="text/javascript" src="/controllers/util.js"></script>
<script type="text/javascript" src="/controllers/contact-us.js"></script>