<!-- Page sub-header + Bottom mask style 3 -->
<!--
<div id="page_header" class="page-subheader site-subheader-cst uh_flat_dark_blue ">
    <div class="bgback"></div>

    &lt;!&ndash; Animated Sparkles &ndash;&gt;
    <div class="th-sparkles"></div>
    &lt;!&ndash;/ Animated Sparkles &ndash;&gt;

    &lt;!&ndash; Background &ndash;&gt;
    <div class="kl-bg-source">
        &lt;!&ndash; Gradient overlay &ndash;&gt;
        <div class="kl-bg-source__overlay" style="background: rgba(36,36,36,1); background: -moz-linear-gradient(left, rgba(36,36,36,1) 0%, rgba(107,107,107,1) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(36,36,36,1)), color-stop(100%,rgba(107,107,107,1))); background: -webkit-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: -o-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: -ms-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: linear-gradient(to right, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); ">
        </div>
        &lt;!&ndash;/ Gradient overlay &ndash;&gt;
    </div>
    &lt;!&ndash;/ Background &ndash;&gt;

    &lt;!&ndash; Sub-Header content wrapper &ndash;&gt;
    <div class="ph-content-wrap d-flex">
        <div class="container align-self-center">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    &lt;!&ndash; Breadcrumbs &ndash;&gt;
                    <ul class="breadcrumbs fixclear">
                        <li>EVENTS</li>
                    </ul>
                    &lt;!&ndash;/ Breadcrumbs &ndash;&gt;


                    <div class="clearfix"></div>
                </div>
                &lt;!&ndash;/ col-sm-12 col-md-6 col-lg-6 &ndash;&gt;

                <div class="col-sm-12 col-md-6 col-lg-6">
                    &lt;!&ndash; Sub-header titles &ndash;&gt;
                    <div class="subheader-titles">
                        <h2 class="subheader-maintitle">EVENTS</h2>
                        <h4 class="subheader-subtitle">UPCOMING EVENTS & SCHEDULE</h4>
                    </div>
                    &lt;!&ndash;/ Sub-header titles &ndash;&gt;
                </div>
                &lt;!&ndash;/ col-sm-12 col-md-6 col-lg-6 &ndash;&gt;
            </div>
            &lt;!&ndash;/ row &ndash;&gt;
        </div>
        &lt;!&ndash;/ .container .align-self-center &ndash;&gt;
    </div>
    &lt;!&ndash;/ Sub-Header content wrapper .d-flex &ndash;&gt;

    &lt;!&ndash; Bottom mask style 3 &ndash;&gt;
    <div class="kl-bottommask kl-bottommask&#45;&#45;mask3">
        <svg width="5000px" height="57px" class="svgmask " viewBox="0 0 5000 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask3">
                    <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                    <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                    <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.4 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                    <feMerge>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                        <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                    </feMerge>
                </filter>
            </defs>
            <path d="M9.09383679e-13,57.0005249 L9.09383679e-13,34.0075249 L2418,34.0075249 L2434,34.0075249 C2434,34.0075249 2441.89,33.2585249 2448,31.0245249 C2454.11,28.7905249 2479,11.0005249 2479,11.0005249 L2492,2.00052487 C2492,2.00052487 2495.121,-0.0374751261 2500,0.000524873861 C2505.267,-0.0294751261 2508,2.00052487 2508,2.00052487 L2521,11.0005249 C2521,11.0005249 2545.89,28.7905249 2552,31.0245249 C2558.11,33.2585249 2566,34.0075249 2566,34.0075249 L2582,34.0075249 L5000,34.0075249 L5000,57.0005249 L2500,57.0005249 L1148,57.0005249 L9.09383679e-13,57.0005249 Z" class="bmask-bgfill" filter="url(#filter-mask3)" fill="#fbfbfb"></path>
        </svg>
        <i class="fas fa-angle-down"></i>
    </div>
    &lt;!&ndash;/ Bottom mask style 3 &ndash;&gt;
</div>
-->
<div class="kl-slideshow static-content__slideshow uh_hg_def_header_style maskcontainer--mask6">
    <div class="bgback">
    </div>

    <!-- Static content wrapper with default height (not fullscreen) -->
    <div class="kl-slideshow-inner static-content__wrapper static-content--height">
        <!-- Static content background source -->
        <div class="static-content__source">
            <!-- Background -->
            <div class="kl-bg-source">
                <!-- Background image -->
                <div class="kl-bg-source__bgimage" style="background-image: url(images/chicago-690365.jpg); background-repeat: no-repeat; background-attachment: scroll; background-position-x: center; background-position-y: center; background-size: cover;">
                </div>
                <!--/ Background image -->

                <!-- Gradient overlay -->
                <div class="kl-bg-source__overlay" style="background: rgba(53,53,53,0.2); background: -moz-linear-gradient(top, rgba(53,53,53,0.2) 0%, rgba(92,82,71,0.7) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,53,53,0.2)), color-stop(100%,rgba(92,82,71,0.7))); background: -webkit-linear-gradient(top, rgba(53,53,53,0.2) 0%,rgba(92,82,71,0.7) 100%); background: -o-linear-gradient(top, rgba(53,53,53,0.2) 0%,rgba(92,82,71,0.7) 100%); background: -ms-linear-gradient(top, rgba(53,53,53,0.2) 0%,rgba(92,82,71,0.7) 100%); background: linear-gradient(to bottom, rgba(53,53,53,0.2) 0%,rgba(92,82,71,0.7) 100%);">
                </div>
                <!--/ Gradient overlay -->
            </div>
            <!--/ Background -->

            <!-- Animated Sparkles -->
            <div class="th-sparkles"></div>
            <!--/ Animated Sparkles -->
        </div>
        <!--/ Static content background source (.static-content__source) -->

        <!-- Static content container -->
        <div class="static-content__inner container">
            <div class="kl-slideshow-safepadding sc__container">
                <!-- Event style -->
                <div class="static-content event-style">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-7">
                            <!-- Sub-title -->
                            <h3 class="static-content__subtitle">
                                <span class="fw-thin">This is Kallyas, <span class="fw-semibold">an epic and wonderful premium</span> piece of work, for the typical modern website.</span>
                            </h3>

                            <!-- Countdown container -->
                            <div class="ud_counter">
                                <ul class="sc_counter hasCountdown">
                                    <li>
                                        <span class="days"></span>
                                        <p class="timeRefDays"></p>
                                    </li>
                                    <li>
                                        <span class="hours"></span>
                                        <p class="timeRefHours"></p>
                                    </li>
                                    <li>
                                        <span class="minutes"></span>
                                        <p class="timeRefMinutes"></p>
                                    </li>
                                    <li>
                                        <span class="seconds"></span>
                                        <p class="timeRefSeconds"></p>
                                    </li>
                                </ul>

                                <!-- Image with animation -->
                                <span class="till_lauch">
											<img src="images/rocket.png" alt="launch" title="launch" data-animation="fadeOutRightBig">
										</span>
                            </div>
                            <!--/ Countdown container -->

                            <!-- Mailchimp newsletter sign-up -->
                            <div class="newsletter-signup cd-news">
                                <form action="https://YOUR_USERNAME.DATASERVER.list-manage.com/subscribe/post-json?u=YOUR_API_KEY&amp;id=LIST_ID&amp;c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                                    <input type="email" value="" name="EMAIL" class="nl-email form-control" id="mce-EMAIL" placeholder="your.address@email.com" required="">
                                    <input type="submit" name="subscribe" class="nl-submit" id="mc-embedded-subscribe" value="JOIN US">
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;">
                                        <input type="text" name="b_xxxxxxxxxxxxxxxxxxxCUSTOMxxxxxxxxx" value="">
                                    </div>
                                </form>
                                <div id="notification_container"></div>
                            </div>
                            <!--/ Mailchimp newsletter sign-up -->

                            <span class="or">
										-or stay connected:
									</span>

                            <!-- Social links - clean style -->
                            <ul class="social-icons sc--clean clearfix">
                                <li><a href="#" target="_blank" title="Facebook" class="icon-facebook"></a></li>
                                <li><a href="#" target="_blank" title="Instagram" class="icon-instagram"></a></li>
                                <li><a href="#" target="_blank" title="Twitter" class="icon-twitter"></a></li>
                                <li><a href="#" target="_blank" title="Pinterest" class="icon-pinterest"></a></li>
                                <li><a href="#" target="_blank" title="Google+" class="icon-gplus"></a></li>
                            </ul>
                            <!--/ Social links - clean style -->

                            <div class="clear">
                            </div>
                        </div>
                        <!--/ col-sm-12 col-md-12 col-lg-7 -->

                        <div class="col-sm-12 col-md-12 col-lg-5">
                            <!-- Text -->
                            <h5 style="text-align:right;">
                                A sneakpeak:
                            </h5>

                            <!-- Video iframe (embed) responsive with black border style -->
                            <div class="embed-responsive embed-responsive-16by9 black_border">
                                <!-- Iframe -->
                                <iframe class="youtube-player embed-responsive-item" type="text/html" src="//player.vimeo.com/video/23237102" width="520px" height="270px" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-proportion="NaN">
                                </iframe>
                            </div>
                            <!--/ Video iframe (embed) responsive with black border style -->
                        </div>
                        <!--/ col-sm-12 col-md-12 col-lg-5 -->
                    </div>
                    <!--/ .row -->
                </div>
                <!--/ .event-style -->
            </div>
            <!--/ .sc__container -->
        </div>
        <!--/ Static content container -->
    </div>
    <!--/ Static content wrapper with default height (not fullscreen) -->

    <!-- Bottom mask style 6 -->
    <div class="kl-bottommask kl-bottommask--mask6">
        <svg width="2700px" height="57px" class="svgmask" viewBox="0 0 2700 57" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <defs>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask6">
                    <feOffset dx="0" dy="-2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
                    <feMerge>
                        <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                    </feMerge>
                </filter>
            </defs>
            <g transform="translate(-1.000000, 10.000000)">
                <path d="M0.455078125,18.5 L1,47 L392,47 L1577,35 L392,17 L0.455078125,18.5 Z" fill="#000000"></path>
                <path d="M2701,0.313493752 L2701,47.2349598 L2312,47 L391,47 L2312,0 L2701,0.313493752 Z" fill="#ffffff" class="bmask-bgfill" filter="url(#filter-mask6)"></path>
                <path d="M2702,3 L2702,19 L2312,19 L1127,33 L2312,3 L2702,3 Z" fill="#cd2122" class="bmask-customfill"></path>
            </g>
        </svg>
    </div>
    <!--/ Bottom mask style 6 -->
</div>
<section class="hg_section bg-white pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <!-- Title element with bottom line and sub-title -->
                <div class="kl-title-block tbk-symbol--line tbk-icon-pos--after-title pb-60">
                    <!-- Title with alternative font and custom size and color -->
                    <h2 class="tbk__title kl-font-alt fs-xxl black">
                        <strong>Event countdown</strong>
                    </h2>

                    <!-- Title bottom line symbol -->
                    <div class="tbk__symbol">
                        <span></span>
                    </div>
                    <!--/ Title bottom line symbol -->

                    <!-- Sub-title with custom size and weight style -->
                    <h4 class="tbk__subtitle fs-xl fw-thin">
                        Perfect for your upcoming events!
                    </h4>
                </div>
                <!--/ Title element with bottom line and sub-title -->
            </div>
            <!--/ col-sm-12 col-md-12 -->

            <div class="col-sm-12 col-md-12 col-lg-4">
                <!-- Title element -->
                <div class="kl-title-block tbk-symbol--line">
                    <!-- Title with custom size, weight and color style -->
                    <h3 class="tbk__title fs-xxl fw-extrabold gray">
                        The amazing <br> Kallyas.. <br>reloaded!
                    </h3>

                    <!-- Title bottom line symbol -->
                    <div class="tbk__symbol">
                        <span></span>
                    </div>
                    <!--/ Title bottom line symbol -->

                    <!-- Description -->
                    <p>
                        <strong>Over 350 Elements</strong>. Creating your beautiful website has never been easier.
                    </p>

                    <!-- Call to action button -->
                    <div class="mb-50">
                        <a href="https://themeforest.net/item/kallyas-gigantic-premium-template/3583938?license=regular&amp;open_purchase_for_item_id=3583938&amp;purchasable=source&amp;ref=Hogash" target="_blank" class="btn-element btn btn-lined btn-skewed lined-dark" title="KALLYAS TEMPLATE">
                            DISCOVER NOW
                        </a>
                    </div>
                </div>
                <!--/ Title element -->
            </div>
            <!--/ col-sm-12 col-md-12 col-lg-4 -->

            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <!-- Icon box float left -->
                        <div class="kl-iconbox kl-iconbox--fleft text-left">
                            <div class="kl-iconbox__inner">
                                <!-- Image/Icon wrapper -->
                                <div class="kl-iconbox__icon-wrapper">
                                    <!-- Image -->
                                    <img src="images/set-03-01.svg" class="kl-iconbox__icon" alt="Stunning Page Builder" title="Stunning Page Builder">
                                </div>
                                <!--/ Image/Icon wrapper -->

                                <!-- Content wrapper -->
                                <div class="kl-iconbox__content-wrapper">
                                    <!-- Title wrapper -->
                                    <div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
                                        <!-- Title with custom size, weight and color style -->
                                        <h3 class="kl-iconbox__title fs-m fw-normal gray2">
                                            Stunning Elements
                                        </h3>
                                    </div>
                                    <!--/ Title wrapper -->

                                    <!-- Description wrapper -->
                                    <div class="kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
                                        <!-- Description with custom size and color -->
                                        <p class="kl-iconbox__desc fs-xn gray">
                                            Set up pages and content like a <strong>PRO</strong>. Coding is not required and a handy documentation is included.
                                        </p>
                                    </div>
                                    <!--/ Description wrapper -->
                                </div>
                                <!--/ Content wrapper -->
                            </div>
                            <!--/ .kl-iconbox__inner -->
                        </div>
                        <!--/ Icon box float left -->
                    </div>
                    <!--/ col-sm-12 col-md-6 col-lg-6 -->

                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <!-- Icon box float left -->
                        <div class="kl-iconbox kl-iconbox--fleft text-left">
                            <div class="kl-iconbox__inner">
                                <!-- Image/Icon wrapper -->
                                <div class="kl-iconbox__icon-wrapper">
                                    <!-- Image -->
                                    <img src="images/set-03-02.svg" class="kl-iconbox__icon" alt="Iconic Awarded Design" title="Iconic Awarded Design">
                                </div>
                                <!--/ Image/Icon wrapper -->

                                <!-- Content wrapper -->
                                <div class="kl-iconbox__content-wrapper">
                                    <!-- Title wrapper -->
                                    <div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
                                        <!-- Title with custom size, weight and color style -->
                                        <h3 class="kl-iconbox__title fs-m fw-normal gray2">
                                            Iconic Awarded Design
                                        </h3>
                                    </div>
                                    <!--/ Title wrapper -->

                                    <!-- Description wrapper -->
                                    <div class="kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
                                        <!-- Description with custom size and color -->
                                        <p class="kl-iconbox__desc fs-xn gray">
                                            Our design is featured across multiple marketplaces and awarded for its looks. Walk-through and enjoy the visuals.
                                        </p>
                                    </div>
                                    <!--/ Description wrapper -->
                                </div>
                                <!--/ Content wrapper -->
                            </div>
                            <!--/ .kl-iconbox__inner -->
                        </div>
                        <!--/ Icon box float left -->
                    </div>
                    <!--/ col-sm-12 col-md-6 col-lg-6 -->

                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <!-- Icon box float left -->
                        <div class="kl-iconbox kl-iconbox--fleft text-left">
                            <div class="kl-iconbox__inner">
                                <!-- Image/Icon wrapper -->
                                <div class="kl-iconbox__icon-wrapper">
                                    <!-- Image -->
                                    <img src="images/set-03-03.svg" class="kl-iconbox__icon" alt="Featurewise Complete" title="Featurewise Complete">
                                </div>
                                <!--/ Image/Icon wrapper -->

                                <!-- Content wrapper -->
                                <div class="kl-iconbox__content-wrapper">
                                    <!-- Title wrapper -->
                                    <div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
                                        <!-- Title with custom size, weight and color style -->
                                        <h3 class="kl-iconbox__title fs-m fw-normal gray2">
                                            Featurewise Complete
                                        </h3>
                                    </div>
                                    <!--/ Title wrapper -->

                                    <!-- Description wrapper -->
                                    <div class="kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
                                        <!-- Description with custom size and color -->
                                        <p class="kl-iconbox__desc fs-xn gray">
                                            Without a doubt, Kallyas is one of the most complete template on the market, being packed with all the goodies and sweet gems.
                                        </p>
                                    </div>
                                    <!--/ Description wrapper -->
                                </div>
                                <!--/ Content wrapper -->
                            </div>
                            <!--/ .kl-iconbox__inner -->
                        </div>
                        <!--/ Icon box float left -->
                    </div>
                    <!--/ col-sm-12 col-md-6 col-lg-6 -->

                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <!-- Icon box float left -->
                        <div class="kl-iconbox kl-iconbox--fleft text-left">
                            <div class="kl-iconbox__inner">
                                <!-- Image/Icon wrapper -->
                                <div class="kl-iconbox__icon-wrapper">
                                    <!-- Image -->
                                    <img src="images/set-03-04.svg" class="kl-iconbox__icon" alt="Mature project" title="Mature project">
                                </div>
                                <!--/ Image/Icon wrapper -->

                                <!-- Content wrapper -->
                                <div class="kl-iconbox__content-wrapper">
                                    <!-- Title wrapper -->
                                    <div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
                                        <!-- Title with custom size, weight and color style -->
                                        <h3 class="kl-iconbox__title fs-m fw-normal gray2">
                                            Mature project
                                        </h3>
                                    </div>
                                    <!--/ Title wrapper -->

                                    <!-- Description wrapper -->
                                    <div class="kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
                                        <!-- Description with custom size and color -->
                                        <p class="kl-iconbox__desc fs-xn gray">
                                            In time, gathering awesome feedback from our loyal customers, Kallyas became a mature, stable and future-proof project.
                                        </p>
                                    </div>
                                    <!--/ Description wrapper -->
                                </div>
                                <!--/ Content wrapper -->
                            </div>
                            <!--/ .kl-iconbox__inner -->
                        </div>
                        <!--/ Icon box float left -->
                    </div>
                    <!--/ col-sm-12 col-md-6 col-lg-6 -->
                </div>
            </div>
            <!--/ col-sm-12 col-md-12 col-lg-8 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>