<style>
    .linkShareBtn {
       
        color: #fff;
        font-weight: bold !important;
        margin-bottom: 15px;
        display: inline-block;
        border-radius: 20px;
        padding: 4px 6px;
        font-size: 12px;
        border-width: 1px;
    }

    .linkShareBtn:hover {
        background-color: #a41a1b;
        color: #fff;
        cursor: pointer;

    }
</style>


<!-- Footer - Default Style 1 -->
<footer id="footer" data-footer-style="1">
    <div class="container">


        <div class="row">
           
            <div class="col-sm-12 text-center">
                <ul class="social-icons" style="float: none">
                    <li>
                        <a href="https://www.facebook.com/boodskapiot/" target="_blank" title="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/boodskapIOT" target="_blank" title="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/16180585/" target="_blank" title="Linkedin">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/boodskapiot/" target="_blank" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UC1yOEmlV7mBfKI1aHSMk3GQ" target="_blank"
                            title="Youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <button target="_blank" class="btn btn-lined linkShareBtn" title="Share your website">
                            <span> Share your website</span>
                            <i class="fas fa-share-alt"></i>
                        </button>
                    </li>

                </ul>


            </div>
            <!--/ col-sm-12 col-md-6 mb-30 -->
        </div>
        <!--/ row -->

        <div class="row bottom">
            <div class="col-sm-12 col-md-6">
                <ul class="nav footerLinks">
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li>|</li>
                    <li><a href="/terms-condition">Terms & Conditions</a></li>
                    <li>|</li>
                    <li><a href="/eula">EULA</a></li>
                    <li>|</li>
                    <li><a href="/returns-refund-policy">Returns & Refund Policy</a></li>
                    <li>|</li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-6 text-right">
                <a href="/"><img src="<%=cdnUrl%>/images/powered-by-boodskap.png"
                        data-src="<%=cdnUrl%>/images/powered-by-boodskap.png" alt="Footer"
                        style="height: 25px;  vertical-align: middle;"></a>
                <span style="font-size: 12px">
                    © <span class="currentYear"></span> All rights reserved.
                </span>

            </div>
        </div>
        <!--/ col-sm-12 -->
    </div>
    <!--/ row -->
    </div>
    <!--/ container -->
</footer>
<!--/ Footer - Default Style 1 -->

<script>
    const shareButton = document.querySelector('.linkShareBtn');
 
    if (navigator.share) {
  shareButton.addEventListener('click', (event) => {
    event.preventDefault();
    navigator.share({
      title: document.title,
      text: `🚀 Transform Your Business with Boodskap.io! 🌐\n\nUnlock the full potential of IoT with Boodskap.io! Our powerful platform-as-a-service offers seamless integration, real-time data processing, and scalable solutions to enhance your operations. From smart device management to advanced analytics, Boodskap.io is your gateway to a connected future. 🔗✨\n\n🔍 Discover more: www.boodskap.io\n\n#IoT #SmartTechnology #Innovation #TechSolutions #Boodskap`,
      url: window.location.href
    })
      
  });
} else {
//   console.log('Web Share API not supported');
}
</script>