
<!-- Footer - Default Style 1 -->
<footer id="footer" data-footer-style="1">
    <div class="container">


        <div class="row">
            <div class="col-sm-12 col-md-2 text-center">
                <a href="/" class="mb-2">
                <img src="<%=cdnUrl%>/images/boodskap-logo.png" data-src="<%=cdnUrl%>/images/boodskap-logo.png" class="anim--grayscale" alt="Boodskap"
                     title="Boodskap" style="filter: grayscale(100%);" />
                </a>
            </div>
            <div class="col-sm-12 col-md-10">
                <div class="twitterFeed">
                    <!-- twitter feeds -->
                    <div class="tweets" id="twitterFeed"><small>Please wait whilst our latest tweets load</small>
                    </div>
                   <!-- <a href="https://twitter.com/boodskapIOT" class="twitter-follow-button" data-show-count="false">Follow
                        @boodskapIOT</a>-->
                    <!-- twitter script -->
                    <script>
                        !function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = "//platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");
                    </script>
                    <!--/ twitter script -->
                </div>
                <!--/ twitter-feed -->
            </div>
            <!--/ col-sm-12 col-md-6 -->



            <div class="col-sm-12 text-center">
                <ul class="social-icons" style="float: none">
                    <li>
                        <a href="https://www.facebook.com/boodskapiot/" target="_blank" title="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/boodskapIOT" target="_blank" title="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/16180585/" target="_blank" title="Linkedin">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/boodskapiot/" target="_blank" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UC1yOEmlV7mBfKI1aHSMk3GQ" target="_blank" title="Youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--/ col-sm-12 col-md-6 mb-30 -->
        </div>
        <!--/ row -->

        <div class="row bottom">
            <div class="col-sm-12 col-md-6">
                    <ul class="nav footerLinks">
                        <li><a href="/privacy-policy">Privacy Policy</a></li><li>|</li>
                        <li><a href="/terms-condition">Terms & Conditions</a></li><li>|</li>
                        <li><a href="/eula">EULA</a></li><li>|</li>
                        <li><a href="/returns-refund-policy">Returns & Refund Policy</a></li><li>|</li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
            </div>

                <div class="col-sm-12 col-md-6 text-right">
                    <a href="/"><img src="<%=cdnUrl%>/images/powered-by-boodskap.png" data-src="<%=cdnUrl%>/images/powered-by-boodskap.png" alt="Footer" style="height: 25px;  vertical-align: middle;"></a>
                        <span style="font-size: 12px">
                            © <span class="currentYear"></span> All rights reserved.
                        </span>

                </div>
            </div>
            <!--/ col-sm-12 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</footer>
<!--/ Footer - Default Style 1 -->