<style>
    @media (min-width: 320px) and (max-width:768px) {
        .site-header-wrapper {
            background-color: white !important;
        }
    }


    @media (min-width: 320px) and (max-width:768px) {
        .zn-res-trigger::after {
            color: #6b6b6b !important;
            box-shadow: 0 8px 0 #6b6b6b, 0 16px 0 #6b6b6b;
            background: #6b6b6b !important;
        }
    }

    .site-header .kl-header-bg {
        background: none !important;
    }



    .site-header {

        background-color: #fff !important;
        border-bottom: 1px solid #eee;

        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    }
</style>

<header id="header" class="site-header cta_button" data-header-style="1">
    <!-- Header background -->
    <div class="kl-header-bg"></div>
    <!--/ Header background -->

    <!-- Header wrapper -->
    <div class="site-header-wrapper" style="background-color: white;">
        <div class="site-header-top-wrapper">
            <div class="siteheader-container container">
                <div class="site-header-row site-header-top d-flex justify-content-between">
                    <div class="site-header-top-left d-flex">
                        <ul class="topnav social-icons sc--clean align-self-center">
                            <li>
                                <a href="https://www.facebook.com/boodskapiot/" style="color: #6b6b6b !important;"
                                    target="_blank" title="Facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/boodskapIOT" style="color: #6b6b6b !important;"
                                    target="_blank" title="Twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/16180585/" style="color: #6b6b6b !important;"
                                    target="_blank" title="Linkedin">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UC1yOEmlV7mBfKI1aHSMk3GQ"
                                    style="color: #6b6b6b !important;" target="_blank" title="Youtube">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                        </ul>

                        <div class="clearfix visible-xxs">
                        </div>

                        <div class="kl-header-toptext align-self-center">
                            <span class="topnav-item--text" style="color: #6b6b6b !important;">QUESTIONS? CALL: </span>
                            <a href="tel:+18332663752" style="color: #6b6b6b !important;" class="fw-bold"
                                title="+1 (833)266-3752">+1 (833) BOODSKAp</a>
                            <i class="phone-header fas fa-phone ml-5 visible-xs visible-sm visible-md"
                                style="color: #6b6b6b !important;"></i>


                        </div>
                    </div>

                    <div class="site-header-top-right d-flex">


                        <div class="topnav login--panel align-self-center">
                            <a class="topnav-item" href="https://platform.boodskap.io" target="_blank">
                                <i class="login-icon fas fa-sign-in-alt visible-xs xs-icon"
                                    style="color: #6b6b6b !important;"></i>
                                <span class="topnav-item--text" style="color: #6b6b6b !important;">LOGIN</span>
                            </a>
                        </div>


                        <div id="search" class="header-search align-self-center">
                            <a href="#" class="searchBtn "><span class="fas fa-search white-icon"></span></a>
                            <div class="search-container">
                                <form id="searchform" class="header-searchform" action="https://www.google.com/search"
                                    method="get" target="_blank">
                                    <input id="q" name="q" maxlength="20" class="inputbox" type="text" size="20"
                                        value="SEARCH ..." onblur="if (this.value=='') this.value='SEARCH ...';"
                                        onfocus="if (this.value=='SEARCH ...') this.value='';">
                                    <button type="submit" id="searchsubmit"
                                        class="searchsubmit fas fa-search white-icon"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="separator site-header-separator"></div>
            </div>
        </div>

        <!-- Header Main wrapper -->
        <div class="site-header-main-wrapper d-flex">
            <!-- Header Main container -->
            <div class="siteheader-container container align-self-center py-3">
                <!-- Header Main -->
                <div class="site-header-row site-header-main d-flex flex-row justify-content-between">
                    <!-- Header Main Left Side -->
                    <div class="site-header-main-left d-flex justify-content-start align-items-center">
                        <!-- Logo container-->
                        <div class="logo-container hasInfoCard logosize--yes">
                            <!-- Logo -->
                            <h1 class="site-logo logo" id="logo">
                                <a href="/" title="">
                                    <img src="/images/assets/boodskap-logo.png" class="logo-img" alt="Boodskap"
                                        title="Boodskap Inc.," />
                                    <!-- <img src="/images/boodskap-logo-bold.png" class="logo-img" alt="Boodskap"
                                         title="Boodskap Inc.,"/> -->
                                </a>
                            </h1>
                            <!--/ Logo -->

                            <!-- InfoCard -->
                            <div id="infocard" class="logo-infocard">
                                <div class="custom">
                                    <div class="row">
                                        <div class="col-sm-6 left-side d-flex">
                                            <div class="align-self-center">
                                                <div class="infocard-wrapper text-center">
                                                    <img src="/images/boodskap-logo.png" class="mb-25 anim--grayscale"
                                                        alt="Boodskap" title="Boodskap"
                                                        style="filter: grayscale(100%);" />
                                                    <h4 class="text-center">
                                                        <i>IoT Platform</i>
                                                    </h4>
                                                </div>
                                                <!--/ infocard-wrapper -->
                                            </div>
                                            <!--/ .align-self-center -->
                                        </div>
                                        <!--/ col-sm-6 left-side d-flex -->

                                        <div class="col-sm-6 right-side">
                                            <div class="custom contact-details">
                                                <p class="text-white">
                                                    <strong class="text-white">Boodskap Inc.,</strong><br>
                                                    8951 Cypress Waters Blvd,<br>
                                                    suite 160, Dallas,<br>
                                                    TX 75019
                                                </p>
                                            </div>
                                            <div style="height:20px;">
                                            </div>
                                            <div class="custom contact-details">
                                                <p class="text-white">
                                                    <strong>Boodskap Labs Pvt Ltd</strong><br>
                                                    #46/1A2A, Vinnamangalam,<br>
                                                    Chengalpattu 603107,
                                                    Tamil Nadu - India <br>
                                                </p>
                                            </div>
                                            <div style="height:20px;">
                                            </div>
                                            <div class="custom contact-details">
                                                <p>
                                                    <a href="mailto:info@boodskap.io"><i class="fa fa-envelope"></i>
                                                        info@boodskap.io</a><br>
                                                    <a href="tel:+18332663752" title="+1 (833)266-3752"><i
                                                            class="fa fa-phone"></i> +1 (833) BOODSKAp</a>
                                                </p>
                                            </div>
                                            <!-- Social links clean style -->
                                            <ul class="social-icons sc--clean">
                                                <li>
                                                    <a href="https://www.facebook.com/boodskapiot/" target="_blank"
                                                        title="Facebook">
                                                        <i class="fab fa-facebook-f"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://twitter.com/boodskapIOT" target="_blank"
                                                        title="Twitter">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/company/16180585/" target="_blank"
                                                        title="Linkedin">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.youtube.com/channel/UC1yOEmlV7mBfKI1aHSMk3GQ"
                                                        target="_blank" title="Youtube">
                                                        <i class="fab fa-youtube"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!--/ Social links clean style -->
                                        </div>
                                        <!--/ col-sm-6 right-side -->
                                    </div>
                                    <!--/ row -->
                                </div>
                                <!--/ custom -->
                            </div>
                            <!--/ InfoCard -->
                        </div>
                        <!--/ logo container-->

                        <!-- Separator -->
                        <div class="separator visible-xxs"></div>
                        <!--/ Separator -->
                    </div>
                    <!--/ .site-header-main-left -->

                    <!-- Header Main Center Side -->
                    <div class="site-header-main-center d-flex justify-content-center align-items-center">
                        <!-- Main Menu wrapper -->
                        <div class="main-menu-wrapper">
                            <!-- Responsive menu trigger -->
                            <div id="zn-res-menuwrapper" class="mobresponsivemenu">
                                <a href="#" class="zn-res-trigger mobresponsivemenu"></a>
                            </div>
                            <!--/ responsive menu trigger -->

                            <!-- Main menu -->
                            <div id="main-menu" class="main-nav zn_mega_wrapper">
                                <ul id="menu-main-menu" class="main-menu zn_mega_menu">
                                    <li class="topMenu"><a href="/">Home</a>
                                    </li>
                                    <li class="menu-item-has-children topMenu">
                                        <a href="/platform">Platform</a>
                                        <div class="mobMenu">

                                            <p title="">
                                                <a href="http://developer.boodskap.io/docs"
                                                    target="_blank">Documentation</a>
                                            </p>
                                            <!-- <p title="">
                                                <a href="https://github.com/BoodskapPlatform" target="_blank" >Libraries</a>
                                            </p> -->
                                            <p title="">
                                                <a href="https://www.youtube.com/channel/UC1yOEmlV7mBfKI1aHSMk3GQ"
                                                    target="_blank">Video Tutorials</a>
                                            </p>
                                            <!-- <p title="">
                                                <a href="https://hub.docker.com/r/boodskapiot/platform" target="_blank">Download Platform</a>
                                            </p> -->
                                            <!-- <p title="">
                                                <a href="/iot-starter-kits" >IoT Starter Kits</a>
                                            </p>
                                            <p title="">
                                                <a href="/faq" >FAQ</a>
                                            </p> -->
                                        </div>
                                        <ul class="sub-menu clearfix">
                                            <li title="">
                                                <a href="http://developer.boodskap.io/docs"
                                                    target="_blank">Documentation</a>
                                            </li>
                                            <!-- <li title="">
                                                <a href="https://github.com/BoodskapPlatform" target="_blank" >Libraries</a>
                                            </li> -->
                                            <li title="">
                                                <a href="https://www.youtube.com/channel/UC1yOEmlV7mBfKI1aHSMk3GQ"
                                                    target="_blank">Video Tutorials</a>
                                            </li>
                                            <!-- <li title="">
                                                <a href="https://hub.docker.com/r/boodskapiot/platform" target="_blank">Download Platform</a>
                                            </li>
                                            <li title="">
                                                <a href="/iot-starter-kits" >IoT Starter Kits</a>
                                            </li>
                                            <li title="">
                                                <a href="/faq" >FAQ</a>
                                            </li> -->
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children topMenu">
                                        <a href="/products">Solutions</a>
                                        <div class="mobMenu">

                                            <p title="Facility Management">
                                                <a href="/products/facility-management">FACILITY MANAGEMENT</a>
                                            </p>
                                            <p title="Vechicle & Fleet Monitoring">
                                                <a href="/products/fleet-tracking-system">FLEET MANAGEMENT</a>
                                            </p>
                                            <p title="License Plate Recognition System">
                                                <a href="/products/vehicle-license-plate">VEHICLE LICENSE PLATE</a>
                                            </p>
                                            <p title="Face Recognition/Prediction System">
                                                <a href="/products/face-recognition-system">FACE RECOGNITION</a>
                                            </p>
                                            <p title="Remote Premise Monitoring & Security">
                                                <a href="/products/remote-security-system">REMOTE SECURITY SYSTEM</a>
                                            </p>
                                            <p title="Vistor & Staff Management">
                                                <a href="/products/visitor-management-system">VISITOR MANAGEMENT</a>
                                            </p>
                                            <p title="Emergency Alert & Broadcasting System">
                                                <a href="/products/emergency-alert-system">EMERGENCY ALERT SYSTEM</a>
                                            </p>
                                            <p title="Wearable Patch & Health Monitoring">
                                                <a href="/products/heart-rate-monitoring-system">HEALTH MONITORING</a>
                                            </p>
                                            <p title="WORKFORCE Management">
                                                <a href="/products/taams">WORKFORCE MANAGEMENT</a>
                                            </p>
                                            <p title="Industrial Tank Remote Monitoring & Control">
                                                <a href="/products/tank-monitoring-system">TANK MONITORING</a>
                                            </p>
                                            <p title="Smart Farming">
                                                <a href="/products/smart-farming-system">SMART FARMING</a>
                                            </p>
                                            <p title="Programmable Push Button Platform">
                                                <a href="/products/iot-button">IoT BUTTON</a>
                                            </p>
                                        </div>
                                        <ul class="sub-menu clearfix">
                                            <li title="Facility Management">
                                                <a href="/products/facility-management">FACILITY MANAGEMENT</a>
                                            </li>
                                            <li title="Vechicle & Fleet Monitoring">
                                                <a href="/products/fleet-tracking-system">FLEET MANAGEMENT</a>
                                            </li>
                                            <li title="License Plate Recognition System">
                                                <a href="/products/vehicle-license-plate">VEHICLE LICENSE PLATE</a>
                                            </li>
                                            <li title="Face Recognition/Prediction System">
                                                <a href="/products/face-recognition-system">FACE RECOGNITION</a>
                                            </li>
                                            <li title="Remote Premise Monitoring & Security">
                                                <a href="/products/remote-security-system">REMOTE SECURITY SYSTEM</a>
                                            </li>
                                            <li title="Vistor & Staff Management">
                                                <a href="/products/visitor-management-system">VISITOR MANAGEMENT</a>
                                            </li>
                                            <li title="Emergency Alert & Broadcasting System">
                                                <a href="/products/emergency-alert-system">EMERGENCY ALERT SYSTEM</a>
                                            </li>
                                            <li title="Wearable Patch & Health Monitoring">
                                                <a href="/products/heart-rate-monitoring-system">HEALTH MONITORING</a>
                                            </li>
                                            <li title="WORKFORCE Management">
                                                <a href="/products/taams">WORKFORCE MANAGEMENT</a>
                                            </li>
                                            <li title="Industrial Tank Remote Monitoring & Control">
                                                <a href="/products/tank-monitoring-system">TANK MONITORING</a>
                                            </li>
                                            <li title="Smart Farming">
                                                <a href="/products/smart-farming-system">SMART FARMING</a>
                                            </li>
                                            <li title="Programmable Push Button Platform">
                                                <a href="/products/iot-button">IoT BUTTON</a>
                                            </li>

                                        </ul>
                                    </li>
                                    
                                    <li class="menu-item-has-children topMenu">
                                        <a href="/industries">INDUSTRIES</a>
                                        <div class="mobMenu">
                                            <p title="Industrial Automation">
                                                <a href="/industries">INDUSTRIAL AUTOMATION</a>
                                            </p>
                                            <p title="Healthcare Monitoring">
                                                <a href="/healthcare">HEALTH CARE MONITORING</a>
                                            </p>
                                            <p title="Smart Cities">
                                                <a href="/smartcities">SMART CITIES</a>
                                            </p>
                                            <p title="Environmental Monitoring">
                                                <a href="/environmentmonitoring">ENVIRONMENTAL MONITORING</a>
                                            </p>
                                            <p title="Retail and Inventory Management">
                                                <a href="/retail">RETAIL AND INVENTORY MANAGEMENT</a>
                                            </p>
                                            <p title="Agriculture and Farming">
                                                <a href="/agriculture">AGRICULTURE AND FARMING</a>
                                            </p>
                                            <p title="Wearable Technology">
                                                <a href="/wearable">WEARABLE TECHNOLOGY</a>
                                            </p>
                                            <p title="Energy Management">
                                                <a href="/energy">ENERGY MANAGEMENT</a>
                                            </p>
                                            
                                           
                                        </div>
                                        <ul class="sub-menu clearfix">                                           
                                            <li title="Industrial Automation">
                                                <a href="/industries">INDUSTRIAL AUTOMATION</a>
                                            </li>
                                            <li title="Healthcare Monitoring">
                                                <a href="/healthcare">HEALTH CARE MONITORING</a>
                                            </li>
                                            <li title="Smart Cities">
                                                <a href="/smartcities">SMART CITIES</a>
                                            </li>
                                            <li title="Environmental Monitoring">
                                                <a href="/environmentmonitoring">ENVIRONMENTAL MONITORING</a>
                                            </li>
                                            <li title="Retail and Inventory Management">                                            
                                                <a href="/retail">RETAIL AND INVENTORY MANAGEMENT</a>
                                            </li>
                                            <li title="Agriculture and Farming">                                            
                                                <a href="/agriculture">AGRICULTURE AND FARMING</a>
                                            </li>
                                            <li title="Wearable Technology">                                            
                                                <a href="/wearable">WEARABLE TECHNOLOGY</a>
                                            </li>
                                            <li title="Energy Management">                                            
                                                <a href="/energy">ENERGY MANAGEMENT</a>
                                            </li>

                                        </ul>
                                    </li>

                                    

                                    <!--<li class="menu-item-has-children topMenu">
                                        <a
                                            href="#">Solutions</a>
                                        <ul class="sub-menu clearfix">
                                            <li><a href="/solutions/manufacturing">MANUFACTURING</a></li>
                                            <li><a href="/solutions/oil-gas">OIL & GAS</a></li>
                                            <li><a href="/solutions/utilities">UTILITIES</a></li>
                                            <li><a href="/solutions/banking">BANKING</a></li>
                                            <li><a href="/solutions/aerospace-defense">AEROSPACE & DEFENSE</a></li>
                                            <li><a href="/solutions/healthcare">HEALTHCARE</a></li>
                                            <li><a href="/solutions/retail">RETAIL</a></li>
                                            <li><a href="/solutions/telecommunications">TELECOMMUNICATIONS</a></li>
                                            <li><a href="/solutions/smart-cities">SMART CITIES</a></li>
                                            <li><a href="/solutions/transportation">TRANSPORTATION</a></li>
                                        </ul>
                                    </li>-->
                                    <!--                                    <li class="menu-item-has-children topMenu">-->
                                    <li class="topMenu"><a href="/services">Services</a>
                                    </li>
                                    <li class="topMenu">
                                        <a href="/company">Company</a>
                                        <div class="mobMenu">
                                            <p title="Contact US">
                                                <a href="/contact-us">Contact US</a>
                                            </p>
                                           
                                            
                                           
                                        </div>
                                        <ul class="sub-menu clearfix">
                                            <li class=""><a href="/contact-us">Contact US</a>
                                            </li>
                                            <!-- <li><a href="/our-team">OUR TEAM</a>
                                            </li>
                                            <li><a href="/careers">CAREERS</a>
                                            </li>
                                            <li><a href="/latest-news">LATEST NEWS</a></li>
                                            <li><a href="/events">EVENTS</a></li> -->
                                        </ul>
                                    </li>
                                    <!-- <li class="topMenu"><a href="/contact-us">Contact US</a>
                                    </li> -->
                                    <li class="topMenu"><a href="/pricing">PRICING</a>
                                    </li>
                                </ul>
                            </div>
                            <!--/ Main menu -->
                        </div>
                        <!--/ .main-menu-wrapper -->
                    </div>
                    <!--/ .site-header-main-center -->

                    <!-- Header Main Right Side -->
                    <div class="site-header-main-right d-flex justify-content-end align-items-center">

                        <!-- Call to action ribbon Free Quote (Contact form pop-up element) -->
                        <div class="quote-ribbon" onclick="window.open('https://platform.boodskap.io/','_blank')">
                            <a href="https://platform.boodskap.io/" class="ctabutton kl-cta-ribbon" title=""
                                target="_blank">
                                <strong>GET</strong>STARTED
                                <svg version="1.1" class="trisvg" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    preserveaspectratio="none" width="14px" height="5px" viewbox="0 0 14 5"
                                    enable-background="new 0 0 14 5" xml:space="preserve">
                                    <polygon fill-rule="nonzero" points="14 0 7 5 0 0"></polygon>
                                </svg>
                            </a>
                        </div>
                        <!--/ Call to action ribbon Free Quote (Contact form pop-up element) -->
                    </div>
                    <!--/ .site-header-main-right -->
                </div>
                <!--/ .site-header-row .site-header-main -->
            </div>
            <!--/ .siteheader-container .container -->
        </div>
        <!--/ Header Main wrapper -->
    </div>
    <!--/ Header wrapper -->
</header>