<link href=https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css rel="stylesheet">
<link rel="stylesheet" href="/css/home.css" type="text/css" media="all">
<title>Boodskap - Enterprise IoT Platform</title>
<section class="hg_section p-0 bg-white">
   <div class="container-fluid"
      style="background: linear-gradient(90deg, rgb(255, 255, 255) 0%, #fcefef 32%) 0% 0% / auto;">
      <div class="container landingContainer">
         <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 p-5 text-center">
               <div class="kl-title-block clearfix tbk--text-dark text-left tbk-symbol--line tbk--colored">
                  <div class="tbk__symbol ">
                     <span></span>
                  </div>
                  <h1 class="color-primary headerText1 pt-200">Build IoT Solutions Under 30 Minutes</h1>
               </div>
               <p class="pt-5 color-secondary" style="text-align: justify;"><span style="font-size: 17px;"
                  id="isPasted">Seamlessly
                  connect your sensors and create digital twins on the fly.</span>
               </p>
               <div class="text-left pt-2">
                  <a href="https://platform.boodskap.io" target="_blank" class="btn-element btn  btn-outlined"
                     title="Boodskap Platform">
                  <span>GET STARTED</span>
                  </a>
               </div>
               </a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 pt-90  text-center">
               <img src="/images/assets/rocket-landing.png" />
               <div class="clearfix" style="height: 30px;"></div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="hg_section p-0 bg-white">
   <div class="container-fluid">
      <div class="row p-5">
         <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card text-center p-2 cardMidSection cardSection">
               <img src="/images/assets/connected.png" class="pt-4" style="width: 40px;margin:auto">
               <h3 class="color-primary pt-20 pb-20 font-weight-bold">Connect</h3>
               <p class="color-secondary">Bring your IoT Sensors, Devices, Gateways.&nbsp;</p>
            </div>
         </div>
         <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card text-center p-2 cardMidSection cardSection">
               <img src="/images/assets/earth.png" class="pt-4" style="width: 40px;margin:auto">
               <h3 class="color-primary pt-20 pb-20 font-weight-bold">Build</h3>
               <p class="color-secondary">Connect with our Digital Twin Platform.&nbsp;</p>
            </div>
         </div>
         <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card text-center p-2 cardMidSection cardSection">
               <img src="/images/assets/cell-phone.png" class="pt-4" style="width: 40px;margin:auto">
               <h3 class="color-primary pt-20 pb-20 font-weight-bold">Publish</h3>
               <p class="color-secondary">Build Mobile & Web applications on the fly.&nbsp;</p>
            </div>
         </div>
      </div>
      <div class="container px-3">
         <div class="inner">
            <div class="row">
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <a href="https://riotedgesolutions.com/" target="_blank"><img src="/images/assets/logo/riot.png"
                     alt="" data-src="/images/assets/logo/riot.png" class=""></a>
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <a href="https://www.zedbee.in/" target="_blank"><img src="/images/assets/logo/zedbee.webp"
                     alt="" data-src="/images/assets/logo/zedbee.webp" class=""></a>
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <a href="https://buddi.ai/" target="_blank"><img src="/images/assets/logo/buddi.webp" alt=""
                     data-src="/images/assets/logo/buddi.webp" class=""></a>
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <a href="https://www.mass.gov/orgs/department-of-transitional-assistance" target="_blank"><img
                     src="/images/assets/logo/dta.webp" alt="" data-src="/images/assets/logo/dta.webp"
                     class=""></a>
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <a href="https://www.kyyba.com/" target="_blank"><img src="/images/assets/logo/kyyba.webp"
                     alt="" data-src="/images/assets/logo/kyyba.webp" class=""></a>
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <a href="https://global.abb/group/en" target="_blank"><img
                     src="/images/assets/logo/abblogo.webp" alt=""
                     data-src="/images/assets/logo/abblogo.webp" class=""></a>
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <a href="https://annamalaiuniversity.ac.in/index.php" target="_blank"><img
                     src="/images/assets/logo/annamalai.webp" alt=""
                     data-src="/images/assets/logo/annamalai.webp" class=""></a>
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <a href="https://www.digi-val.com/" target="_blank"><img src="/images/assets/logo/digival.webp"
                     alt="" data-src="/images/assets/logo/digival.webp" class=""></a>
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <a href="https://www.nokia.com/" target="_blank"><img src="/images/assets/logo/nokia.webp"
                     alt="" data-src="/images/assets/logo/nokia.webp" class=""></a>
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <a href="https://fourbends.com/" target="_blank"><img
                     src="/images/assets/logo/fourbends_logo.webp" alt=""
                     data-src="/images/assets/logo/fourbends_logo.webp" class=""></a>
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <a href="https://vitalprobe.com/" target="_blank"><img src="/images/assets/logo/vitalprobe.jpeg"
                     alt="" data-src="/images/assets/logo/vitalprobe.jpeg" class=""></a>
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <a href="https://www.ruggedtelemetry.com/" target="_blank"><img
                     src="/images/assets/logo/ruggedte-e.png" alt=""
                     data-src="/images/assets/logo/ruggedte-e.png" class=""></a>
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <a href="https://www.enstrapp.com/" target="_blank"><img src="/images/assets/logo/enstrapp.webp"
                     alt="" data-src="/images/assets/logo/enstrapp.webp" class=""></a>
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <a href="https://www.yudash.com/home" target="_blank"><img src="/images/assets/logo/yudash.png"
                     alt="" data-src="/images/assets/logo/yudash.png" class=""></a>
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <img src="/images/assets/logo/C2digitran.webp" alt=""
                     data-src="/images/assets/logo/C2digitran.webp" class="">
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <img src="/images/assets/logo/ticmega.webp" alt="" data-src="/images/assets/logo/ticmega.webp"
                     class="">
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <img src="/images/assets/logo/growchain.webp" alt=""
                     data-src="/images/assets/logo/growchain.webp" class="">
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 center-content">
                  <a href="https://faradayozone.com/" target="_blank"><img
                     src="/images/assets/logo/faraday_ozone.webp" alt=""
                     data-src="/images/assets/logo/faraday_ozone.webp" class=""></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="hg_section p-0 bg-white">
   <div class="container">
      <div class="text-center pt-100">
         <h2 class="text-heading">
            What our Client says about us
         </h2>
         <div style="height: 20px;"></div>
      </div>
      <div class="row background-margin">
         <div class="col-sm-12 col-md-6">
            <div class="background-image-holder" style="background-image: url(&quot;/images/assets/tim.jpg&quot;);">
            </div>
         </div>
         <div class="col-sm-12 col-md-6">
            <div class="background-content mt-2">
               <div class="inner p-5">
                  <div class="color-primary">
                     <h4 class="font-weight-bold" style="font-size:24px">Tim Slifkin</h4>
                  </div>
                  <div class="color-secondary">
                     <p><span style="font-size: 18px;">We have had significant experience with the
                        Boodskap team and their platform.&nbsp;</span>
                     </p>
                     <p><span style="font-size: 18px;">We have found the Boodskap platform and tool set to be
                        among the most efficient and comprehensive that we’ve used.</span>
                     </p>
                     <p class="mb-0"><em><span style="font-size: 18px;">CEO, RIOT Wireless</span></em></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row background-margin">
         <div class="col-sm-12 col-md-6">
            <div class="background-content mt-2">
               <div class="inner p-5">
                  <div class="color-primary">
                     <h4 class="font-weight-bold" style="font-size:24px">Jason Carabetta</h4>
                  </div>
                  <div class="color-secondary">
                     <p><span style="font-size: 18px;">The Boodskap team is an experienced group of IoT
                        professionals that understands the challenges of building a back-office
                        solution.&nbsp;</span>
                     </p>
                     <p><span style="font-size: 18px;">They have exceeded our expectations with delivering a STEM
                        based platform to complement our environmental and STEM hardware solutions</span>
                     </p>
                     <p class="mb-0"><em><span style="font-size: 18px;">CEO, Rugged Telemetry</span></em></p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm-12 col-md-6">
            <div class="background-image-holder"
               style="background-image: url(&quot;/images/assets/jason.jpg&quot;);">
            </div>
         </div>
      </div>
   </div>
</section>
<section class="hg_section p-0 bg-white">
   <div class="container mt-150 px-3">
      <div class="row">
         <div class="col-sm-12 col-md-6">
            <div class="background-image-holder"
               style="background-image: url(&quot;/images/assets/digitaltwinning.png&quot;);">
            </div>
         </div>
         <div class="col-sm-12 col-md-6">
            <div class="inner">
               <h2 class="text-heading">
                  Digital Twin IoT Platform
               </h2>
               <div>
                  <p class="color-secondary" style="text-align: justify;">In today's constantly evolving
                     industries,
                     staying ahead of the competition means embracing innovative technologies that redefine
                     the way we approach business. Our Digital Twinning Solutions empower your business to
                     thrive in the era of Industry 4.0 by combining the power of the Industrial Internet of
                     Things (IIoT) and virtual representation.
                  </p>
                  <p class="color-secondary" style="text-align: justify;">&nbsp;Our digital twin application uses
                     data from connected
                     IoT sensors to create a real-time model. By using our digital twin application, you can
                     keep an eye on devices, assets, or processes from anywhere and at any time. It is used
                     for various purposes, such as analyzing performance, identifying problems, or running
                     tests before implementation. The information obtained from an IoT digital twin helps our
                     users improve operational efficiency, production quality, customer satisfaction, and
                     more.
                  </p>
               </div>
               <div class="text-left py-3">
                  <a href="https://platform.boodskap.io" target="_blank" class="btn-element btn  btn-outlined"
                     title="Boodskap Platform">
                  <span>GET STARTED</span>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="hg_section p-0 bg-white">
   <div class="container mt-100 px-3">
      <h2 class="text-heading text-center">
         Core IoT Platform
      </h2>
      <div>
         <p class="color-secondary" style="text-align: justify;">Boodskap empowers businesses to connect and manage
            billions of
            devices with our comprehensive services and solutions for the Internet of Things (IoT). We believe in
            enabling our customers to make better operational and business decisions by leveraging data-driven
            insights.With our intelligent applications for IoT, you can gain more visibility, insights, and
            efficiencies from connected devices.
         </p>
         <p class="color-secondary" style="text-align: justify;">Our end-to-end, low-code, no-code IoT platform
            empowers businesses to
            quickly and cost-effectively plug and play any kind of hardware/sensors into our message gateways. We
            leverage the latest and emerging technologies such as artificial intelligence (AI), machine learning,
            and blockchain to offer huge business differentiators and advantages for our customers.
         </p>
         <p class="color-secondary" style="text-align: justify;">Our platform makes communication between devices and
            gateways simple. With
            just one API call, you can send any kind of data to the remote device, and our platform will take care
            of when, where, and what channel to use to communicate automatically.
         </p>
         <p class="color-secondary" style="text-align: justify;">At Boodskap, we're committed to helping our
            customers succeed by providing
            innovative and reliable IoT solutions.
         </p>
      </div>
      <div>
         <img src="/images/assets/boodskap-model.png" alt="" data-src="/images/assets/boodskap-model.png" class="">
      </div>
      <div>
         <p class="color-secondary" style="text-align: justify;">Boodskap eliminates about 60% of the traditional
            software
            development setup and operational cost by providing a core platform service which is 100% horizontal in
            nature and it can accommodate any kind of data/sensor/device/storage requirements. Interoperable is one
            of the key requirement in most IoT systems, ability to interface with multiple software and consuming a
            variety of software as a service platforms, import / export the data are very common, well, today’s
            modern software languages has all the ability to do such things, but why would you want to reinvent the
            wheel time and again for each implementation
         </p>
         <p class="color-secondary" style="text-align: justify;">Boodskap platform and the API services are 100%
            written using Java language.
            The UI/UX components are built using various AJAX web technologies and that runs on a Node.js engine.
            The entire admin console is open sourced and you are welcome to extend and use it. The platform can be
            extended using 30+ languages of your choice.
         </p>
      </div>
      <div class="text-left">
         <a href="https://developer.boodskap.io/" target="_blank" class="btn-element btn  btn-outlined"
            title="Boodskap Platform">
         <span>Learn More</span>
         </a>
      </div>
   </div>
</section>
<section class="hg_section p-0 bg-white">
   <div class="container mt-100 px-3">
      <h2 class="text-heading">
         ‌Important capabilities of an IoT platform
      </h2>
      <div class="color-secondary point-section px-3">
         <br>
         <ul>
            <li><strong>Application development:</strong> Users can develop and deploy IoT applications that are
               compatible with devices compatible with the IoT platform.
            </li>
         </ul>
         <br>
         <ul>
            <li><strong>Data management at scale:</strong> With the increasing number of sensors and devices,
               collected data and the complexity of IoT projects increase. An IoT platform helps businesses manage
               data at scale.
            </li>
         </ul>
         <br>
         <ul>
            <li><strong>Analytics:</strong> An IoT platform can have analytics capabilities such as rule engines,
               event stream processing, machine learning, and data visualization. It can support the analysis of
               data either at the edge or in the cloud to generate actionable insights.
            </li>
         </ul>
         <br>
         <ul>
            <li><strong>Interoperability &amp; integration:</strong> A platform can provide communication with
               different types of devices (sensors, cameras, wearables, etc.) so that their data can be transmitted
               to the cloud correctly.
            </li>
         </ul>
         <br>
         <ul>
            <li><strong>Device Management:</strong> IoT platforms enable users to track, monitor, and manage
               physical IoT devices. Effective device management is important for the connectivity and security of
               IoT devices.
            </li>
         </ul>
         <br>
         <ul>
            <li><strong>Security:</strong> Organizations can ensure the security of data within the IoT system by
               relying on the features of an IoT platform.
            </li>
         </ul>
         <br>
         <ul>
            <li>Multi cloud support, private cloud support, onpremise installation.</li>
         </ul>
         <br>
      </div>
   </div>
</section>
<section class="hg_section p-0 bg-white">
   <div class="container mt-0 px-1">
      <div class="row">
         <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="image-border-section p-3">
               <div>
                  <div class="text-center"><img style="width:60%" src="/images/assets/platform.png" alt=""
                     data-src="/images/assets/platform.png" class="">
                  </div>
                  <div>
                     <h6 class="color-primary font-weight-bold"><br>‌FULLY INTEGRATED IOT PLATFORM</h6>
                  </div>
                  <div>
                     <p style="text-align: justify;">As IoT deployment requirements become more
                        complex, the supporting platform needs to have greater available capabilities for
                        greater flexibility. That’s where Boodskap's fully integrated platform differentiate
                        itself. It is designed to encompass a much broader treatment of IoT operations than mere
                        application or middleware platforms.
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="image-border-section p-3">
               <div>
                  <div><img src="/images/assets/components.png" alt="" data-src="/images/assets/components.png"
                     class="">
                  </div>
                  <div>
                     <h6 class="color-primary font-weight-bold">READY TO CONNECT COMPONENTS</h6>
                  </div>
                  <div>
                     <p class="mb-45" style="text-align: justify;">Boodskap offers a new approach,
                        Ready-to-Connect Solutions, that streamlines the development, deployment, and operation
                        of large-scale IoT solutions to accelerate time-to-revenue, increase security, and add
                        business flexibility while lowering overall costs.
                     </p>
                     <br>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="text-left px-3 py-5">
         <a href="https://developer.boodskap.io/" target="_blank" class="btn-element btn  btn-outlined"
            title="Boodskap Platform">
         <span>Learn More</span>
         </a>
      </div>
   </div>
</section>
<section class="hg_section p-0 bg-white">
   <div class="container mt-50 mb-50">
      <h2 class="text-heading">
         Visualize your IoT data with a variety of display choices
      </h2>
      <div class="row">
         <div class="col">
            <a class="btn collapseBtn btn-block py-3" data-bs-toggle="collapse" href="#chartsCollapse" role="button"
               aria-expanded="false" aria-controls="chartsCollapse">
            Charts
            </a>
         </div>
         <div class="col">
            <a class="btn collapseBtn btn-block py-3" data-bs-toggle="collapse" href="#tableCollapse" role="button"
               aria-expanded="false" aria-controls="tableCollapse">
            Table
            </a>
         </div>
         <div class="col">
            <a class="btn collapseBtn btn-block py-3" data-bs-toggle="collapse" href="#mapCollapse" role="button"
               aria-expanded="false" aria-controls="mapCollapse">
            Map
            </a>
         </div>
      </div>
      <div class="collapse show" id="chartsCollapse">
         <p class="color-secondary py-4" style="text-align: justify;">
            Visualize data trends and patterns by utilizing a variety of chart types. Select from line or bar charts, incorporate multiple data series, employ diverse data aggregation methods, and implement customizable thresholds directly within the chart.
         </p>
      </div>
      <div class="collapse" id="tableCollapse">
         <p class="color-secondary py-4" style="text-align: justify;">
            Efficiently structure and present your data in a tabular format to facilitate detailed analysis.
            Customize the table to display data from specific devices as defined by your custom tags.
         </p>
      </div>
      <div class="collapse" id="mapCollapse">
         <p class="color-secondary py-4" style="text-align: justify;">
            Visualizing data points geographically offers valuable insights for spatial analysis and location-based
            decision making. The map component beautifully displays contextual device data on the map and showcases
            assets in a meaningful way.
         </p>
      </div>
   </div>
</section>
<section class="hg_section p-0 bg-white">
   <div class="container mb-50 px-3">
      <h2 class="text-heading mb-50">
         Empower by managing devices and connectivity in one place
      </h2>
      <div class="row">
         <div class="col-sm-12 col-md-6 col-lg-4 px-1">
            <div class="image-border-section">
               <img src="/images/assets/device.jpg" alt="" data-src="/images/assets/device.jpg" class="">
               <div class="pt-3">
                  <h3 class="color-primary text-center" style="font-weight: 600;">Device Simulator</h3>
               </div>
               <div class="px-3">
                  <p class="color-seondary" style="text-align: justify;">No device on hand? No worries - our
                     device
                     simulator has you sorted!
                  </p>
               </div>
            </div>
         </div>
         <div class="col-sm-12 col-md-6 col-lg-4 px-1">
            <div class="image-border-section">
               <img src="/images/assets/bulk-import.jpeg" alt="" data-src="/images/assets/bulk-import.jpeg"
                  class="">
               <div class="pt-3">
                  <h3 class="color-primary text-center" style="font-weight: 600;">Bulk Actions</h3>
               </div>
               <div class="px-3">
                  <p class="color-seondary" style="text-align: justify;">Efficiently manage devices at scale using
                     CSV import and bulk edit tools.
                  </p>
               </div>
            </div>
         </div>
         <div class="col-sm-12 col-md-6 col-lg-4 px-1">
            <div class="image-border-section">
               <img src="/images/assets/asset-tagging.jpeg" alt="" data-src="/images/assets/asset-tagging.jpeg"
                  class="">
               <div class="pt-3">
                  <h3 class="color-primary text-center" style="font-weight: 600;">Tags & Custom Fields</h3>
               </div>
               <div class="px-3">
                  <p class="color-seondary" style="text-align: justify;">Get your device collection in order by
                     adding tags and custom fields to keep everything organized just the way you like it
                  </p>
               </div>
            </div>
         </div>
         <div class="col-sm-12 col-md-6 col-lg-4 px-1">
            <div class="image-border-section">
               <img src="/images/assets/custom-dashboard.jpeg" alt=""
                  data-src="/images/assets/custom-dashboard.jpeg" class="">
               <div class="pt-3">
                  <h3 class="color-primary text-center" style="font-weight: 600;">Custom Dashboards</h3>
               </div>
               <div class="px-3">
                  <p class="color-seondary" style="text-align: justify;">Turn your IoT data into valuable insights
                     with the user-friendly Dashboard Builder from NoCode. Create it. Customize it.
                  </p>
               </div>
            </div>
         </div>
         <div class="col-sm-12 col-md-6 col-lg-4 px-1">
            <div class="image-border-section">
               <img src="/images/assets/preprocessor-rules.jpeg" alt=""
                  data-src="/images/assets/preprocessor-rules.jpeg" class="">
               <div class="pt-3">
                  <h3 class="color-primary text-center" style="font-weight: 600;">Preprocessors</h3>
               </div>
               <div class="px-3">
                  <p class="color-seondary" style="text-align: justify;">Transform raw sensor data for analysis,
                     visualization, or simulation in the digital twin environment.</p>
               </div>
            </div>
         </div>
         <div class="col-sm-12 col-md-6 col-lg-4 px-1">
            <div class="image-border-section">
               <img src="/images/assets/conditions.jpeg" alt="" data-src="/images/assets/conditions.jpeg" class="">
               <div class="pt-3">
                  <h3 class="color-primary text-center" style="font-weight: 600;">Condition Rules</h3>
               </div>
               <div class="px-3">
                  <p class="color-seondary" style="text-align: justify;">Defines behavior, monitors thresholds,
                     trigger actions, and enables decision-making capabilities within the digital twin.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="hg_section p-0 bg-white">
   <div class="container mt-50 px-3">
      <div class="row">
         <div class="col-sm-12 col-md-6">
            <div class="background-image-holder"
               style="background-image: url(&quot;/images/assets/data.jpg&quot;);">
            </div>
            <!-- <img src="/images/assets/data.jpg" alt="" data-src="/images/assets/data.jpg" class=""> -->
         </div>
         <div class="col-sm-12 col-md-6">
            <div class="inner">
               <h2 class="text-heading">
                  Real-Time Monitoring and Data Insights
               </h2>
               <div>
                  <p class="color-secondary" style="text-align: justify;">IoT-enabled sensors can continuously
                     monitor various aspects of operations, such as energy consumption, equipment performance,
                     inventory levels, and environmental conditions.
                  </p>
                  <p class="color-secondary" style="text-align: justify;">&nbsp;By collecting and analyzing
                     real-time data, organizations can identify inefficiencies, detect anomalies, and make
                     data-driven decisions to optimize resource utilization and reduce waste.
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="row mt-100">
         <div class="col-sm-12 col-md-6">
            <div class="inner">
               <h2 class="text-heading">
                  Predictive Maintenance
               </h2>
               <div>
                  <p class="color-secondary" style="text-align: justify;">IoT devices can monitor the condition of
                     equipment and machinery in real-time, detecting signs of wear and potential failures before
                     they occur.
                  </p>
                  <p class="color-secondary" style="text-align: justify;">&nbsp;By implementing predictive
                     maintenance strategies based on IoT data analytics, organizations can schedule maintenance
                     activities proactively, minimize downtime, extend asset lifespan, and avoid costly unplanned
                     repairs.
                  </p>
               </div>
            </div>
         </div>
         <div class="col-sm-12 col-md-6">
            <div class="background-image-holder"
               style="background-image: url(&quot;/images/assets/predictive.jpg&quot;);">
            </div>
         </div>
      </div>
      <div class="row mt-100">
         <div class="col-sm-12 col-md-6">
            <div class="background-image-holder"
               style="background-image: url(&quot;/images/assets/supplychain.jpg&quot;);">
            </div>
         </div>
         <div class="col-sm-12 col-md-6">
            <div class="inner">
               <h2 class="text-heading">
                  Supply Chain Optimization
               </h2>
               <div>
                  <p class="color-secondary" style="text-align: justify;">IoT-enabled tracking devices and RFID
                     (radio-frequency identification) tags can provide real-time visibility into the movement and
                     status of goods throughout the supply chain.
                  </p>
                  <p class="color-secondary" style="text-align: justify;">&nbsp;This visibility allows
                     organizations to optimize inventory management, reduce stockouts and overstocking, minimize
                     transportation costs, and improve overall supply chain efficiency.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="hg_section p-0 bg-white">
   <div class="container mt-50 mb-50">
      <div class="accordion" id="landingAccordion">
         <div class="accordion-item">
            <h2 class="accordion-header">
               <button class="accordion-button color-primary" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               Remote Monitoring and Management
               </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#landingAccordion">
               <div class="accordion-body">
                  <p>IoT enables remote monitoring and control of assets and processes, reducing the need for
                     on-site inspections and manual interventions. This not only increases operational efficiency
                     but also saves time and resources associated with travel and physical presence.
                  </p>
               </div>
            </div>
         </div>
         <div class="accordion-item">
            <h2 class="accordion-header">
               <button class="accordion-button collapsed color-primary" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               Streamlined Operations & Automation
               </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#landingAccordion">
               <div class="accordion-body">
                  <p>IoT devices can facilitate process automation and integration across different systems and
                     departments.
                     By automating routine tasks, optimizing workflows, and eliminating manual interventions,
                     organizations can reduce labor costs, improve productivity, and free up resources for
                     higher-value activities.
                  </p>
               </div>
            </div>
         </div>
         <div class="accordion-item">
            <h2 class="accordion-header">
               <button class="accordion-button collapsed color-primary" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
               Energy Efficiency
               </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#landingAccordion">
               <div class="accordion-body">
                  <p>IoT sensors can track energy consumption patterns and identify opportunities for
                     optimization.
                     For example, smart thermostats, lighting systems, and HVAC (heating, ventilation, and air
                     conditioning) controls can adjust settings based on occupancy, ambient conditions, and
                     energy demand, leading to significant energy savings without compromising comfort or
                     productivity.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="hg_section p-0 bg-white">
   <div class="container mt-50 mb-50">
      <div class="row">
         <div class="col-sm-12 col-md-6 col-lg-6 px-1">
            <div class="image-border-section" style="height:95.48%;">
               <div class="py-3" style="border-bottom: 1px solid #cd2122;">
                  <h3 class="color-primary text-center" style="font-weight: 600;">Risk Reduction & Compliance</h3>
               </div>
               <div class="px-3 pt-3">
                  <p class="color-seondary" style="text-align: justify;">IoT solutions can help organizations
                     mitigate risks related to safety, security, and regulatory compliance.
                  </p>
                  <p class="color-seondary" style="text-align: justify;">For example, environmental monitoring
                     sensors can ensure compliance with safety standards, while surveillance cameras and access
                     control systems can enhance security measures, reducing the potential for costly incidents
                     or regulatory fines.
                  </p>
               </div>
               <img src="/images/assets/computer.jpg" style="width:100%" alt=""
                  data-src="/images/assets/computer.jpg" class="">
            </div>
         </div>
         <div class="col-sm-12 col-md-6 col-lg-6 px-1">
            <div class="image-border-section" style="height: 95.7%;">
               <div class="py-3" style="border-bottom: 1.5px solid #cd2122;">
                  <h3 class="color-primary text-center" style="font-weight: 600;">Ease of Connectivity</h3>
               </div>
               <div class="px-3 pt-3">
                  <p class="color-seondary" style="text-align: justify;">IoT devices are designed for easy
                     integration into existing infrastructure using standard communication protocols like Wi-Fi,
                     Bluetooth, and cellular networks.
                  </p>
                  <p class="color-seondary pb-25" style="text-align: justify;">This simplifies deployment and
                     integration, enabling quick and scalable implementation of IoT solutions.
                  </p>
               </div>
               <img src="/images/assets/human.jpg" style="width:100%" alt="" data-src="/images/assets/human.jpg"
                  class="">
            </div>
         </div>
      </div>
   </div>
</section>
<section class="hg_section p-0 bg-white">
   <div class="container mt-50 mb-50">
      <div class="row">
         <div class="col-4">
            <a class="btn collapseBtn btn-block py-3" data-bs-toggle="collapse" href="#collapse1" role="button"
               aria-expanded="true" aria-controls="collapse1">
            Plug-&-Play Functionality <span class="icon float-right"><i class="fas fa-minus"></i></span>
            </a>
            <a class="btn collapseBtn btn-block py-3" data-bs-toggle="collapse" href="#collapse2" role="button"
               aria-expanded="false" aria-controls="collapse2">
            Data-driven Insights <span class="icon float-right"><i class="fas fa-plus"></i></span>
            </a>
            <a class="btn collapseBtn btn-block py-3" data-bs-toggle="collapse" href="#collapse3" role="button"
               aria-expanded="false" aria-controls="collapse3">
            Fault Tolerance & Redundancy <span class="icon float-right"><i class="fas fa-plus"></i></span>
            </a>
            <a class="btn collapseBtn btn-block py-3" data-bs-toggle="collapse" href="#collapse4" role="button"
               aria-expanded="false" aria-controls="collapse4">
            Scalability & Flexibility <span class="icon float-right"><i class="fas fa-plus"></i></span>
            </a>
         </div>
         <div class="col-8">
            <div class="collapse show" id="collapse1">
               <p class="color-secondary py-4" style="text-align: justify;">
                  Many IoT devices come with plug-and-play functionality, meaning they can be easily installed and
                  configured without the need for extensive technical expertise.
                  This allows organizations to deploy IoT solutions rapidly and efficiently, minimizing downtime
                  and accelerating time-to-value.
               </p>
               <img src="/images/assets/switch.jpg" class="responsive-img" />
            </div>
            <div class="collapse" id="collapse2">
               <p class="color-secondary py-4" style="text-align: justify;">
                  IoT systems generate large amounts of data from connected devices and sensors. By using advanced
                  analytics and machine learning, organizations can gain valuable insights to improve
                  decision-making, optimize processes, and enhance performance. These insights help identify and
                  address potential issues early, enhancing reliability and reducing disruptions.
               </p>
               <img src="/images/assets/chart-dashboard.jpg" class="responsive-img" />
            </div>
            <div class="collapse" id="collapse3">
               <p class="color-secondary py-4" style="text-align: justify;">
                  To ensure reliability, IoT systems often incorporate fault tolerance mechanisms and redundancy
                  features. This includes backup power sources, redundant communication paths, and failover
                  mechanisms to maintain continuous operation even in the event of hardware failures or network
                  disruptions. By building resilience into IoT infrastructure, organizations can minimize the
                  impact of potential failures and ensure uninterrupted service delivery.
               </p>
               <img src="/images/assets/redudant.jpg" class="responsive-img" />
            </div>
            <div class="collapse" id="collapse4">
               <p class="color-secondary py-4" style="text-align: justify;">
                  IoT solutions are highly scalable and flexible, capable of supporting a diverse range of use
                  cases and accommodating evolving business needs. Whether deploying a handful of devices or
                  scaling to thousands or even millions of devices.
                  IoT platforms can easily adapt to accommodate growth and changes in requirements. This
                  scalability and flexibility ensure that IoT solutions remain reliable and effective as
                  organizations expand and evolve.
               </p>
               <img src="/images/assets/scalability.png" class="responsive-img" />
            </div>
         </div>
      </div>
   </div>
</section>
<script>
   document.querySelectorAll('.collapseBtn').forEach(btn => {
      btn.addEventListener('click', function() {
          var target = $(this).attr('href');
      $('.collapse').not(target).collapse('hide');
          let icon = this.querySelector('.icon i');
          if (this.getAttribute('aria-expanded') === 'true') {
              icon.classList.remove('fa-minus');
              icon.classList.add('fa-plus');
          } else {
              icon.classList.remove('fa-plus');
              icon.classList.add('fa-minus');
          }
      });
   });
   
   document.querySelectorAll('.collapseBtn')[0].querySelector('.icon i').classList.add('fa-minus');
   
   $('.collapseBtn').on('click', function () {
       var target = $(this).attr('href');
       $('.collapse').not(target).collapse('hide');
   });
</script>
<script src=https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js></script>