<title>IoT Starter Kits - Boodskap</title>

<div id="home" class="kl-slideshow iosslider-slideshow uh_light_gray maskcontainer--shadow_ud iosslider--custom-height scrollme">
    <!-- Loader -->
    <div class="kl-loader">
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewbox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve"><path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"></path><path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z" transform="rotate(98.3774 20 20)"><animatetransform attributetype="xml" attributename="transform" type="rotate" from="0 20 20" to="360 20 20" dur="0.5s" repeatcount="indefinite"></animatetransform></path></svg>
    </div>
    <!-- Loader -->

    <div class="bgback">
    </div>

    <!-- Animated Sparkles -->
    <div class="th-sparkles">
    </div>
    <!--/ Animated Sparkles -->

    <!-- iOS Slider wrapper with animateme scroll efect -->
    <div class="iosSlider kl-slideshow-inner animateme" >
        <!-- Slides -->
        <div class="kl-iosslider hideControls">
            <!-- Item #1 -->
            <div class="item iosslider__item">
                <!-- Background slide image -->
                <div class="slide-item-bg vertical-pos--top" style="background-image:url(/images/iot-starter.jpg);">
                </div>

                <!-- Overlay -->
                <div class="kl-slide-overlay">
                </div>

                <!-- Captions container with class styles -->
                <div class="container kl-iosslide-caption kl-ioscaption--style4 s4ext fromleft klios-alignleft kl-caption-posv-middle">
                    <!-- Animateme wrapper -->
                    <div class="animateme">
                        <!-- Big title -->
                        <h2 class="main_title has_titlebig ">
                            <span>STARTER KITS</span>
                        </h2>

                        <!-- Big title 2 -->
                        <h3 class="title_big">
                            IOT ELECTRONICS IS <strong>FUN</strong>
                        </h3>

                        <!-- Link -->
                        <a href="#" class="more" title="">
                            PLAY AROUND
                        </a>

                        <!-- Small title -->
                    </div>
                    <!--/ .animateme wrapper -->
                </div>
                <!--/ Captions container with class styles -->
            </div>
            <!--/ Item #1 -->

        </div>
        <!--/ Slides -->

        <!--/ Navigation Controls - Prev -->
    </div>
    <!--/ iOS Slider wrapper with animateme scroll efect -->


    <div class="scrollbarContainer">
    </div>

    <!-- Bottom mask style 2 -->
    <div class="kl-bottommask kl-bottommask--shadow_ud">
    </div>
    <!--/ Bottom mask style 2 -->

    <div class="kl-bottommask kl-bottommask--mask5">
        <svg width="2700px" height="64px" class="svgmask" viewBox="0 0 2700 64" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <defs>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask5">
                    <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                    <feGaussianBlur stdDeviation="1.5" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                    <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.45 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                    <feMerge>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                        <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                    </feMerge>
                </filter>
            </defs>
            <path d="M1892,0 L2119,44.993 L2701,45 L2701.133,63.993 L-0.16,63.993 L1.73847048e-12,45 L909,44.993 L1892,0 Z" class="bmask-bgfill" fill="#ffffff" filter="url(#filter-mask5)"></path>
            <path d="M2216,44.993 L2093,55 L1882,6 L995,62 L966,42 L1892,0 L2118,44.993 L2216,44.993 L2216,44.993 Z" fill="#cd2122" class="bmask-customfill" filter="url(#filter-mask5)"></path>
        </svg>
    </div>

</div>



<section class="hg_section">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="services_box services_box--boxed sb--hasicon bg-white" id="classified">
                    <div class="services_box__inner clearfix">

                        <div class="services_box__content">
                            <h2 class="wgt-title">
                                <span>NODE MCU</span>
                            </h2>
                            <div class="services_box__desc portfolio-item-desc">

                                <img src="/images/kit/1-type.png" />
                                <div class="portfolio-item-desc-inner mt-3">
                                    <p>
                                        80MHz, 32 Bit Processor<br>
                                        2.4 GHz WiFI (802.11 b/g/n, WPA/WPA2)<br>
                                        16 GPIOs, I2C, SPI, UART<br>
                                        96 KB SRAM, 4MB FLash<br>
                                    </p>
                                </div>
                                <!-- Toggle show more button -->
                                <a href="#" class="portfolio-item-more-toggle js-toggle-class" data-target=".services_box__desc" data-target-class="is-opened" data-more-text="see more" data-less-text="show less">
                                    <span class="fas fa-chevron-down"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="services_box services_box--boxed sb--hasicon bg-white" id="classified">
                    <div class="services_box__inner clearfix">

                        <div class="services_box__content">
                            <h2 class="wgt-title">
                                <span>ESP8266 + BATTERY SUPPORT</span>
                            </h2>
                            <div class="services_box__desc portfolio-item-desc">

                                <img src="/images/kit/2-type.png" />
                                <div class="portfolio-item-desc-inner mt-3">
                                    <p>
                                        80MHz, 32 Bit Processor<br>
                                        2.4 GHz WiFI (802.11 b/g/n, WPA/WPA2)<br>
                                        11 GPIOs, 1 Analog, I2C, SPI, UART<br>
                                        96 KB SRAM, 4MB FLash, Battery Model 18650 Holder (Battery not included)
                                    </p>
                                </div>
                                <!-- Toggle show more button -->
                                <a href="#" class="portfolio-item-more-toggle js-toggle-class" data-target=".services_box__desc" data-target-class="is-opened" data-more-text="see more" data-less-text="show less">
                                    <span class="fas fa-chevron-down"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="services_box services_box--boxed sb--hasicon bg-white" id="classified">
                    <div class="services_box__inner clearfix">

                        <div class="services_box__content">
                            <h2 class="wgt-title">
                                <span>WeMos D1 MINI PRO + BATTERY SUPPORT</span>
                            </h2>
                            <div class="services_box__desc portfolio-item-desc">

                                <img src="/images/kit/3-type.png" />
                                <div class="portfolio-item-desc-inner mt-3">
                                    <p>

                                        80MHz, 32 Bit Processor<br>
                                        2.4 GHz WiFI (802.11 b/g/n, WPA/WPA2)<br>
                                        11 GPIOs, 1 Analog, I2C, SPI, UART<br>
                                        96 KB SRAM, 32MB FLash<br>
                                        External Lithium Battery Holder/Charger (Battery not included)
                                    </p>
                                </div>
                                <!-- Toggle show more button -->
                                <a href="#" class="portfolio-item-more-toggle js-toggle-class" data-target=".services_box__desc" data-target-class="is-opened" data-more-text="see more" data-less-text="show less">
                                    <span class="fas fa-chevron-down"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="services_box services_box--boxed sb--hasicon bg-white" id="classified">
                    <div class="services_box__inner clearfix">

                        <div class="services_box__content">
                            <h2 class="wgt-title">
                                <span>SX1278 LoRa + ESP32 + BATTERY SUPPORT</span>
                            </h2>
                            <div class="services_box__desc portfolio-item-desc">

                                <img src="/images/kit/4-type.png" />
                                <div class="portfolio-item-desc-inner mt-3">
                                    <p>

                                        240MHz, 32 Bit Dual Core Processors <br>
                                        2.4 GHz WiFI (802.11 b/g/n, WEP/WPA/WPA2/PSK/Enterprise)<br>
                                        Bluetooth, BLE (Low Power Bluetooth)<br>
                                        14 GPIOs, 6 Analogs, 2 I2Cs, 3 SPIs, 3 UARTs<br>
                                        96 KB SRAM, 32MB FLash, External Lithium Battery Holder/Charger (Battery not included)
                                    </p>
                                </div>
                                <!-- Toggle show more button -->
                                <a href="#" class="portfolio-item-more-toggle js-toggle-class" data-target=".services_box__desc" data-target-class="is-opened" data-more-text="see more" data-less-text="show less">
                                    <span class="fas fa-chevron-down"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="services_box services_box--boxed sb--hasicon bg-white" id="classified">
                    <div class="services_box__inner clearfix">

                        <div class="services_box__content">
                            <h2 class="wgt-title">
                                <span>UNO R3 + SIM900 EXPANSION</span>
                            </h2>
                            <div class="services_box__desc portfolio-item-desc">

                                <img src="/images/kit/5-type.png" />
                                <div class="portfolio-item-desc-inner mt-3">
                                    <p>

                                        16MHz, 8 Bit Microcontroller<br>
                                        GSM Quad-Band (850/900/1800/1900) MHz<br>
                                        14 GPIOs, 6 Analogs, I2C, SPI, UART<br>
                                        2KB SRAM, 32KB FLash, 1KB EEPROM
                                    </p>
                                </div>
                                <!-- Toggle show more button -->
                                <a href="#" class="portfolio-item-more-toggle js-toggle-class" data-target=".services_box__desc" data-target-class="is-opened" data-more-text="see more" data-less-text="show less">
                                    <span class="fas fa-chevron-down"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>

<section class="hg_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Title element -->
                <div class="kl-title-block">
                    <!-- Title with custom size & weight -->
                    <h3 class="tbk__title kl-font-alt fw-semibold tcolor">
                        SEND US A MESSAGE FOR MORE OPTIONS
                    </h3>

                </div>
                <!--/ Title element -->
            </div>
        </div>
    </div>
</section>
<%- include contact-form.html %>

<!-- JS FILES // Loaded on this page -->
<!-- Required js script for animateme scroll effect for slider  -->
<script type="text/javascript" src="/js/plugins/scrollme/jquery.scrollme.js"></script>


<!-- Required js script for iOS Slider -->
<script type="text/javascript" src="/js/plugins/_sliders/ios/jquery.iosslider.min.js"></script>

<!-- Required js trigger for iOS Slider -->
<script type="text/javascript" src="/js/trigger/slider/ios/kl-ios-slider.js"></script>
