<!-- Page sub-header + Bottom mask style 3 -->
<div id="page_header" class="page-subheader site-subheader-cst uh_flat_dark_blue ">
    <div class="bgback"></div>

    <!-- Animated Sparkles -->
    <div class="th-sparkles"></div>
    <!--/ Animated Sparkles -->

    <!-- Background -->
    <div class="kl-bg-source">
        <!-- Gradient overlay -->
        <div class="kl-bg-source__overlay" style="background: rgba(36,36,36,1); background: -moz-linear-gradient(left, rgba(36,36,36,1) 0%, rgba(107,107,107,1) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(36,36,36,1)), color-stop(100%,rgba(107,107,107,1))); background: -webkit-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: -o-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: -ms-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: linear-gradient(to right, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); ">
        </div>
        <!--/ Gradient overlay -->
    </div>
    <!--/ Background -->

    <!-- Sub-Header content wrapper -->
    <div class="ph-content-wrap d-flex">
        <div class="container align-self-center">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- Breadcrumbs -->
                    <ul class="breadcrumbs fixclear">
                        <li>LATEST NEWS</li>
                    </ul>
                    <!--/ Breadcrumbs -->


                    <div class="clearfix"></div>
                </div>
                <!--/ col-sm-12 col-md-6 col-lg-6 -->

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- Sub-header titles -->
                    <div class="subheader-titles">
                        <h2 class="subheader-maintitle">LATEST NEWS</h2>
                        <h4 class="subheader-subtitle">GET TO KNOW US BETTER</h4>
                    </div>
                    <!--/ Sub-header titles -->
                </div>
                <!--/ col-sm-12 col-md-6 col-lg-6 -->
            </div>
            <!--/ row -->
        </div>
        <!--/ .container .align-self-center -->
    </div>
    <!--/ Sub-Header content wrapper .d-flex -->

    <!-- Bottom mask style 3 -->
    <div class="kl-bottommask kl-bottommask--mask3">
        <svg width="5000px" height="57px" class="svgmask " viewBox="0 0 5000 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask3">
                    <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                    <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                    <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.4 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                    <feMerge>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                        <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                    </feMerge>
                </filter>
            </defs>
            <path d="M9.09383679e-13,57.0005249 L9.09383679e-13,34.0075249 L2418,34.0075249 L2434,34.0075249 C2434,34.0075249 2441.89,33.2585249 2448,31.0245249 C2454.11,28.7905249 2479,11.0005249 2479,11.0005249 L2492,2.00052487 C2492,2.00052487 2495.121,-0.0374751261 2500,0.000524873861 C2505.267,-0.0294751261 2508,2.00052487 2508,2.00052487 L2521,11.0005249 C2521,11.0005249 2545.89,28.7905249 2552,31.0245249 C2558.11,33.2585249 2566,34.0075249 2566,34.0075249 L2582,34.0075249 L5000,34.0075249 L5000,57.0005249 L2500,57.0005249 L1148,57.0005249 L9.09383679e-13,57.0005249 Z" class="bmask-bgfill" filter="url(#filter-mask3)" fill="#fbfbfb"></path>
        </svg>
        <i class="fas fa-angle-down"></i>
    </div>
    <!--/ Bottom mask style 3 -->
</div>

<section class="hg_section bg-white pt-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <!-- Title element custom -->
                <div class="kl-title-block clearfix text-center tbk-icon-pos--after-title pb-50">
                    <!-- Title with custom font size and thin style -->
                    <h3 class="tbk__title fs-xl fw-thin">
                        LATEST NEWS
                    </h3>
                    <!--/ Title with custom font size and thin style -->

                    <!-- Title bottom symbol -->
                    <div class="symbol-line">
                        <span class="kl-icon tcolor fas fa-spinner"></span>
                    </div>
                    <!--/ Title bottom symbol -->
                </div>
                <!--/ Title element custom -->
            </div>
            <!--/ col-sm-12 col-md-12 -->

            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="stg-negative-right stg-negative-left pb-40 pr-30 pr-sm-0 clearfix">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="bpost bp-widget mb-60">
                                <!-- Header -->
                                <div class="post-head">
                                    <!-- Image -->
                                    <img src="images/blog1.jpg" class="post-image img-fluid" alt="" title="">

                                    <!-- Category -->
                                    <div data-role="category">
                                        <a href="#">
                                            Themes &amp; Templates
                                        </a>
                                    </div>

                                    <!-- Title -->
                                    <h2 data-role="title" class="fs-m fw-bold">
                                        <a href="#">
                                            Huge variety of sliders also premium licensed
                                        </a>
                                    </h2>
                                </div>
                                <!--/ .post-head -->

                                <!-- Content -->
                                <div class="post-content">
                                    <p>
                                        We belive that the "above the fold" area of your homepage or inner pages should be spectacular! That's why we have included tens of built-in solutions and choices, among premium licensed slider plugins.
                                    </p>
                                </div>

                                <!-- Details -->
                                <div class="post-details">
                                    By <a href="#">Laurentiu</a>, on 2nd January, with <a href="#">17 Comments</a>
                                </div>

                                <!-- Read more -->
                                <a href="#" class="btn btn-fullcolor" title="">
                                    Read more
                                </a>
                            </div>
                            <!-- end postcol -->
                        </div>
                        <!--/ col-sm-12 col-md-12 col-lg-12 -->

                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="bpost bp-widget mb-60 col2">
                                <!-- Header -->
                                <div class="post-head">
                                    <!-- Image -->
                                    <img src="images/blog09.jpg" class="post-image img-fluid" alt="" title="">

                                    <!-- Category -->
                                    <div data-role="category">
                                        <a href="#">
                                            Website
                                        </a>
                                    </div>

                                    <!-- Title -->
                                    <h2 data-role="title" class="fs-m fw-bold">
                                        <a href="#">
                                            Hero scenes
                                        </a>
                                    </h2>
                                </div>
                                <!--/ .post-head -->

                                <!-- Content -->
                                <div class="post-content">
                                    <p>
                                        Again, we love "above the fold" areas! The should be spectacular and they should be as actionable as possible to convert any potential visitor to a loyal customer or subscriber.
                                    </p>
                                </div>

                                <!-- Details -->
                                <div class="post-details">
                                    By <a href="#">Danny</a>, on 3rd January, with <a href="#">8 Comments</a>
                                </div>
                            </div>
                            <!-- end postcol -->
                        </div>
                        <!--/ col-sm-12 col-md-6 col-lg-6 -->

                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="bpost bp-widget mb-60 col2">
                                <!-- Header -->
                                <div class="post-head">
                                    <!-- Image -->
                                    <img src="images/ipad-605439_640.jpg" class="post-image img-fluid" alt="" title="">

                                    <!-- Category -->
                                    <div data-role="category">
                                        <a href="#">
                                            Plans
                                        </a>
                                    </div>

                                    <!-- Title -->
                                    <h2 data-role="title" class="fs-m fw-bold">
                                        <a href="#">
                                            Pricing tables
                                        </a>
                                    </h2>
                                </div>
                                <!--/ .post-head -->

                                <!-- Content -->
                                <div class="post-content">
                                    <p>
                                        With Kallyas's "pricing tables" element you can wasily showcase your services with their specific prices and features, on the fly, with personality and customisability options.
                                    </p>
                                </div>

                                <!-- Details -->
                                <div class="post-details">
                                    By <a href="#">Jimmy</a>, on 1st January, with <a href="#">0 Comments</a>
                                </div>
                            </div>
                            <!-- end postcol -->
                        </div>
                        <!--/ col-sm-12 col-md-6 col-lg-6 -->
                    </div>
                    <!--/ row -->
                </div>
                <!-- end .blog-posts -->
            </div>
            <!--/ col-sm-12 col-md-12 col-lg-8 -->

            <div class="col-sm-12 col-md-12 col-lg-4">
                <!-- Event box -->
                <div class="eventbox text-center pt-50 mb-50">
                    <!-- Icon -->
                    <div class="kl-icon icon-calendar2 ico-size-xxl mb-20"></div>
                    <!-- /.kl-icon icon-calendar -->

                    <!-- Title -->
                    <h4 class="fs-m fw-bold mb-20" data-role="title">
                        Tomorrow Land, Ibiza.
                    </h4>
                    <!-- /.fs-m fw-bold -->

                    <!-- Event date -->
                    <div class="eventdate">
                        <span class="date">19 August 2018</span>19:00
                    </div>
                    <!-- /.eventdate -->

                    <!-- Description -->
                    <div class="eventdesc pl-30 pr-30">
                        <p>
                            Among the many international superstars joining.
                        </p>
                    </div>
                    <!-- /.eventdesc -->

                    <!-- Event picture hidden bellow large sreen size -->
                    <div class="eventpic d-none d-lg-block">
                        <img src="images/eventpic.jpg" class="img-fluid" alt="Tomorrow Land, Ibiza." title="">

                        <!-- Read more button -->
                        <a href="#" class="btn-element btn btn-fullcolor btn-skewed" title="">
                            MORE INFO
                        </a>
                    </div>

                    <!-- Hidden button for large screens -->
                    <a href="#" class="btn-element btn btn-fullcolor btn-skewed d-lg-none mb-40" title="">
                        MORE INFO
                    </a>
                    <!-- /.eventpic -->
                </div>
                <!-- /.eventbox text-center pt-50 -->

                <!-- Accordion element style 5 -->
                <div class="hg_accordion_element style5">
                    <!-- Accordions wrapper -->
                    <div class="th-accordion filled-bg">
                        <!-- Acc group #1 -->
                        <div class="acc-group">
                            <!-- Title group button acc #1 -->
                            <div id="heading1">
                                <a data-toggle="collapse" data-number="1" data-target="#acc1" class="" aria-expanded="true" aria-controls="acc1">
                                    Bootstrap 4 framework<span class="acc-icon"></span>
                                </a>
                            </div>
                            <!--/ Title group button acc #1 -->

                            <!-- Acc #1 -->
                            <div id="acc1" class="collapse show" aria-labelledby="heading1" data-parent=".style5">
                                <!-- Content -->
                                <div class="content">
                                    <!-- Description -->
                                    <p>
                                        Kallyas has its core based on the sleek, intuitive and powerful front-end framework for faster and easier web development.
                                    </p>
                                    <!--/ Description -->
                                </div>
                                <!--/ Content -->
                            </div>
                            <!--/ Acc #1 -->
                        </div>
                        <!--/ Acc group #1 -->

                        <!-- Acc group #2 -->
                        <div class="acc-group">
                            <!-- Title group button acc #2 -->
                            <div id="heading2">
                                <a data-toggle="collapse" data-number="2" data-target="#acc2" class="collapsed" aria-expanded="false" aria-controls="acc2">
                                    Responsive &amp; Retina<span class="acc-icon"></span>
                                </a>
                            </div>
                            <!--/ Title group button acc #2 -->

                            <!-- Acc #2 -->
                            <div id="acc2" class="collapse" aria-labelledby="heading2" data-parent=".style5">
                                <!-- Content -->
                                <div class="content">
                                    <!-- Description -->
                                    <p>
                                        Web is evolving and portable devices are the fastest growing market of the last decade. So, from smartphones to tablets and desktop computers, your website will be accessible and properly optimized for your user's best visiting experience.
                                    </p>
                                    <!--/ Description -->
                                </div>
                                <!--/ Content -->
                            </div>
                            <!--/ Acc #2 -->
                        </div>
                        <!--/ Acc group #2 -->

                        <!-- Acc group #3 -->
                        <div class="acc-group">
                            <!-- Title group button acc #3 -->
                            <div id="heading3">
                                <a data-toggle="collapse" data-number="3" data-target="#acc3" class="collapsed" aria-expanded="false" aria-controls="acc3">
                                    SEO ready<span class="acc-icon"></span>
                                </a>
                            </div>
                            <!--/ Title group button acc #3 -->

                            <!-- Acc #3 -->
                            <div id="acc3" class="collapse" aria-labelledby="heading3" data-parent=".style5">
                                <!-- Content -->
                                <div class="content">
                                    <!-- Description -->
                                    <p>
                                        Don't let your website be buried in the other million results. Kallyas has an excelent SEO infrastructure, it's highly customisable for even better SEO management and it works flawlessly.
                                    </p>
                                    <!--/ Description -->
                                </div>
                                <!--/ Content -->
                            </div>
                            <!--/ Acc #3 -->
                        </div>
                        <!--/ Acc group #3 -->

                        <!-- Acc group #4 -->
                        <div class="acc-group">
                            <!-- Title group button acc #4 -->
                            <div id="heading4">
                                <a data-toggle="collapse" data-number="4" data-target="#acc4" class="collapsed" aria-expanded="false" aria-controls="acc4">
                                    Unlimited sub-headers<span class="acc-icon"></span>
                                </a>
                            </div>
                            <!--/ Title group button acc #4 -->

                            <!-- Acc #4 -->
                            <div id="acc4" class="collapse" aria-labelledby="heading4" data-parent=".style5">
                                <!-- Content -->
                                <div class="content">
                                    <!-- Description -->
                                    <p>
                                        Build the most unique and "above the fold" visuals with powerful and proper customisable tools. Images? Don! Videos? Done! Visual effects? Done!
                                    </p>
                                    <!--/ Description -->
                                </div>
                                <!--/ Content -->
                            </div>
                            <!--/ Acc #4 -->
                        </div>
                        <!--/ Acc group #4 -->

                        <!-- Acc group #5 -->
                        <div class="acc-group">
                            <!-- Title group button acc #5 -->
                            <div id="heading5">
                                <a data-toggle="collapse" data-number="5" data-target="#acc5" class="collapsed" aria-expanded="false" aria-controls="acc5">
                                    Unlimited homepages<span class="acc-icon"></span>
                                </a>
                            </div>
                            <!--/ Title group button acc #5 -->

                            <!-- Acc #5 -->
                            <div id="acc5" class="collapse" aria-labelledby="heading5" data-parent=".style5">
                                <!-- Content -->
                                <div class="content">
                                    <!-- Description -->
                                    <p>
                                        Spoile and land your visitors on custom-uniquely combined homepages, designed to showcase your business's best of itself.
                                    </p>

                                    <p>
                                        There are literally endless possibilities.
                                    </p>
                                    <!--/ Description -->
                                </div>
                                <!--/ Content -->
                            </div>
                            <!--/ Acc #5 -->
                        </div>
                        <!--/ Acc group #5 -->
                    </div>
                    <!--/ Accordions wrapper -->
                </div>
                <!--/ Accordion element style 5 -->
            </div>
            <!--/ col-sm-12 col-md-12 col-lg-4 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>