<!doctype html>
<html dir="ltr" lang="en-US" class="no-js">
<head>

    <!-- meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Uncomment the meta tags you are going to use! Be relevant and don't spam! -->
    <meta name="title" content=" Boodskap.io | Build IoT Solutions Under 30 Minutes | End-to-End IoT Enterprise Solutions
    Boodskap.io: End-to-End IoT Enterprise Solutions | Build and Deploy in Under 30 Minutes" />

    <meta name="description" content="Discover Boodskap.io, the IoT platform to easily connect devices and build applications quickly and
    cost-effectively. Accelerate your IoT projects today." />

    <meta name="keywords" content=" boodskap.io, boodskap inc, boodskap, boodskap platform,iot starter kit, iot,
    internet of things, iot devices,what is internet of things,iot platform,iot
    applications,iot sensors,iot internet of things,industrial iot,industrial
    internet of things, m2m,IoT Platform, Internet of Things Solutions, Boodskap
    IoT Services, IoT Application Development, Smart Device Management, IoT Data
    Analytics, IoT Integration Services, Cloud-based IoT Solutions, Boodskap IoT
    Technology, IoT Platform for Businesses, Scalable IoT Solutions, Connected
    Device Solutions, IoT Infrastructure Management, Boodskap Smart IoT,
    Enterprise IoT Solutions, IoT Security Solutions, Boodskap IoT Integration,
    Real-time IoT Monitoring, IoT Platform Providers, End-to-End IoT Solutions" />


    <!-- Title -->
     
    <link rel="canonical" href="https://boodskap.io"/>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "https://boodskap.io",
            "logo": "https://boodskap.io/images/boodskap-logo.png",
            "name": "Boodskap - Enterprise IoT Platform",
            "description": "Discover Boodskap.io, the IoT platform to easily connect devices and build applications quickly and
            cost-effectively. Accelerate your IoT projects today.",
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "+1-833-266-3752",
                "contactType": "Customer Service"
            },
            "sameAs": [
                "https://www.facebook.com/boodskapiot",
                "https://twitter.com/boodskapIOT",
                "https://www.linkedin.com/company/16180585",
                "https://www.instagram.com/boodskapiot",
                "https://www.youtube.com/channel/UC1yOEmlV7mBfKI1aHSMk3GQ"
            ],
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://boodskap.io?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>

    <!-- Google site verification -->
    <meta name="google-site-verification" content="VB7OAPUXhIHRe1iZhVu4M1m-7skva3OnpLPbAVGxlhk" />

    <!--Bing Site Verification -->
    <meta name="msvalidate.01" content="A3CB481F21F691EB04C318D9799D9304" />


    <meta itemprop="name" content="Boodskap - Enterprise IoT Platform">
    <meta itemprop="description" content="Discover Boodskap.io, the IoT platform to easily connect devices and build applications quickly and
    cost-effectively. Accelerate your IoT projects today.">
    <meta itemprop="image" content="https://boodskap.io/images/boodskap-logo.png">

    <meta property="og:locale" content="en"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Boodskap - Enterprise IoT Platform"/>
    <meta property="og:description" content="Discover Boodskap.io, the IoT platform to easily connect devices and build applications quickly and
    cost-effectively. Accelerate your IoT projects today."/>
    <meta property="og:site_name" content="https://boodskap.io"/>

    <meta property="og:url" content="https://boodskap.io"/>

    <meta property="og:image" content="https://boodskap.io/images/boodskap-logo.png"/>

    <!-- Twitter Cardshttps://boodskap.io/images/boodskap-logo.png
    Will generate a card based on the info below.
    More here: http://davidwalsh.name/twitter-cards or https://dev.twitter.com/docs/cards
    -->
    <meta name="twitter:card" content="Discover Boodskap.io, the IoT platform to easily connect devices and build applications quickly and
    cost-effectively. Accelerate your IoT projects today.">


    <meta name="twitter:image" content="https://boodskap.io/images/boodskap-logo.png">
    <meta name="twitter:domain" content="boodskap.io">
    <meta name="twitter:site" content="@boodskapIOT">
    <meta name="twitter:creator" content="@boodskapIOT">

    <meta name="twitter:url" content="https://boodskap.io">
    <meta name="twitter:title" content="Boodskap - Enterprise IoT Platform">
    <meta name="twitter:description" content="Boodskap is a disruptive (IoT) Platform helps to quickly connect any hardware devices and to rapidly build connected applications in a cost efficient manner">

    <meta name="geo.placename" content="8951 Cypress Waters Blvd, suite 160, Dallas, TX 75019" />
    <meta name="geo.position" content="32.928880;-96.990190" />
    <meta name="geo.region" content="US-Texas" />
    <meta name="ICBM" content="32.928880;-96.990190" />

    <!-- Dublin Core Metadata Element Set
    Using DC metadata is advantageous from an SEO perspective because search engines might interpret the extra code as an effort to make page content as descriptive and relevant as possible.

    -->
    <link rel="schema.DC" href="http://purl.org/DC/elements/1.0/" />
    <meta name="DC.Title" content="Boodskap IoT Platform" />
    <meta name="DC.Creator" content="Boodskap is a disruptive (IoT) Platform helps to quickly connect any hardware devices and to rapidly build connected applications in a cost efficient manner" />
    <meta name="DC.Type" content="software" />
    <meta name="DC.Date" content="2019-27-11" />
    <meta name="DC.Format" content="text/html" />
    <meta name="DC.Language" content="en" />
    <!-- end descriptive meta tags -->

    <!-- Retina Images -->
    <!-- Simply uncomment to use this script !! More here http://retina-images.complexcompulsions.com/
    <script>(function(w){var dpr=((w.devicePixelRatio===undefined)?1:w.devicePixelRatio);if(!!w.navigator.standalone){var r=new XMLHttpRequest();r.open('GET','/retinaimages.php?devicePixelRatio='+dpr,false);r.send()}else{document.cookie='devicePixelRatio='+dpr+'; path=/'}})(window)</script>
    <noscript><style id="devicePixelRatio" media="only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)">html{background-image:url("php-helpers/_retinaimages.php?devicePixelRatio=2")}</style></noscript>-->
    <!-- End Retina Images -->

    <!-- iDevices & Retina Favicons -->
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
          href="/images/boodskap-logo.png" sizes="72x72"/>
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
          href="/images/boodskap-logo.png" sizes="114x114"/>
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
          href="/images/boodskap-logo.png" sizes="144x144"/>
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
          href="/images/boodskap-logo.png"/>

    <!--  Desktop Favicons  -->
    <link rel="icon" href="/images/favicon.ico">

    <!-- Google Fonts CSS Stylesheet // More here http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,600italic,700,800,800italic"
          rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- ***** Boostrap Custom / Addons Stylesheets ***** -->
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="all">

    <!-- Font Awesome icons library -->
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" type="text/css" media="all">

    <!-- Required  CSS file for CSS3 Panels element -->
    <link rel="stylesheet" href="/css/sliders/css3-panels/css3-panels.css" type="text/css" media="all">

    <!-- Required CSS file IOS Slider element -->
    <link rel="stylesheet" href="/css/sliders/ios/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/sliders/laptop-slider/laptop-slider.css" type="text/css" media="all">



    <!-- ***** Main + Responsive & Base sizing CSS Stylesheet ***** -->
    <link rel="stylesheet" href="/css/template.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/responsive.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/base-sizing.css" type="text/css" media="all">

    <!-- Custom CSS Stylesheet (where you should add your own css rules) -->
    <link rel="stylesheet" href="/css/custom.css" type="text/css"/>
    <link href="/css/industries.css" rel="stylesheet">
    <link href="/css/industries-animate.css" rel="stylesheet">
    <link href="/css/industries-magnific-popup.css" rel="stylesheet">
    <link href="/css/industries_all.min.css" rel="stylesheet">

    <!-- Modernizr Library -->
    <script type="text/javascript" src="/js/modernizr.min.js"></script>

    <!-- jQuery Library -->
    <script type="text/javascript" src="/js/jquery.js"></script>
</head>

<body class="preloader">


<div id="page_wrapper">

    <%- include header.html %>


    <!-- JS FILES // These should be loaded in every page -->
    <script type="text/javascript" src="/js/plugins/_sliders/slick/slick.js"></script>
    <script type="text/javascript" src="/js/trigger/kl-slick-slider.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/kl-plugins.js"></script>
    <script type="text/javascript" src="/js/jquery.cookieMessage.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="/controllers/industry.js"></script>
    <script type="text/javascript" src="/controllers/util.js"></script>
    <script type="text/javascript" src="/controllers/index.js"></script>
    <script type="text/javascript" src="/controllers/contact-us.js"></script>
    <script type="text/javascript" src="/js/plugins/scrollme/jquery.scrollme.js"></script>
    <script type="text/javascript" src="/js/plugins/_sliders/ios/jquery.iosslider.min.js"></script>
    <script type="text/javascript" src="/js/trigger/slider/ios/kl-ios-slider.js"></script>
    <script type="text/javascript" src="/js/trigger/slider/laptop-slider/kl-laptop-slider.js"></script>
    <script type="text/javascript" src="/js/plugins/parallax/KyHtmlParallax.js"></script>
    <script type="text/javascript" src="/js/plugins/parallax/parallax.js"></script>
   

    <!-- Page Wrapper -->
    <%- body %>
    <%- include footer.html %>


    <!-- Custom Kallyas JS codes -->
    <script type="text/javascript" src="/js/kl-scripts.js"></script>

    <!-- Custom user JS codes -->
    <script type="text/javascript" src="/js/kl-custom.js"></script>

  


</div>


<!-- ToTop trigger -->
<a href="#" id="totop">TOP</a>
<!--/ ToTop trigger -->



<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107916390-1"></script>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107916390-1');
</script> -->

 <!-- Global site tag (gtag.js)- Google Analytics-->
 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92094315-2"></script>
 <script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
 gtag('config', 'UA-92094315-2');
 </script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5ddf63d6d96992700fc9a3b4/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->

<script type="text/javascript">
    $.cookieMessage({
        'mainMessage': 'This website is using cookies. We use them to give you the best experience. If you continue using our website, we\'ll assume that you are happy to receive all cookies on this website. <br>For more information visit our <a href="/privacy-policy">Privacy Policy</a>. ',
        'acceptButton': 'I Understand',
        'fontSize': '14px',
        'backgroundColor': '#222',
    });
</script>
<!-- Google tag (gtag.js) -->

</body>
</html>