<!-- Page sub-header + Bottom mask style 3 -->
<div id="page_header" class="page-subheader site-subheader-cst uh_flat_dark_blue ">
    <div class="bgback"></div>

    <!-- Animated Sparkles -->
    <div class="th-sparkles"></div>
    <!--/ Animated Sparkles -->

    <!-- Background -->
    <div class="kl-bg-source">
        <!-- Gradient overlay -->
        <div class="kl-bg-source__overlay" style="background: rgba(36,36,36,1); background: -moz-linear-gradient(left, rgba(36,36,36,1) 0%, rgba(107,107,107,1) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(36,36,36,1)), color-stop(100%,rgba(107,107,107,1))); background: -webkit-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: -o-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: -ms-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: linear-gradient(to right, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); ">
        </div>
        <!--/ Gradient overlay -->
    </div>
    <!--/ Background -->

    <!-- Sub-Header content wrapper -->
    <div class="ph-content-wrap d-flex">
        <div class="container align-self-center">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- Breadcrumbs -->
                    <ul class="breadcrumbs fixclear">
                        <li>OUR TEAM</li>
                    </ul>
                    <!--/ Breadcrumbs -->


                    <div class="clearfix"></div>
                </div>
                <!--/ col-sm-12 col-md-6 col-lg-6 -->

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- Sub-header titles -->
                    <div class="subheader-titles pt-100">
                        <h2 class="subheader-maintitle">MEET THE TEAM</h2>
                        <h4 class="subheader-subtitle">WE'RE SO READY FOR NEW PROJECTS!</h4>
                    </div>
                    <!--/ Sub-header titles -->
                </div>
                <!--/ col-sm-12 col-md-6 col-lg-6 -->
            </div>
            <!--/ row -->
        </div>
        <!--/ .container .align-self-center -->
    </div>
    <!--/ Sub-Header content wrapper .d-flex -->

    <!-- Bottom mask style 3 -->
    <div class="kl-bottommask kl-bottommask--mask3">
        <svg width="5000px" height="57px" class="svgmask " viewBox="0 0 5000 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask3">
                    <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                    <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                    <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.4 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                    <feMerge>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                        <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                    </feMerge>
                </filter>
            </defs>
            <path d="M9.09383679e-13,57.0005249 L9.09383679e-13,34.0075249 L2418,34.0075249 L2434,34.0075249 C2434,34.0075249 2441.89,33.2585249 2448,31.0245249 C2454.11,28.7905249 2479,11.0005249 2479,11.0005249 L2492,2.00052487 C2492,2.00052487 2495.121,-0.0374751261 2500,0.000524873861 C2505.267,-0.0294751261 2508,2.00052487 2508,2.00052487 L2521,11.0005249 C2521,11.0005249 2545.89,28.7905249 2552,31.0245249 C2558.11,33.2585249 2566,34.0075249 2566,34.0075249 L2582,34.0075249 L5000,34.0075249 L5000,57.0005249 L2500,57.0005249 L1148,57.0005249 L9.09383679e-13,57.0005249 Z" class="bmask-bgfill" filter="url(#filter-mask3)" fill="#fbfbfb"></path>
        </svg>
        <i class="fas fa-angle-down"></i>
    </div>
    <!--/ Bottom mask style 3 -->
</div>

<!-- Title & sub-title section with cusstom paddings -->
<section class="hg_section pt-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <!-- Title element center aligned with bottom line -->
                <div class="clearfix text-center tbk-symbol--line tbk-icon-pos--after-title">
                    <!-- Title with alternative font and bold style -->
                    <h3 class="kl-font-alt fw-bold">
                        OUR TEAM
                    </h3>

                    <!-- Title bottom symbol -->
                    <div class="tbk__symbol ">
                        <span></span>
                    </div>
                    <!--/ Title bottom symbol -->

                    <!-- Sub-title with custom font size -->
                    <h4 class="tbk__subtitle fs-s">
                        Some cool guys to work with for some awesome clients
                    </h4>
                </div>
                <!--/ Title element center aligned with bottom line -->
            </div>
            <!--/ col-sm-12 col-md-12 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>
<!--/ Title & sub-title section with custom paddings -->

<!-- Team boxes section custom paddings -->
<section class="hg_section pb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <!-- Team member -->
                <div class="team_member">
                    <!-- Image link -->
                    <a href="#" target="_blank" class="grayHover">
                        <!-- Image -->
                        <img src="images/member-01-370x370.jpg" class="img-fluid" alt="Michael Jonas" title="Michael Jonas" />
                        <!--/ Image -->
                    </a>
                    <!--/ Image link -->

                    <!-- Name -->
                    <h4>
                        Michael Jonas
                    </h4>
                    <!--/ Name -->

                    <!-- Position -->
                    <h6>
                        CEO / Founder
                    </h6>
                    <!--/ Position -->

                    <!-- Details -->
                    <div class="details">
                        <!-- Description -->
                        <div class="desc">
                            <p>
                                The tech industry changes so quickly that it often feels like many of the tools and techniques you're using today were all but unknown two years ago.
                        </div>
                        <!--/ Description -->

                        <!-- Social links -->
                        <ul class="social-icons sc--colored">
                            <li><a href="#" target="_blank" title="Facebook" class="fab fa-facebook-f"></a></li>
                            <li><a href="#" target="_blank" title="Twitter" class="fab fa-twitter"></a></li>
                            <li><a href="#" target="_blank" title="Google Plus" class="fab fa-google-plus-g"></a></li>
                            <li><a href="#" target="_blank" title="LinkedIn" class="fab fa-linkedin"></a></li>
                        </ul>
                        <!--/ Social links -->
                    </div>
                    <!--/ Details -->
                </div>
                <!--/ Team member -->
            </div>
            <!--/ col-sm-12 col-md-4 col-lg-4 -->

            <div class="col-sm-12 col-md-4 col-lg-4">
                <!-- Team member -->
                <div class="team_member">
                    <!-- Image link -->
                    <a href="#" target="_blank" class="grayHover">
                        <!-- Image -->
                        <img src="images/member-19-370x370.jpg" class="img-fluid" alt="Amy McGill" title="Amy McGill" />
                        <!--/ Image -->
                    </a>
                    <!--/ Image link -->

                    <!-- Name -->
                    <h4>
                        Amy McGill
                    </h4>
                    <!--/ Name -->

                    <!-- Position -->
                    <h6>
                        CFO / Co-Founder
                    </h6>
                    <!--/ Position -->

                    <!-- Details -->
                    <div class="details">
                        <!-- Description -->
                        <div class="desc">
                            <p>
                                Research emerging products and use information to update the store’s merchandise. Empathy is the most important skill for any customer-facing role
                            </p>
                        </div>
                        <!--/ Description -->

                        <!-- Social links -->
                        <ul class="social-icons sc--colored">
                            <li><a href="#" target="_blank" title="Facebook" class="fab fa-facebook-f"></a></li>
                            <li><a href="#" target="_blank" title="Twitter" class="fab fa-twitter"></a></li>
                            <li><a href="#" target="_blank" title="Google Plus" class="fab fa-google-plus-g"></a></li>
                            <li><a href="#" target="_blank" title="LinkedIn" class="fab fa-linkedin"></a></li>
                        </ul>
                        <!--/ Social links -->
                    </div>
                    <!--/ Details -->
                </div>
                <!--/ Team member -->
            </div>
            <!--/ col-sm-12 col-md-4 col-lg-4 -->

            <div class="col-sm-12 col-md-4 col-lg-4">
                <!-- Team member -->
                <div class="team_member">
                    <!-- Image link -->
                    <a href="#" target="_blank" class="grayHover">
                        <!-- Image -->
                        <img src="images/member-03-370x370.jpg" class="img-fluid" alt="Patricia Knowles" title="Patricia Knowles" />
                        <!--/ Image -->
                    </a>
                    <!--/ Image link -->

                    <!-- Name -->
                    <h4>
                        Patricia Knowles
                    </h4>
                    <!--/ Name -->

                    <!-- Position -->
                    <h6>
                        CFO / Co-Founder / Marketing
                    </h6>
                    <!--/ Position -->

                    <!-- Details -->
                    <div class="details">
                        <!-- Description -->
                        <div class="desc">
                            <p>
                                His usually involves implementing all the visual elements that users see and use in the web application, as well as all the web services and APIs.
                            </p>
                        </div>
                        <!--/ Description -->

                        <!-- Social links -->
                        <ul class="social-icons sc--colored">
                            <li><a href="#" target="_blank" title="Facebook" class="fab fa-facebook-f"></a></li>
                            <li><a href="#" target="_blank" title="Twitter" class="fab fa-twitter"></a></li>
                            <li><a href="#" target="_blank" title="Google Plus" class="fab fa-google-plus-g"></a></li>
                            <li><a href="#" target="_blank" title="LinkedIn" class="fab fa-linkedin"></a></li>
                        </ul>
                        <!--/ Social links -->
                    </div>
                    <!--/ Details -->
                </div>
                <!--/ Team member -->
            </div>
            <!--/ col-sm-12 col-md-4 col-lg-4 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>
<!--/ Team boxes section with custom paddings -->

<!-- Team boxes section with custom margins -->
<section class="hg_section mb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3">
                <!-- Team member -->
                <div class="team_member">
                    <!-- Image link -->
                    <a href="#" target="_blank" class="grayHover">
                        <!-- Image -->
                        <img src="images/member-04-270x270.jpg" class="img-fluid" alt="Jonathan Jane" title="Jonathan Jane" />
                        <!--/ Image -->
                    </a>
                    <!--/ Image link -->

                    <!-- Name -->
                    <h4>
                        Jonathan Jane
                    </h4>
                    <!--/ Name -->

                    <!-- Position -->
                    <h6>
                        Creative Director
                    </h6>
                    <!--/ Position -->

                    <!-- Details -->
                    <div class="details">
                        <!-- Description -->
                        <div class="desc">
                            <p>
                                The most significant point is that patent and copyright laws support the expansion of the range of creative human activities that can be commodified.
                            </p>
                        </div>
                        <!--/ Description -->

                        <!-- Social links -->
                        <ul class="social-icons sc--colored">
                            <li><a href="#" target="_blank" title="Facebook" class="fab fa-facebook-f"></a></li>
                            <li><a href="#" target="_blank" title="Twitter" class="fab fa-twitter"></a></li>
                            <li><a href="#" target="_blank" title="Google Plus" class="fab fa-google-plus-g"></a></li>
                            <li><a href="#" target="_blank" title="LinkedIn" class="fab fa-linkedin"></a></li>
                        </ul>
                        <!--/ Social links -->
                    </div>
                    <!--/ Details -->
                </div>
                <!--/ Team member -->
            </div>
            <!--/ col-sm-12 col-md-4 col-lg-3 -->

            <div class="col-sm-12 col-md-4 col-lg-3">
                <!-- Team member -->
                <div class="team_member">
                    <!-- Image link -->
                    <a href="#" target="_blank" class="grayHover">
                        <!-- Image -->
                        <img src="images/member-05-270x270.jpg" class="img-fluid" alt="Arthur Bertrand" title="Arthur Bertrand" />
                        <!--/ Image -->
                    </a>
                    <!--/ Image link -->

                    <!-- Name -->
                    <h4>
                        Arthur Bertrand
                    </h4>
                    <!--/ Name -->

                    <!-- Position -->
                    <h6>
                        Project Manager
                    </h6>
                    <!--/ Position -->

                    <!-- Details -->
                    <div class="details">
                        <!-- Description -->
                        <div class="desc">
                            <p>
                                The most significant point is that patent and copyright laws support the expansion of the range of creative human activities that can be commodified.
                            </p>
                        </div>
                        <!--/ Description -->

                        <!-- Social links -->
                        <ul class="social-icons sc--colored">
                            <li><a href="#" target="_blank" title="Facebook" class="fab fa-facebook-f"></a></li>
                            <li><a href="#" target="_blank" title="Twitter" class="fab fa-twitter"></a></li>
                            <li><a href="#" target="_blank" title="Google Plus" class="fab fa-google-plus-g"></a></li>
                            <li><a href="#" target="_blank" title="LinkedIn" class="fab fa-linkedin"></a></li>
                        </ul>
                        <!--/ Social links -->
                    </div>
                    <!--/ Details -->
                </div>
                <!--/ Team member -->
            </div>
            <!--/ col-sm-12 col-md-4 col-lg-3 -->

            <div class="col-sm-12 col-md-4 col-lg-3">
                <!-- Team member -->
                <div class="team_member">
                    <!-- Image link -->
                    <a href="#" target="_blank" class="grayHover">
                        <!-- Image -->
                        <img src="images/member-06-270x270.jpg" class="img-fluid" alt="Kelly Lewis" title="Kelly Lewis" />
                        <!--/ Image -->
                    </a>
                    <!--/ Image link -->

                    <!-- Name -->
                    <h4>
                        Kelly Lewis
                    </h4>
                    <!--/ Name -->

                    <!-- Position -->
                    <h6>
                        Managing Director
                    </h6>
                    <!--/ Position -->

                    <!-- Details -->
                    <div class="details">
                        <!-- Description -->
                        <div class="desc">
                            <p>
                                The most significant point is that patent and copyright laws support the expansion of the range of creative human activities that can be commodified.
                            </p>
                        </div>
                        <!--/ Description -->

                        <!-- Social links -->
                        <ul class="social-icons sc--colored">
                            <li><a href="#" target="_blank" title="Facebook" class="fab fa-facebook-f"></a></li>
                            <li><a href="#" target="_blank" title="Twitter" class="fab fa-twitter"></a></li>
                            <li><a href="#" target="_blank" title="Google Plus" class="fab fa-google-plus-g"></a></li>
                            <li><a href="#" target="_blank" title="LinkedIn" class="fab fa-linkedin"></a></li>
                        </ul>
                        <!--/ Social links -->
                    </div>
                    <!--/ Details -->
                </div>
                <!--/ Team member -->
            </div>
            <!--/ col-sm-12 col-md-4 col-lg-3 -->

            <div class="col-sm-12 col-md-4 col-lg-3">
                <!-- Team member -->
                <div class="team_member">
                    <!-- Image link -->
                    <a href="#" target="_blank" class="grayHover">
                        <!-- Image -->
                        <img src="images/member-07-270x270.jpg" class="img-fluid" alt="James Clayton" title="James Clayton" />
                        <!--/ Image -->
                    </a>
                    <!--/ Image link -->

                    <!-- Name -->
                    <h4>
                        James Clayton
                    </h4>
                    <!--/ Name -->

                    <!-- Position -->
                    <h6>
                        Sales Representative
                    </h6>
                    <!--/ Position -->

                    <!-- Details -->
                    <div class="details">
                        <!-- Description -->
                        <div class="desc">
                            <p>
                                The most significant point is that patent and copyright laws support the expansion of the range of creative human activities that can be commodified.
                            </p>
                        </div>
                        <!--/ Description -->

                        <!-- Social links -->
                        <ul class="social-icons sc--colored">
                            <li><a href="#" target="_blank" title="Facebook" class="fab fa-facebook-f"></a></li>
                            <li><a href="#" target="_blank" title="Twitter" class="fab fa-twitter"></a></li>
                            <li><a href="#" target="_blank" title="Google Plus" class="fab fa-google-plus-g"></a></li>
                            <li><a href="#" target="_blank" title="LinkedIn" class="fab fa-linkedin"></a></li>
                        </ul>
                        <!--/ Social links -->
                    </div>
                    <!--/ Details -->
                </div>
                <!--/ Team member -->
            </div>
            <!--/ col-sm-12 col-md-4 col-lg-3 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>
<!--/ Team boxes section with custom margins -->

<!-- Logo list section with custom background color and paddings -->
<section class="hg_section bg-white pt-70 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Logo list -->
                <ul class="logolist">
                    <li><a href="#"><img src="images/clients/clients1.png" alt=""></a></li>
                    <li><a href="#"><img src="images/clients/clients2.png" alt=""></a></li>
                    <li><a href="#"><img src="images/clients/clients3.png" alt=""></a></li>
                    <li><a href="#"><img src="images/clients/clients4.png" alt=""></a></li>
                    <li><a href="#"><img src="images/clients/clients5.png" alt=""></a></li>
                    <li><a href="#"><img src="images/clients/clients6.png" alt=""></a></li>
                    <li><a href="#"><img src="images/clients/clients7.png" alt=""></a></li>
                </ul>
                <!--/ logolist -->
            </div>
            <!--/ col-sm-12 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>
<!--/ Logo list section with custom background color and paddings -->