<link rel="stylesheet" href="/css/pricing.css" type="text/css" media="all">
<title>Pricing - Boodskap</title>


<section class="hg_section pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="text-center">
                    <h2 style="font-weight: 700;font-size: 42px;color:black">
                        Find a Plan that's right for you
                    </h2>

                    <div style="height: 20px;"></div>
                </div>
            </div>
           
           
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-lg-6 button-container"> 
                        <button class="btn actionTabBtn priceTypeBtn mt-30" id="usdBtn" onclick="showPageBased('usdBtn')">$  USD</button>
                        <button class="btn actionTabBtn priceTypeBtn mt-30" id="inrBtn" onclick="showPageBased('inrBtn')">₹ INR</button>
                        <button class="btn actionTabBtn priceTypeBtn mt-30" id="eurBtn" onclick="showPageBased('eurBtn')">€ EUR</button>
                        <button class="btn actionTabBtn priceTypeBtn mt-30" id="aedBtn" onclick="showPageBased('aedBtn')">dh AED</button>
                        <button class="btn actionTabBtn priceTypeBtn mt-30 mr-15" id="chfBtn" onclick="showPageBased('chfBtn')">CHF</button>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-6  button-container btnDateSection">
                        <button class="btn actionTabBtn dateTypeBtn mt-30" id="yearlyBtn"
                            onclick="showTypeBased('yearlyDivSection','yearlyBtn')">YEARLY</button>
                        <button class="btn actionTabBtn dateTypeBtn mt-30" id="monthlyBtn"
                            onclick="showTypeBased('monthlyDivSection','monthlyBtn')">MONTHLY</button>
                    </div>
                </div>
            </div>


            <div class="col-sm-12 col-md-12 yearlyDivSection pricingSection mt-3" id="yearlyDiv">
                <div class="pricing-table-element pricingTableSection" data-columns="4">
                    <div class="plan-column zoom-container">
                        <ul>
                            <li class="plan-title planHeaderBg headerBg1">
                                <div class="header-cell">
                                    <i class="far fa-star d-block py-2"></i>
                                    <h4 class=" py-1">BASIC</h4>
                                </div>
                            </li>
                            <li class="subscription-price">
                                <div class="inner-content m-1">
                                    <div class="card">
                                        <p><span class="priceText">€ 0</span><span class="normalText">/month</span></p>
                                        <p class="normalText">1 free license included +</p>
                                        <p class="mb-0"><span class="priceText">€ 1</span><span
                                                class="normalText">/device/month</span></p>
                                    </div>
                                    <p class="helpText mb-0 mt-2">Suitable for individuals, students and R&D
                                        professionals to explore the platform.</p>
                                    <p class="heading mb-1">Features</p>
                                    <p class="content mb-1">5 Device Libraries can be added</p>
                                </div>
                            </li>

                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">10 Device Parameters / Device Library</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1">5 Dashboards</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">2 Users</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">Bring your own 3rd party licenses(SMS, Email, etc)</p>
                                    <p class="heading mb-1">Data:</p>
                                    <p class="content mb-1">10k data ingestion/device/month</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">Data archival after 1 Year</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">Can not buy additional data</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">Can not extend archival days</p>
                                    <p class="heading mb-1">Client Access:</p>
                                    <p class="content mb-1">1 Sub-account(Client)</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1" style=" border-bottom: none !important;">
                                    <p class="content mb-1 mt-0">Can not purchase an additional plan</p>
                                    <p class="heading mb-1">White Labeling:</p>
                                    <p class="content mb-1">Not Supported</p>
                                    <p class="heading mb-1">Private Cloud:</p>
                                    <p class="content mb-1">Not Supported</p>
                                    <p class="heading mb-1">Support:</p>
                                    <p class="content mb-1">Self-service documentation</p>
                                </div>
                            </li>
                            <div style="margin-top: 170px;text-align:center">
                                <a href="https://platform.boodskap.io/" target="_blank"
                                    class="btn btn-lined lined-custom btn-md mb-3 signUpBtn">
                                    <span>Sign Up</span>
                                </a>
                            </div>
                        </ul>
                    </div>
                    <div class="plan-column zoom-container">
                        <ul>
                            <li class="plan-title planHeaderBg headerBg2">
                                <div class="header-cell">
                                    <i class="far fa-star d-block py-2"></i>
                                    <h4 class=" py-1">STANDARD</h4>
                                </div>
                            </li>
                            <li class="subscription-price">
                                <div class="inner-content m-1">
                                    <div class="card">
                                        <p><span class="priceText">€ 199</span><span class="normalText">/month</span></p>
                                        <p class="normalText">5 free license included +</p>
                                        <p class="mb-0"><span class="priceText">€ 1</span><span
                                                class="normalText">/device/month</span></p>
                                    </div>
                                    <p class="helpText mb-4 mt-2">Has got everything you need to get your solution out
                                        to your customers.</p>
                                    <p class="heading mb-1">Features</p>
                                    <p class="content mb-1">10 Device Libraries can be added</p>
                                </div>
                            </li>

                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">25 Device Parameters / Device Library</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1">25 Dashboards</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">10 Users</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">Bring your own 3rd party licenses(SMS, Email, etc)</p>
                                    <p class="heading mb-1">Data:</p>
                                    <p class="content mb-1">25k data ingestion/device/month</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">Data archival after
                                        1 Year</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0"><span style="color:#cd2122">*</span>Can buy additional
                                        data</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">Can not extend archival days</p>
                                    <p class="heading mb-1">Client Access:</p>
                                    <p class="content mb-1">5 Sub-account(Client)</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0"><span style="color:#cd2122">*</span>Can purchase an
                                        additional plan</p>
                                    <p class="heading mb-1 mt-4">White Labeling:</p>
                                    <p class="content mb-1"><span style="color:#cd2122">*</span>Supported</p>
                                    <p class="heading mb-1">Private Cloud:</p>
                                    <p class="content mb-1">Not Supported</p>
                                    <p class="heading mb-1">Support:</p>
                                    <p class="content mb-1">8 X 5 Support</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1" style=" border-bottom: none !important;">
                                    <p class="content mb-1 mt-0">60 Mins Solution Design Call</p>
                                </div>
                            </li>
                            <div style="margin-top:135px;text-align:center">
                                <a href="https://platform.boodskap.io/" target="_blank"
                                    class="btn btn-lined lined-custom btn-md mb-3 signUpBtn">
                                    <span>Sign Up</span>
                                </a>
                            </div>
                        </ul>
                    </div>
                    <div class="plan-column zoom-container">
                        <ul>
                            <li class="plan-title planHeaderBg headerBg3">
                                <div class="header-cell">
                                    <i class="far fa-star d-block py-2"></i>
                                    <h4 class=" py-1">PROFESSIONAL</h4>
                                </div>
                            </li>
                            <li class="subscription-price">
                                <div class="inner-content m-1">
                                    <div class="card">
                                        <p><span class="priceText">€ 499</span><span class="normalText">/month</span></p>
                                        <p class="normalText">25 free license included +</p>
                                        <p class="mb-0"><span class="priceText">€ 1</span><span
                                                class="normalText">/device/month</span></p>
                                    </div>
                                    <p class="helpText mb-4 mt-2">Experience the complete IoT Digital Twin. Best suited
                                        for Startups.</p>
                                    <p class="heading mb-1">Features</p>
                                    <p class="content mb-1">25 Device Libraries can be added</p>
                                </div>
                            </li>

                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">50 Device Parameters / Device Library</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1">100 Dashboards</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">50 Users</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">Bring your own 3rd party licenses(SMS, Email, etc)</p>
                                    <p class="heading mb-1">Data:</p>
                                    <p class="content mb-1">50k data ingestion/device/month</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">Data archival after 2 Year</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0"><span style="color:#cd2122">*</span>Can buy additional
                                        data</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0"><span style="color:#cd2122">*</span>Can extend archival
                                        days</p>
                                    <p class="heading mb-1">Client Access:</p>
                                    <p class="content mb-1">10 Sub-account(Client)</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0"><span style="color:#cd2122">*</span>Can purchase an
                                        additional plan</p>
                                    <p class="heading mb-1 mt-4">White Labeling:</p>
                                    <p class="content mb-1">Supported</p>
                                    <p class="heading mb-1">Private Cloud:</p>
                                    <p class="content mb-1"><span style="color:#cd2122">*</span>Manage Private Cloud on
                                        AWS/Azure/GCP</p>
                                    <p class="heading mb-1">Support:</p>
                                    <p class="content mb-1">8 x 7 Support</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">Dedicated Account Manager</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1" style=" border-bottom: none !important;">
                                    <p class="content mb-1 mt-0">Dedicated Slack Channel</p>
                                </div>
                            </li>
                            <div style="margin-top:70px;text-align:center">
                                <a href="https://platform.boodskap.io/" target="_blank"
                                    class="btn btn-lined lined-custom btn-md mb-3 signUpBtn">
                                    <span>Sign Up</span>
                                </a>
                            </div>
                        </ul>
                    </div>
                    <div class="plan-column zoom-container">
                        <ul>
                            <li class="plan-title planHeaderBg headerBg4">
                                <div class="header-cell">
                                    <i class="far fa-star d-block py-2"></i>
                                    <h4 class=" py-1">ENTERPRISE</h4>
                                </div>
                            </li>
                            <li class="subscription-price">
                                <div class="inner-content m-1">
                                    <div class="card">
                                        <p><span class="priceText">€ 1499</span><span class="normalText">/month</span>
                                        </p>
                                        <p class="normalText">50 free license included +</p>
                                        <p class="mb-0"><span class="priceText">€ 1</span><span
                                                class="normalText">/device/month</span></p>
                                    </div>
                                    <p class="helpText mb-4 mt-2">Enterprise grade IoT Digital Twin. Best suited for
                                        SMEs & Enterprises.</p>
                                    <p class="heading mb-1">Features</p>
                                    <p class="content mb-1">100 Device Libraries can be added</p>
                                </div>
                            </li>

                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">100 Device Parameters / Device Library</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1">500 Dashboards</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">150 Users</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">Bring your own 3rd party licenses(SMS, Email, etc)</p>
                                    <p class="heading mb-1">Data:</p>
                                    <p class="content mb-1">100k data ingestion/device/month</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">Data archival after 3 Year</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0"><span style="color:#cd2122">*</span>Can buy additional
                                        data</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0"><span style="color:#cd2122">*</span>Can extend archival
                                        days</p>
                                    <p class="heading mb-1">Client Access:</p>
                                    <p class="content mb-1">25 Sub-account(Client)</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1" style=" border-bottom: none !important;">
                                    <p class="content mb-1 mt-0"><span style="color:#cd2122">*</span>Can purchase an
                                        additional plan</p>
                                    <p class="heading mb-1 mt-4">White Labeling:</p>
                                    <p class="content mb-1">Supported</p>
                                    <p class="heading mb-1">Private Cloud:</p>
                                    <p class="content mb-1"><span style="color:#cd2122">*</span>Manage Private Cloud on
                                        AWS/Azure/GCP</p>
                                    <p class="heading mb-1">Support:</p>
                                    <p class="content mb-1">24 x 7 Support</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">Dedicated Account Manager</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1">
                                    <p class="content mb-1 mt-0">Dedicated Slack Channel</p>
                                </div>
                            </li>
                            <li>
                                <div class="inner-content m-1" style=" border-bottom: none !important;">
                                    <p class="content mb-1 mt-0">Dedicated Phone Line</p>
                                </div>
                            </li>
                            <div style="margin-top:37px;text-align:center">
                                <a href="https://platform.boodskap.io/" target="_blank"
                                    class="btn btn-lined lined-custom btn-md mb-3 signUpBtn">
                                    <span>Sign Up</span>
                                </a>
                            </div>
                        </ul>
                    </div>

                </div>
            </div>
           


<script>
    $("#yearlyBtn").addClass('activeClass');
    $(".yearlyDivSection").removeClass('d-none');
    $("#eurBtn").addClass('activeClass');
    function showTypeBased(divClass, btnId) {
        $(".pricingSection").addClass('d-none')
        $("." + divClass).removeClass('d-none');
        $(".dateTypeBtn").removeClass('activeClass');
        $("#" + btnId).addClass('activeClass');
    }

    function showPageBased(btnId) {
        $(".priceTypeBtn").removeClass('activeClass');
        $("#" + btnId).addClass('activeClass');
        if (btnId == 'usdBtn') {
            window.location.href = "/pricing-section";
        }
        else if (btnId == 'inrBtn') {
            window.location.href = "/pricing-inr-section";
        }
        else if (btnId == 'eurBtn') {
            window.location.href = "/pricing-eur-section";
        }
        else if (btnId == 'aedBtn') {
            window.location.href = "/pricing-aed-section";
        }
        else if (btnId == 'chfBtn') {
            window.location.href = "/pricing-chf-section";
        }
    }
</script>