<title>Pricing - Boodskap</title>

<div id="page_header" class="page-subheader site-subheader-cst uh_flat_dark_blue ">
    <div class="bgback"></div>

    <!-- Animated Sparkles -->
    <div class="th-sparkles"></div>
    <!--/ Animated Sparkles -->

    <!-- Background -->
    <div class="kl-bg-source">
        <!-- Gradient overlay -->
        <div class="kl-bg-source__overlay" style="background: rgba(36,36,36,1); background: -moz-linear-gradient(left, rgba(36,36,36,1) 0%, rgba(107,107,107,1) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(36,36,36,1)), color-stop(100%,rgba(107,107,107,1))); background: -webkit-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: -o-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: -ms-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: linear-gradient(to right, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); ">
        </div>
        <!--/ Gradient overlay -->
    </div>
    <!--/ Background -->

    <!-- Sub-Header content wrapper -->
    <div class="ph-content-wrap d-flex">
        <div class="container align-self-center">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="clearfix"></div>
                </div>
                <!--/ col-sm-12 col-md-6 col-lg-6 -->

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- Sub-header titles -->
                    <div class="subheader-titles">
                        <h2 class="subheader-maintitle">PRICING & LICENSE</h2>
                        <h4 class="subheader-subtitle">HOST IN YOUR PREMISE</h4>
                    </div>
                    <!--/ Sub-header titles -->
                </div>
                <!--/ col-sm-12 col-md-6 col-lg-6 -->
            </div>
            <!--/ row -->
        </div>
        <!--/ .container .align-self-center -->
    </div>
    <!--/ Sub-Header content wrapper .d-flex -->

    <!-- Bottom mask style 3 -->
    <div class="kl-bottommask kl-bottommask--mask3">
        <svg width="5000px" height="57px" class="svgmask " viewBox="0 0 5000 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask3">
                    <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                    <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                    <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.4 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                    <feMerge>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                        <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                    </feMerge>
                </filter>
            </defs>
            <path d="M9.09383679e-13,57.0005249 L9.09383679e-13,34.0075249 L2418,34.0075249 L2434,34.0075249 C2434,34.0075249 2441.89,33.2585249 2448,31.0245249 C2454.11,28.7905249 2479,11.0005249 2479,11.0005249 L2492,2.00052487 C2492,2.00052487 2495.121,-0.0374751261 2500,0.000524873861 C2505.267,-0.0294751261 2508,2.00052487 2508,2.00052487 L2521,11.0005249 C2521,11.0005249 2545.89,28.7905249 2552,31.0245249 C2558.11,33.2585249 2566,34.0075249 2566,34.0075249 L2582,34.0075249 L5000,34.0075249 L5000,57.0005249 L2500,57.0005249 L1148,57.0005249 L9.09383679e-13,57.0005249 Z" class="bmask-bgfill" filter="url(#filter-mask3)" fill="#fbfbfb"></path>
        </svg>
        <i class="fas fa-angle-down"></i>
    </div>
    <!--/ Bottom mask style 3 -->
</div>


<section class="hg_section pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <!-- Title element -->
                <div class="kl-title-block text-center">
                    <!-- Title with custom font size and thin style -->
                    <h3 class="tbk__title fs-xxl fw-thin">
								<span class="fw-semibold fs-xxxl fs-xs-xl tcolor">
									DOWNLOADABLE PLATFORM</span> PRICING
                    </h3>
                    <!--/ Title with custom font size and thin style -->

                    <!-- Spacer with custom height -->
                    <div style="height: 50px;"></div>
                </div>
                <!--/ Title element -->
            </div>
            <!--/ col-sm-12 col-md-12 -->

            <div class="col-sm-12 col-md-12">
                <!-- Pricing table element with 4 columns -->
                <div class="pricing-table-element" data-columns="4">
                    <!-- Plan -->
                    <div class="plan-column">
                        <ul>
                            <!-- Title -->
                            <li class="plan-title">
                                <div class="inner-cell">
                                    Developer
                                </div>
                            </li>
                            <!--/ Title -->

                            <!-- Price -->
                            <li class="subscription-price">
                                <div class="inner-cell">
                                    <span class="price">Free</span>
                                    <p style="padding: 3px;margin-top: 5px;color: #fff;background-color: #ff0000;">Not for commercial use</p>
                                </div>
                            </li>
                            <!--/ Price -->

                            <!-- Cell #3 -->
                            <li>
                                    <div class="inner-cell">
                                        Max 4 Nodes
                                    </div>
                                </li>
                                <!--/ Cell #3 -->
    
                                <!-- Cell #4 -->
                                <li>
                                    <div class="inner-cell">
                                        Max 16 CPU Cores
                                    </div>
                                </li>
                                <!--/ Cell #4 -->
    
                                <!-- Cell #5 -->
                                <li>
                                    <div class="inner-cell">
                                        Max RAM 32GB
                                    </div>
                                </li>
                                <!--/ Cell #5 -->
    
                                <!-- Cell #6 -->
                                <li>
                                    <div class="inner-cell">
                                        Unlimited Domains (Tenants)
                                    </div>
                                </li>
                                <!--/ Cell #6 -->
    
                                <!-- Cell #7 -->
                                <li>
                                    <div class="inner-cell">
                                        Email Support
                                    </div>
                                </li>
                                <!--/ Cell #7 -->
    

    
                        </ul>
                    </div>
                    <!--/ Plan -->

                    <!-- Featured plan -->
                    <div class="plan-column ">
                        <ul>
                            <!-- Title -->
                            <li class="plan-title">
                                <div class="inner-cell">
                                    Standard
                                </div>
                            </li>
                            <!--/ Title -->

                            <!-- Price -->
                            <li class="subscription-price">
                                <div class="inner-cell">
                                    <span class="currency">$</span>
                                    <span class="price">199</span>
                                    per month
                                </div>
                            </li>
                            <!--/ Price -->

                            <!-- Cell #1 -->
                            <li>
                                <div class="inner-cell">
                                    Max 2 Nodes
                                </div>
                            </li>
                            <!--/ Cell #1 -->

                            <!-- Cell #2 -->
                            <li>
                                <div class="inner-cell">
                                    Max 8 CPU Cores <br><br>
                                    <span class="darkgrey fw-bold">Extra $10 per CPU core</span>
                                </div>
                            </li>
                            <!--/ Cell #2 -->

                            <!-- Cell #3 -->
                            <li>
                                <div class="inner-cell">
                                    Max RAM 16GB<br><br>
                                    <span class="darkgrey fw-bold">Extra $5 per GB RAM</span>
                                </div>
                            </li>
                            <!--/ Cell #3 -->

                            <!-- Cell #4 -->
                            <li>
                                <div class="inner-cell">
                                    Max 2 Domains (Tenants)<br><br>
                                    <span class="darkgrey fw-bold">Extra $35 per Domain</span>
                                </div>
                            </li>
                            <!--/ Cell #4 -->

                            <!-- Cell #5 -->
                            <li>
                                <div class="inner-cell">
                                    Email Support
                                </div>
                            </li>
                            <!--/ Cell #5 -->

                            <!-- Cell #6 -->
                            <li>
                                <div class="inner-cell">
                                    Telephone Support
                                </div>
                            </li>
                            <!--/ Cell #6 -->



                        </ul>
                    </div>
                    <!--/ Featured plan -->

                    <!-- Plan -->
                    <div class="plan-column featured">
                        <ul>
                            <!-- Title -->
                            <li class="plan-title">
                                <div class="inner-cell">
                                    Professional
                                </div>
                            </li>
                            <!--/ Title -->

                            <!-- Price -->
                            <li class="subscription-price">
                                <div class="inner-cell">
                                    <span class="currency">$</span>
                                    <span class="price">499</span>
                                    per month
                                </div>
                            </li>
                            <!--/ Price -->

                            <!-- Cell #1 -->
                            <li>
                                <div class="inner-cell">
                                   Max 8 Nodes
                                </div>
                            </li>
                            <!--/ Cell #1 -->

                            <!-- Cell #2 -->
                            <li>
                                <div class="inner-cell">
                                    Max 32 CPU Cores<br><br>
                                    <span class="darkgrey fw-bold">Extra $8 per CPU core</span>
                                </div>
                            </li>
                            <!--/ Cell #2 -->

                            <!-- Cell #3 -->
                            <li>
                                <div class="inner-cell">
                                    Max RAM 64GB<br><br>
                                    <span class="darkgrey fw-bold">Extra $3 per GB RAM</span>
                                </div>
                            </li>
                            <!--/ Cell #3 -->

                            <!-- Cell #4 -->
                            <li>
                                <div class="inner-cell">
                                    Max 4 Domains (Tenants)<br><br>
                                    <span class="darkgrey fw-bold">Extra $25 per Domain</span>
                                </div>
                            </li>
                            <!--/ Cell #4 -->
    
                            <!-- Cell #5 -->
                            <li>
                                <div class="inner-cell">
                                    Email Support
                                </div>
                            </li>
                            <!--/ Cell #5 -->

                            <!-- Cell #6 -->
                            <li>
                                <div class="inner-cell">
                                    Telephone Support
                                </div>
                            </li>
                            <!--/ Cell #6 -->

                            <!-- Cell #7 -->
                            <li>
                                <div class="inner-cell">
                                    8 Hours SLA for support tickets
                                </div>
                            </li>
                            <!--/ Cell #7 -->

                        </ul>
                    </div>
                    <!--/ Plan -->

                    <!-- Plan -->
                    <div class="plan-column ">
                        <ul>
                            <!-- Title -->
                            <li class="plan-title">
                                <div class="inner-cell">
                                    Enterprise
                                </div>
                            </li>
                            <!--/ Title -->

                            <!-- Price -->
                            <li class="subscription-price text-center">

                                <img src="/images/pricing_support.png" class="mt-50" /> <br>

                                <a href="/contact-us" class="btn btn-fullcolor mt-50 mb-30" title="">
                                    CONTACT US
                                </a>

                            </li>
                            <!--/ Price -->


                        </ul>
                    </div>
                    <!--/ Plan -->
                </div>
                <!--/ Pricing table element with 4 columns -->
            </div>
            <!--/ col-sm-12 col-md-12 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>

<section class="hg_section bg-white pt-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <!-- Call-out banner element - style 3 -->
                <div class="callout-banner">
                    <div class="row">
                        <div class="col-sm-12 col-md-9 col-lg-9 col-xl-10">
                            <!-- Title -->
                            <h3 class="tbk__title kl-font-alt fs-l fw-bold tcolor">
                                MOST COMPLETE IOT PLATFORM
                            </h3>
                            <!--/ Title -->
                            <!-- Sub-title with custom size and weight style -->
                            <h4 class="tbk__subtitle fs-s fw-thin">
                                Think Business and the platform takes care of the rest. <span class="fw-semibold">The Launch Pad for your IoT needs.</span>
                            </h4>
                        </div>
                        <!--/ col-sm-12 col-md-9 col-lg-9 col-xl-10 -->

                        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-2 d-flex justify-content-center align-self-center">
                            <!-- Circle hover link style 3 -->
                            <a href="https://platform.boodskap.io/register" target="_blank" class="btn btn-lined lined-custom btn-md btn-block">
                                <span>TRY OUT NOW</span>
                            </a>
                            <!--/ Circle hover link style 3 -->
                        </div>
                        <!--/ col-sm-12 col-md-3 col-lg-3 col-xl-2 align-self-center -->
                    </div>
                    <!--/ row -->
                </div>
                <!--/ Call-out banner element - style 3 -->
            </div>
            <!--/ col-sm-12 col-md-12 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>
