<title>Privacy Policy - Boodskap</title>

<!-- Slideshow - Static content Simple text -->
<div class="kl-slideshow static-content__slideshow static-simpletext nobg">
    <div class="bg-white">
    </div>

    <!-- Static content wrapper -->
    <div class="kl-slideshow-inner static-content__wrapper">
        <!-- Static content background source -->
        <div class="static-content__source">
            <!-- Animated Sparkles -->
            <div class="th-sparkles"></div>
            <!--/ Animated Sparkles -->
        </div>
        <!--/ .static-content__source -->

        <!-- Static content container -->
        <div class="static-content__inner container">
            <!-- Container and safe padding default top 150px -->
            <div class="kl-slideshow-safepadding sc__container">
                <!-- Static content simple -->
                <div class="static-content static-content--simple">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="kl-title-block tbk-symbol--line tbk-icon-pos--after-title pb-60">
                                <!-- Title with alternative font and custom size and color -->
                                <h2 class="tbk__title kl-font-alt fs-xxl black">
                                    <strong>Privacy Policy</strong>
                                </h2>

                                <!-- Title bottom line symbol -->
                                <div class="tbk__symbol">
                                    <span></span>
                                </div>
                                <!--/ Title bottom line symbol -->

                                <div class="bg-white p-5" style="border: 1px solid #ccc">


                                        <p>Last updated: May 24, 2018</p>

                                        <p>Boodskap Inc. ("us", "we", or "our") operates the <a href="https://boodskap.io">https://boodskap.io</a>, <a href="https://platform.boodskap.io">https://platform.boodskap.io</a> website and the Boodskap Mobile Applications (the "Service").</p>
                                        <p>This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service and the choices you have associated with that data.</p>
                                        <p>We will not use or share your information with anyone except as described in this Privacy Policy.</p>
                                        <p>We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at <a href="https://boodskap.io">https://boodskap.io</a></p>

                                        <h3 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Definitions</h3>

                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Service</h4>
                                        <p>Service means the <a href="https://boodskap.io">https://boodskap.io</a>, <a href="https://platform.boodskap.io">https://platform.boodskap.io</a> website and the Boodskap mobile application operated by Boodskap Inc. &amp; it's subsidiaries.</p><p>

                                    </p><h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Personal Data</h4>
                                        <p>Personal Data means data about a living individual who can be identified from those data (or from those and other information either in our possession or likely to come into our possession).</p><p>

                                    </p><h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Usage Data</h4>
                                        <p>Usage Data is data collected automatically either generated by the use of the Service or from the Service infrastructure itself (for example, the duration of a page visit).</p><p>

                                    </p><h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Cookies</h4>
                                        <p>Cookies are small pieces of data stored on your device (computer or mobile device).</p><p>

                                    </p><h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Data Controller</h4>
                                        <p>Data Controller means the natural or legal person who (either alone or jointly or in common with other persons) determines the purposes for which and the manner in which any personal information are, or are to be, processed.</p><p>
                                    </p><p>For the purpose of this Privacy Policy, we are a Data Controller of your Personal Data.</p>

                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Data Processors (or Service Providers)</h4>
                                        <p>Data Processor (or Service Provider) means any natural or legal person who processes the data on behalf of the Data Controller.
                                            We may use the services of various Service Providers in order to process your data more effectively.</p><p>

                                    </p><h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Data Subject (or User)</h4>
                                        <p>Data Subject is any living individual who is using our Service and is the subject of Personal Data.</p><p>


                                    </p><h3 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Information Collection and Use</h3>
                                        <p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>

                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Types of Data Collected</h4> <br>

                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Personal Data</h4>
                                        <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:</p>
                                        <p>- Email address</p>
                                        <p>- First name and last name</p>
                                        <p>- Phone number</p>
                                        <p>- Address, State, Province, ZIP/Postal code, City</p>
                                        <p>- Cookies and Usage Data</p>

                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Usage Data</h4>
                                        <p>We may also collect information that your browser sends whenever you visit our Service or when you access the Service by or through a mobile device ("Usage Data").</p>
                                        <p>This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>
                                        <p>When you access the Service by or through a mobile device, this Usage Data may include information such as the type of mobile device you use, your mobile device unique ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browser you use, unique device identifiers and other diagnostic data.</p>

                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Location Data</h4>
                                        <p>We may use and store information about your location if you give us permission to do so (“Location Data”). We use this data to provide features of our Service, to improve and customize our Service.</p>
                                        <p>You can enable or disable location services when you use our Service at any time, through your device settings.</p>

                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Tracking Cookies Data</h4>
                                        <p>We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.</p>
                                        <p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.</p>
                                        <p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some features of our Service.</p>
                                        <label>Examples of Cookies we use:</label>
                                        <p>- <b>Session Cookies.</b> We use Session Cookies to operate our Service.</p>
                                        <p>- <b>Preference Cookies.</b> We use Preference Cookies to remember your preferences and various settings.</p>
                                        <p>- <b>Security Cookies.</b> We use Security Cookies for security purposes.</p>

                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">DoubleClick Cookie</h4>
                                        <p>Google, as a third party vendor, uses cookies to serve ads on our Service. Google's use of the DoubleClick cookie enables it and its partners to serve ads to our users based on their visit to our Service or other web sites on the Internet.</p>
                                        <p>You may opt out of the use of the DoubleClick Cookie for interest-based advertising by visiting the Google Ads Settings web page: <a href="http://www.google.com/ads/preferences/">http://www.google.com/ads/preferences/</a></p>


                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Use of Data</h4>
                                        <p>Boodskap Inc. and or its subsidiaries uses the collected data for various purposes:</p>

                                        <p>- To provide and maintain our Service</p>
                                        <p>- To notify you about changes to our Service</p>
                                        <p>- To allow you to participate in interactive features of our Service when you choose to do so</p>
                                        <p>- To provide customer support</p>
                                        <p>- To gather analysis or valuable information so that we can improve our Service</p>
                                        <p>- To monitor the usage of our Service</p>
                                        <p>- To detect, prevent and address technical issues</p>


                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Legal Basis for Processing Personal Data Under General Data Protection Regulation (GDPR)</h4>
                                        <p>If you are from the European Economic Area (EEA), Boodskap Inc. legal basis for collecting and using the personal information described in this Privacy Policy depends on the Personal Data we collect and the specific context in which we collect it.</p>
                                        <p>Boodskap Inc. may process your Personal Data because:</p>

                                        <p>- We need to perform a contract with you</p>
                                        <p>- You have given us permission to do so</p>
                                        <p>- The processing is in our legitimate interests and it's not overridden by your rights</p>
                                        <p>- For payment processing purposes</p>
                                        <p>- To comply with the law</p>



                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Retention of Data</h4>
                                        <p>Boodskap Inc. will retain your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.</p>
                                        <p>Boodskap Inc. will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of our Service, or we are legally obligated to retain this data for longer time periods.</p>


                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Transfer of Data</h4>
                                        <p>Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>
                                        <p>If you are located outside United States and choose to provide information to us, please note that we transfer the data, including Personal Data, to United States and process it there.</p>
                                        <p>Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>
                                        <p>Boodskap Inc. will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</p>


                                        <h3 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Disclosure of Data</h3>

                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Legal Requirements</h4>
                                        <p>Boodskap Inc. may disclose your Personal Data in the good faith belief that such action is necessary to:</p>

                                        <p>- To comply with a legal obligation</p>
                                        <p>- To protect and defend the rights or property of Boodskap Inc.</p>
                                        <p>- To prevent or investigate possible wrongdoing in connection with the Service</p>
                                        <p>- To protect the personal safety of users of the Service or the public</p>
                                        <p>- To protect against legal liability</p>


                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Security of Data</h4>
                                        <p>The security of your Personal Information is important to us, and we strive to implement and maintain reasonable, commercially acceptable security procedures and practices appropriate to the nature of the information we store, in order to protect it from unauthorized access, destruction, use, modification, or disclosure.</p>
                                        <p>However, please be aware that no method of transmission over the Internet, or method of electronic storage is 100% secure and we are unable to guarantee the absolute security of the Personal Information we have collected from you.</p>

                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Do Not Track Disclosure</h4>
                                        <p>We support Do Not Track ("DNT"). Do Not Track is a preference you can set in your web browser to inform websites that you do not want to be tracked.</p>
                                        <p>You can enable or disable Do Not Track by visiting the Preferences or Settings page of your web browser.</p>

                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Your Data Protection Rights Under General Data Protection Regulation (GDPR)</h4>
                                        <p>If you are a resident of the European Economic Area (EEA), you have certain data protection rights. Boodskap Inc. aims to take reasonable steps to allow you to correct, amend, delete, or limit the use of your Personal Data.</p>
                                        <p>If you wish to be informed what Personal Data we hold about you and if you want it to be removed from our systems, please contact us.</p>
                                        <p>In certain circumstances, you have the following data protection rights:</p>

                                        <p><b>The right to access, update or to delete the information we have on you.</b> Whenever made possible, you can access, update or request deletion of your Personal Data directly within your account settings section. If you are unable to perform these actions yourself, please contact us to assist you.</p>
                                        <p><b>The right of rectification.</b> You have the right to have your information rectified if that information is inaccurate or incomplete.</p>
                                        <p><b>The right to object.</b> You have the right to object to our processing of your Personal Data.</p>
                                        <p><b>The right of restriction.</b> You have the right to request that we restrict the processing of your personal information.</p>
                                        <p><b>The right to data portability.</b> You have the right to be provided with a copy of the information we have on you in a structured, machine-readable and commonly used format.</p>
                                        <p><b>The right to withdraw consent.</b> You also have the right to withdraw your consent at any time where Boodskap Inc. relied on your consent to process your personal information.</p>

                                        <p>Please note that we may ask you to verify your identity before responding to such requests.</p>
                                        <p>You have the right to complain to a Data Protection Authority about our collection and use of your Personal Data. For more information, please contact your local data protection authority in the European Economic Area (EEA).</p>


                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Service Providers</h4>
                                        <p>We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to provide the Service on our behalf, to perform Service-related services and/or to assist us in analyzing how our Service is used.</p>
                                        <p>These third parties have access to your Personal Information only to perform specific tasks on our behalf and are obligated not to disclose or use your information for any other purpose.</p>

                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Analytics</h4>
                                        <p>We may use third party services such as Google Analytics that collect, monitor and analyze this type of information in order to increase our Service's functionality. These third party service providers have their own privacy policies addressing how they use such information.</p>

                                        <h4>Firebase</h4>
                                        <p>Firebase is analytics service provided by Google Inc.</p>
                                        <p>You may opt-out of certain Firebase features through your mobile device settings, such as your device advertising settings or by following the instructions provided by Google in their Privacy Policy: <a href="http://www.google.com/intl/en/policies/privacy/">http://www.google.com/intl/en/policies/privacy/</a></p>
                                        <p>We also encourage you to review the Google's policy for safeguarding your data: <a href="https://support.google.com/analytics/answer/6004245">https://support.google.com/analytics/answer/6004245</a>. For more information on what type of information Firebase collects, please visit the Google Privacy Terms web page: <a href="http://www.google.com/intl/en/policies/privacy/">http://www.google.com/intl/en/policies/privacy/</a></p>

                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Clicky</h4>
                                        <p>Clicky is a web analytics service. Read the Privacy Policy for Clicky here: <a href="https://clicky.com/terms">https://clicky.com/terms</a></p>

                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Payments</h4>
                                        <p>We may provide paid products and/or services within the Service. In that case, we use third-party services for payment processing (e.g. payment processors).</p>
                                        <p>We will not store or collect your payment card details. That information is provided directly to our third-party payment processors whose use of your personal information is governed by their Privacy Policy. These payment processors adhere to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover. PCI-DSS requirements help ensure the secure handling of payment information.</p>
                                        <p>The payment processors we work with are:</p>

                                        <p><b>Apple Store In-App Payments</b>
                                        </p><p>Their Privacy Policy can be viewed at
                                        <a href="https://www.apple.com/legal/privacy/en-ww/">https://www.apple.com/legal/privacy/en-ww/</a></p><p></p>

                                        <p><b>Google Play In-App Payments</b>
                                        </p><p>Their Privacy Policy can be viewed at <a href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a></p><p></p>

                                        <p><b>PayPal or Braintree</b>
                                        </p><p>Their Privacy Policy can be viewed at <a href="https://www.paypal.com/webapps/mpp/ua/privacy-full">https://www.paypal.com/webapps/mpp/ua/privacy-full</a></p><p></p>

                                        <p><b>Authorize.net</b>
                                        </p><p>Their Privacy Policy can be viewed at <a href="https://www.authorize.net/company/privacy/">https://www.authorize.net/company/privacy/</a></p><p></p>




                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Communications</h4>
                                        <p>We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>


                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Business Transaction</h4>
                                        <p>If Boodskap Inc. is involved in a merger, acquisition or asset sale, your Personal Information may be transferred as a business asset. In such cases, we will provide notice before your Personal Information is transferred and/or becomes subject to a different Privacy Policy.</p>


                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Links To Other Sites</h4>
                                        <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
                                        <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>


                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Children's Privacy</h4>
                                        <p>Only persons age 18 or older have permission to access our Service. Our Service does not address anyone under the age of 18 ("Children").</p>
                                        <p>We do not knowingly collect personally identifiable information from children under 18. If you are a parent or guardian and you learn that your Children have provided us with Personal Information, please contact us. If we become aware that we have collected Personal Information from children under age 18 without verification of parental consent, we take steps to remove that information from our servers.</p>


                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Changes To This Privacy Policy</h4>
                                        <p>This Privacy Policy is effective as of May 24, 2018 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.</p>
                                        <p>We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.</p>
                                        <p>If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.</p>


                                        <h4 class="kl-iconbox__title fs-m fw-normal gray2 pt-3 pb-1">Contact Us</h4>
                                        <p>If you have any questions about this Privacy Policy, please contact us.</p>
                                        <p><b>By email:</b> <a href="mailto:privacy@boodskap.io">privacy@boodskap.io</a></p>
                                        <p><b>By mail:</b> 735 Plaza Blvd, suite 210, Coppell, TX 75019</p>




                                </div>

                            </div>
                            <!--/ Action area -->
                        </div>
                        <!--/ col-sm-12 -->
                    </div>
                    <!--/ row -->
                </div>
                <!--/ static content simple -->
            </div>
            <!--/ .sc__container -->
        </div>
        <!--/ .static-content__inner -->
    </div>
    <!--/ .static-content__wrapper -->
</div>
<!--/ Slideshow - Static content Simple text -->
