<!-- Slideshow - Static content Simple text -->
<div class="kl-slideshow static-content__slideshow static-simpletext nobg">
    <div class="bgback">
    </div>

    <!-- Static content wrapper -->
    <div class="kl-slideshow-inner static-content__wrapper">
        <!-- Static content background source -->
        <div class="static-content__source">
            <!-- Animated Sparkles -->
            <div class="th-sparkles"></div>
            <!--/ Animated Sparkles -->
        </div>
        <!--/ .static-content__source -->

        <!-- Static content container -->
        <div class="static-content__inner container">
            <!-- Container and safe padding default top 150px -->
            <div class="kl-slideshow-safepadding sc__container">
                <!-- Static content simple -->
                <div class="static-content static-content--simple">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Title with custom font size -->
                            <h2 class="fs-xxxl">
                                HEY THERE!
                            </h2>

                            <!-- Sub-title with custom font size -->
                            <h3 class="fs-xxl">
										<span class="fw-thin">
											This is Kallyas Template, <span class="fw-semibold">an epic and wonderful <span data-toggle="tooltip" data-placement="top" title="" data-animation="true" data-original-title="Highly premium actually">premium</span></span> piece of work, for the typical modern website.
										</span>
                            </h3>
                            <!--/ Sub-title with custom font size -->

                            <!-- Sub-title "can be used" -->
                            <h4 class="can_be_used">
                                I CAN BE USED FOR: <span style="color: #ff6b6b;">PRESENTATION WEBSITES, SHOPS, ONLINE CATALOGUES OR OTHER WEBSITES</span>
                            </h4>

                            <!-- Action area button + line -->
                            <div class="sc__simpleaction">
                                <!-- Button full color style -->
                                <a href="#" target="_blank" class="btn btn-fullcolor" title="Kallyas">
                                    BUY ME
                                </a>

                                <!-- Line -->
                                <span class="sc__line"></span>
                            </div>
                            <!--/ Action area -->
                        </div>
                        <!--/ col-sm-12 -->
                    </div>
                    <!--/ row -->
                </div>
                <!--/ static content simple -->
            </div>
            <!--/ .sc__container -->
        </div>
        <!--/ .static-content__inner -->
    </div>
    <!--/ .static-content__wrapper -->
</div>
<!--/ Slideshow - Static content Simple text -->


<section class="hg_section--relative pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- Vertical tabs element style 1 -->
                <div class="vertical_tabs kl-style-1 clearfix">
                    <!-- Tabs wrapper -->
                    <div class="tabbable">
                        <!-- Navigation menu -->
                        <ul class="nav fixclear">
                            <!-- Tab #1 -->
                            <li>
                                <!-- Tab link id -->
                                <a href="#tabs_6" class="active show" data-toggle="tab">
                                    <!-- Icon = .far fa-comment-alt -->
                                    <span class="far fa-comment-alt"></span>

                                    <!-- Title -->
                                    Customer Support
                                </a>
                                <!--/ Tab link id -->
                            </li>
                            <!--/ Tab #1 -->

                            <!-- Tab #2 -->
                            <li>
                                <!-- Tab link id -->
                                <a href="#tabs_7" class="" data-toggle="tab">
                                    <!-- Icon = .far fa-copy -->
                                    <span class="far fa-copy"></span>

                                    <!-- Title -->
                                    Multiple Portfolio
                                </a>
                                <!--/ Tab link id -->
                            </li>
                            <!--/ Tab #2 -->

                            <!-- Tab #3 -->
                            <li>
                                <!-- Tab link id -->
                                <a href="#tabs_8" class="" data-toggle="tab">
                                    <!-- Icon = .fas fa-flask -->
                                    <span class="fas fa-flask"></span>

                                    <!-- Title -->
                                    Unlimited colors
                                </a>
                                <!--/ Tab link id -->
                            </li>
                            <!--/ Tab #3 -->

                            <!-- Tab #4 -->
                            <li>
                                <!-- Tab link id -->
                                <a href="#tabs_9" class="" data-toggle="tab">
                                    <!-- Icon = .fab fa-cloudversify -->
                                    <span class="fab fa-cloudversify"></span>

                                    <!-- Title -->
                                    Hero scenes
                                </a>
                                <!--/ Tab link id -->
                            </li>
                            <!--/ Tab #4 -->

                            <!-- Tab #5 -->
                            <li>
                                <!-- Tab link id -->
                                <a href="#tabs_10" class="" data-toggle="tab">
                                    <!-- Icon = .fas fa-code-branch -->
                                    <span class="fas fa-code-branch"></span>

                                    <!-- Title -->
                                    Maintanance mode
                                </a>
                                <!--/ Tab link id -->
                            </li>
                            <!--/ Tab #5 -->
                        </ul>
                        <!--/ Navigation menu -->

                        <!-- Tabs content -->
                        <div class="tab-content">
                            <!-- Tab #1 -->
                            <div class="tab-pane fade active show" id="tabs_6">
                                <!-- Title -->
                                <h4>
                                    Awesome 5 stars support!
                                </h4>
                                <!-- Title -->

                                <!-- Description -->
                                <p>
                                    <!-- Image link -->
                                    <a href="#">
                                        <!-- Image right aligned-->
                                        <img src="<%=cdnUrl%>/images/support.jpg" class="alignright" width="194" height="199" alt="support" title="support">
                                        <!--/ Image -->
                                    </a>
                                    <!--/ Image link -->

                                    Whether you're an expert or a beginner, our Support Team wil do its best to provide the best possible and helpful answer for the issues that you're having.
                                </p>

                                <p>
                                    Customer support is a range of customer services to assist customers in making cost effective and correct use of a product. It includes assistance in planning, installation, training, troubleshooting, maintenance, upgrading, and disposal of a product.
                                </p>

                                <p>
                                    Regarding technology products such as mobile phones, televisions, computers, software products or other electronic or mechanical goods, it is termed technical support.
                                </p>
                                <!--/ Description -->
                            </div>
                            <!--/ Tab #1 -->

                            <!-- Tab #2 -->
                            <div class="tab-pane fade" id="tabs_7">
                                <!-- Title -->
                                <h4>
                                    Multiple portfolio layouts
                                </h4>
                                <!--/ Title -->

                                <!-- Description -->
                                <p>
                                    Your projects deserves the best showcase. Kallyas includes several highly customisable portfolio layouts for your business?s projects, so that your website visitors will actually see the amazing work you're doing.
                                </p>
                                <!--/ Description -->
                            </div>
                            <!--/ Tab #2 -->

                            <!-- Tab #3 -->
                            <div class="tab-pane fade" id="tabs_8">
                                <!-- Title -->
                                <h4>
                                    Unlimited colors
                                </h4>
                                <!--/ Title -->

                                <!-- Description -->
                                <p>
                                    Add a touch of personality with a special flavour. Colors can be easily changed predominantly but also specifically where you want.
                                </p>
                                <!--/ Description -->
                            </div>
                            <!--/ Tab #3 -->

                            <!-- Tab #4 -->
                            <div class="tab-pane fade " id="tabs_9">
                                <!-- Title -->
                                <h4>
                                    Hero scenes
                                </h4>
                                <!--/ Title -->

                                <!-- Description -->
                                <p>
                                    Again, we love "above the fold" areas! They should be spectacular and they should be as actionable as possible to convert any potential visitor to a loyal customer or subscriber.
                                </p>
                                <!--/ Description -->
                            </div>
                            <!--/ Tab #4 -->

                            <!-- Tab #5 -->
                            <div class="tab-pane fade" id="tabs_10">
                                <!-- Title -->
                                <h4>
                                    Maintenance mode
                                </h4>
                                <!--/ Title -->

                                <!-- Description -->
                                <p>
                                    Add an extra sense of curiosity while still being connected with your audience. All by simply hiding your actual website?s content until your development process is finished and launch with whistles and bells.
                                </p>
                                <!--/ Description -->
                            </div>
                            <!--/ Tab #5 -->
                        </div>
                        <!--/ Tabs content -->
                    </div>
                    <!--/ Tabs wrapper -->
                </div>
                <!--/ Vertical tabs element style 1 -->
            </div>
            <!--/ col-md-12 col-sm-12 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->

    <!-- Bottom mask style 1 -->
    <div class="kl-bottommask kl-bottommask--shadow">
    </div>
    <!--/ Bottom mask style 1 -->
</section>

<section class="hg_section--relative bg-white pt-80 pb-0">
    <!-- Background source -->
    <div class="kl-bg-source">
        <!-- Gradient overlay -->
        <div class="kl-bg-source__overlay" style="background: rgba(255,255,255,1); background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); ">
        </div>
        <!--/ Gradient overlay -->
    </div>
    <!--/ Background source -->

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- Title element with custom bottom padding -->
                <div class="kl-title-block clearfix tbk--text-default tbk--center text-center tbk-symbol--line tbk-icon-pos--after-title pbottom-15">
                    <!-- Title with custom kl-font-alt font, size and theme color -->
                    <h3 class="tbk__title kl-font-alt fs-l tcolor">
                        SO, AMONG OTHER FEATURES, HERE'S A FEW OTHERS
                    </h3>
                </div>
                <!--/ Title element with custom bottom padding -->

                <!-- Grid icon boxes element -->
                <div class="grid-ibx grid-ibx--cols-4 grid-ibx--style-lined-gradient grid-ibx--hover-shadow">
                    <div class="grid-ibx__inner">
                        <div class="grid-ibx__row clearfix">
                            <!-- Item - height 260px -->
                            <div class="grid-ibx__item h-260">
                                <!-- icon box helper -->
                                <i class="grid-ibx__ghelper"></i>
                                <!--/ icon box helper -->

                                <div class="grid-ibx__item-inner">
                                    <!-- Title -->
                                    <div class="grid-ibx__title-wrp">
                                        <h4 class="grid-ibx__title kl-font-alt fs-normal">
                                            WELL DOCUMENTED
                                        </h4>
                                    </div>
                                    <!--/ Title -->

                                    <!-- Icon - .glyphicon-list-alt -->
                                    <div class="grid-ibx__icon-wrp">
                                        <span class="grid-ibx__icon icon-gi-ico-6 fs-xxxl"></span>
                                    </div>
                                    <!--/ Icon - .icon-gi-ico-6 -->

                                    <!-- Content -->
                                    <div class="grid-ibx__desc-wrp">
                                        <!-- Description -->
                                        <p class="grid-ibx__desc">
                                            Documentation include with explanations for most of the options.
                                        </p>
                                        <!--/ Description -->
                                    </div>
                                    <!--/ Content -->
                                </div>
                                <!--/ .grid-ibx__item-inner -->
                            </div>
                            <!--/ Item - height 260px - .grid-ibx__item -->

                            <!-- Item - height 260px -->
                            <div class="grid-ibx__item h-260">
                                <!-- icon box helper -->
                                <i class="grid-ibx__ghelper"></i>
                                <!--/ icon box helper -->


                                <div class="grid-ibx__item-inner">
                                    <!-- Title -->
                                    <div class="grid-ibx__title-wrp">
                                        <h4 class="grid-ibx__title kl-font-alt fs-normal">
                                            MULTILANGUAGE READY
                                        </h4>
                                    </div>
                                    <!--/ Title -->

                                    <!-- Icon - .glyphicon-globe -->
                                    <div class="grid-ibx__icon-wrp">
                                        <span class="grid-ibx__icon icon-gi-ico-3 fs-xxxl"></span>
                                    </div>
                                    <!--/ Icon - .fas fa-globe -->

                                    <!-- Content -->
                                    <div class="grid-ibx__desc-wrp">
                                        <!-- Description -->
                                        <p class="grid-ibx__desc">
                                            You can install languages and extend the website's languages.
                                        </p>
                                        <!--/ Description -->
                                    </div>
                                    <!--/ Content -->
                                </div>
                                <!--/ .grid-ibx__item-inner -->
                            </div>
                            <!--/ Item - height 260px - .grid-ibx__item -->

                            <!-- Item - height 260px -->
                            <div class="grid-ibx__item h-260">
                                <!-- icon box helper -->
                                <i class="grid-ibx__ghelper"></i>
                                <!--/ icon box helper -->


                                <div class="grid-ibx__item-inner">
                                    <!-- Title -->
                                    <div class="grid-ibx__title-wrp">
                                        <h4 class="grid-ibx__title kl-font-alt fs-normal">
                                            HIGHLY CUSTOMIZABLE
                                        </h4>
                                    </div>
                                    <!--/ Title -->

                                    <!-- Icon - .glyphicon-cog -->
                                    <div class="grid-ibx__icon-wrp">
                                        <span class="grid-ibx__icon icon-gi-ico-1 fs-xxxl"></span>
                                    </div>
                                    <!--/ Icon - .icon-gi-ico-1 -->

                                    <!-- Content -->
                                    <div class="grid-ibx__desc-wrp">
                                        <!-- Description -->
                                        <p class="grid-ibx__desc">
                                            This template includes lots of customizations and combinations.
                                        </p>
                                        <!--/ Description -->
                                    </div>
                                    <!--/ Content -->
                                </div>
                                <!--/ .grid-ibx__item-inner -->
                            </div>
                            <!--/ Item - height 260px - .grid-ibx__item -->

                            <!-- Item - height 260px -->
                            <div class="grid-ibx__item h-260">
                                <!-- icon box helper -->
                                <i class="grid-ibx__ghelper"></i>
                                <!--/ icon box helper -->


                                <div class="grid-ibx__item-inner">
                                    <!-- Title -->
                                    <div class="grid-ibx__title-wrp">
                                        <h4 class="grid-ibx__title kl-font-alt fs-normal">
                                            UNLIMITED COLORS
                                        </h4>
                                    </div>
                                    <!--/ Title -->

                                    <!-- Icon - far fa-heart-empty -->
                                    <div class="grid-ibx__icon-wrp">
                                        <span class="grid-ibx__icon icon-gi-ico-4 fs-xxxl"></span>
                                    </div>
                                    <!--/ Icon - .icon-gi-ico-4 -->

                                    <!-- Content -->
                                    <div class="grid-ibx__desc-wrp">
                                        <!-- Description -->
                                        <p class="grid-ibx__desc">
                                            With just a few clicks you can add any color you want.
                                        </p>
                                        <!--/ Description -->
                                    </div>
                                    <!--/ Content -->
                                </div>
                                <!--/ .grid-ibx__item-inner -->
                            </div>
                            <!--/ Item - height 260px - .grid-ibx__item -->
                        </div>
                        <!--/ .grid-ibx__row -->
                    </div>
                    <!--/ .grid-ibx__inner -->
                </div>
                <!--/ Grid icon boxes element -->
            </div>
            <!--/ col-md-12 col-sm-12 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>

<section class="hg_section bg-white pb-80">
    <div class="container">
        <div class="row gutter-md">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <!-- Step box element #2 (First Go box) -->
                <div class="gobox gobox-first ">
                    <!-- Content -->
                    <div class="gobox-content">
                        <!-- Title -->
                        <h4>
                            planning &amp; strategy
                        </h4>
                        <!--/ Title -->

                        <!-- Link -->
                        <a href="#" target="_blank" class="step_link" title=""></a>
                        <!--/ Link -->

                        <!-- Description -->
                        <p>
                            A more comprehensive list of tasks to which web development commonly refers, may include web engineering.
                        </p>
                        <!--/ Description -->
                    </div>
                    <!--/ Content -->
                </div>
                <!--/ Step box element #2 (First Go box) -->
            </div>
            <!--/ col-sm-12 col-md-12 col-lg-4 -->

            <div class="col-sm-12 col-md-12 col-lg-4">
                <!-- Step box #2 (Second Go box) -->
                <div class="gobox ">
                    <!-- Content -->
                    <div class="gobox-content">
                        <!-- Title -->
                        <h4>
                            design &amp; develop
                        </h4>
                        <!--/ Title -->

                        <!-- Link -->
                        <a href="#" target="_blank" class="step_link" title=""></a>
                        <!--/ Link -->

                        <!-- Description -->
                        <p>
                            Design elements are the basic units of any visual design which form its structure and convey visual messages.
                        </p>
                        <!--/ Description -->
                    </div>
                    <!--/ Content -->
                </div>
                <!--/ Step box #2 (Second Go box) -->
            </div>
            <!--/ col-sm-12 col-md-12 col-lg-4 -->

            <div class="col-sm-12 col-md-12 col-lg-4">
                <!-- Step box #2 (Last Go box) -->
                <div class="gobox ok gobox-last">
                    <!-- Icon = .far fa-check-circle -->
                    <span class="far fa-check-circle"></span>
                    <!--/ Icon = .far fa-check-circle -->

                    <!-- Content -->
                    <div class="gobox-content">
                        <!-- Title -->
                        <h4>
                            test &amp; deliver
                        </h4>
                        <!--/ Title -->

                        <!-- Link -->
                        <a href="#" target="_blank" class="step_link" title=""></a>
                        <!--/ Link -->

                        <!-- Description -->
                        <p>
                            All software testing uses some strategy to select tests that are feasible for the available time.
                        </p>
                        <!--/ Description -->
                    </div>
                    <!--/ Content -->
                </div>
                <!--/ Step box #2 (Last Go box) -->
            </div>
            <!--/ col-sm-12 col-md-12 col-lg-4 -->
        </div>
        <!--/ row gutter-md -->
    </div>
    <!--/ container -->
</section>