<title>Air Quality Monitoring - Boodskap</title>

<div id="page_header" class="page-subheader site-subheader-cst uh_flat_dark_blue ">
    <div class="bgback"></div>

    <!-- Animated Sparkles -->
    <div class="th-sparkles"></div>
    <!--/ Animated Sparkles -->

    <!-- Background -->
    <div class="kl-bg-source">
        <!-- Gradient overlay -->
        <div class="kl-bg-source__overlay"
            style="background: rgba(36,36,36,1); background: -moz-linear-gradient(left, rgba(36,36,36,1) 0%, rgba(107,107,107,1) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(36,36,36,1)), color-stop(100%,rgba(107,107,107,1))); background: -webkit-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: -o-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: -ms-linear-gradient(left, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); background: linear-gradient(to right, rgba(36,36,36,1) 0%,rgba(107,107,107,1) 100%); ">
        </div>
        <!--/ Gradient overlay -->
    </div>
    <!--/ Background -->

    <!-- Sub-Header content wrapper -->
    <div class="ph-content-wrap d-flex">
        <div class="container align-self-center">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="clearfix"></div>
                </div>
                <!--/ col-sm-12 col-md-6 col-lg-6 -->

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- Sub-header titles -->
                    <div class="subheader-titles pt-100">
                        <h2 class="subheader-maintitle pt-4">Air Quality Monitoring with Boodskap's IoT Platform
                        </h2>
                    </div>
                    <!--/ Sub-header titles -->
                </div>
                <!--/ col-sm-12 col-md-6 col-lg-6 -->
            </div>
            <!--/ row -->
        </div>
        <!--/ .container .align-self-center -->
    </div>
    <!--/ Sub-Header content wrapper .d-flex -->

    <!-- Bottom mask style 3 -->
    <div class="kl-bottommask kl-bottommask--mask3">
        <svg width="5000px" height="57px" class="svgmask " viewBox="0 0 5000 57" version="1.1"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask3">
                    <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                    <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                    <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1"
                        result="shadowInnerInner1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.4 0" in="shadowInnerInner1"
                        type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                    <feMerge>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                        <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                    </feMerge>
                </filter>
            </defs>
            <path
                d="M9.09383679e-13,57.0005249 L9.09383679e-13,34.0075249 L2418,34.0075249 L2434,34.0075249 C2434,34.0075249 2441.89,33.2585249 2448,31.0245249 C2454.11,28.7905249 2479,11.0005249 2479,11.0005249 L2492,2.00052487 C2492,2.00052487 2495.121,-0.0374751261 2500,0.000524873861 C2505.267,-0.0294751261 2508,2.00052487 2508,2.00052487 L2521,11.0005249 C2521,11.0005249 2545.89,28.7905249 2552,31.0245249 C2558.11,33.2585249 2566,34.0075249 2566,34.0075249 L2582,34.0075249 L5000,34.0075249 L5000,57.0005249 L2500,57.0005249 L1148,57.0005249 L9.09383679e-13,57.0005249 Z"
                class="bmask-bgfill" filter="url(#filter-mask3)" fill="#fbfbfb"></path>
        </svg>
        <i class="fas fa-angle-down"></i>
    </div>
    <!--/ Bottom mask style 3 -->
</div>



<section class="hg_section pt-50  bg-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <!-- Laptop slider wrapper light theme style -->
                <div class="kl-slideshow laptop-slider__slideshow">
                    <div class="laptop-slider__inner ls--theme-light">
                        <div class="ls__container">
                            <!-- Laptop mask -->
                            <div class="ls__laptop-mask">
                                <div class="ls__screen">
                                    <!-- Slider wrapper -->
                                    <div class="hg_laptop_slider_wrapper">
                                        <!-- Laptop Slider -->
                                        <div class="hg_laptop_slider" data-trans="5000">
                                            <!-- Laptop slider container -->
                                            <div class="hg_laptop_slider_container">
                                                <!-- Slide #1 -->
                                                <div class="ls__slider-item">
                                                    <!-- Image -->
                                                    <div class="ls-slider-item__img" style="background-image:url(/images/industries/environmentmonitoring/AirQualityMonitoring.webp)">
                                                    </div>
                                                    <!--/ Image -->

                                                    <!-- Caption Title -->
                                                    <h3 class="ls__item-caption ff-alternative">
                                                    </h3>
                                                    <!--/ Caption Title -->
                                                </div>
                                                <!--/ Slide #1 -->


                                                <!--/ Slide #2 -->

                                                <!--/ Slide #3 -->
                                            </div>
                                            <!--/ .hg_laptop_slider_container -->
                                        </div>
                                        <!--/ Laptop Slider -->
                                    </div>
                                    <!--/ .hg_laptop_slider_wrapper -->
                                </div>
                                <!--/ .ls screen -->

                                <!-- Navigation bullets -->
                                <div class="ls__nav">
                                    <!-- Item #1 -->
                                    <a href="#" class="ls__nav-item"></a>
                                    <!-- Item #2 -->
                                   <!-- <a href="#" class="ls__nav-item"></a>
                                    &lt;!&ndash; Item #3 &ndash;&gt;
                                    <a href="#" class="ls__nav-item"></a>-->
                                </div>
                                <!--/ Navigation bullets -->

                                <!-- Navigation arrows -->
                                <div class="ls__arrows">
                                    <!-- Left -->
                                    <span class="ls__arrow ls__arrow-left"></span>
                                    <!-- Right -->
                                    <span class="ls__arrow ls__arrow-right"></span>
                                </div>
                                <!--/ Navigation arrows -->
                            </div>
                            <!--/ Laptop mask -->

                            <div class="clearfix">
                            </div>
                        </div>
                        <!--/ .laptop-slider__inner -->
                    </div>
                    <!--/ Laptop slider light theme style -->
                </div>




            </div>
            </div>
            <!--/ col-md-12 col-sm-12 col-lg-6 -->
            <div class="row">

            <div class="col-md-12 col-sm-12 col-lg-12 p-5">
                <h5 class="fs-normal fw-bold tcolor">
                    PRODUCT DESCRIPTION
                </h5>

                <div class="mb-30 clearfix">

                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="fancy-list fs-normal">
                                    <li>Boodskap's IoT platform is instrumental in revolutionizing air quality monitoring across various environments. By leveraging a network of advanced IoT sensors and real-time data analytics, Boodskap empowers businesses, governments, and communities to monitor air quality continuously, ensuring healthier environments and regulatory compliance.

</li>
                                    <h5 class="fs-normal fw-bold tcolor text-uppercase">
                                        How Boodskap is Used
                                    </h5>    
                                    <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                        1.Data Collection
                                    </h6>                    
                                    <li><strong>Sensors Used:</strong>  Boodskap integrates various IoT sensors such as gas sensors, particulate matter sensors, and CO2 sensors to monitor air pollutants.
                                    </li>
                                    <li><strong>Data Captured:</strong> These sensors collect critical data on pollutants such as nitrogen dioxide (NO2), sulfur dioxide (SO2), carbon monoxide (CO), ozone (O3), particulate matter (PM2.5 and PM10), and carbon dioxide (CO2).

                                    </li>
                                    <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                        2.Data Transmission
                                    </h6>                    
                                    <li><strong>Protocols:</strong>The collected data is transmitted to the Boodskap IoT platform using reliable IoT protocols like MQTT, LoRaWAN, and NB-IoT.

                                    </li>
                                    <li><strong>Efficiency:</strong> Boodskap ensures secure and efficient data transmission, allowing seamless integration with existing systems.

                                    </li>
                                    <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                        3.Data Analytics
                                    </h6>                    
                                    <li><strong>Analytics:</strong> Boodskap's platform employs advanced data analytics and machine learning algorithms to analyze the sensor data.

                                    </li>
                                    <li><strong>Insights:</strong>It identifies patterns and trends in air quality, such as spikes in pollution levels or the presence of specific harmful gases.

                                    </li>
                                    <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                        4.Predictive Insights
                                    </h6>                    
                                    <li><strong>Alerts:</strong> The platform generates predictive insights and alerts relevant stakeholders about potential air quality issues.

                                    </li>
                                    <li><strong>Dashboards:</strong>  These insights are accessible through customizable dashboards and reports, providing a comprehensive view of air quality metrics.
                                    </li>
                                    <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                        5.Proactive Measures
                                    </h6>                    
                                    <li><strong>Action Plans:</strong> With Boodskap's air quality monitoring capabilities, environmental agencies and businesses can implement action plans to mitigate pollution sources.

                                    </li>
                                    <li><strong>Compliance:</strong> Ensures compliance with environmental regulations by maintaining optimal air quality levels.

                                    </li>
                                    <h5 class="fs-normal fw-bold tcolor text-uppercase">
                                        Benefits
                                    </h5>    
                                    <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                        Improved Public Health                                  </h6>                    
                                    <li>Minimize health risks associated with poor air quality by ensuring cleaner air.
                                    </li>
                                    <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                        Regulatory Compliance                                    </h6>                    
                                    <li>Stay compliant with local, national, and international air quality standards.

                                    </li>
                                    <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                        Environmental Protection                                  </h6>                    
                                    <li>Contribute to broader environmental protection efforts by monitoring and controlling air pollution.

                                    </li>
                                    <h6 class="fs-normal fw-bold tcolor text-uppercase">
                                        Data-Driven Decisions
                                    </h6>                    
                                    <li> Make informed decisions based on accurate and real-time air quality data.

                                    </li>
                           <i>Boodskap's IoT platform empowers communities and organizations to shift from reactive to proactive air quality management, ensuring healthier living conditions and a safer environment.</i>
                            </ul><!-- /.dash-list -->
                        </div>

                    </div>
                </div>

                <!-- /.clearfix -->
            </div>
            </div>
            <!--/ col-md-12 col-sm-12 col-lg-4 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container-fluid -->
</section>



<section class="hg_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Title element -->
                <div class="kl-title-block">
                    <!-- Title with custom size & weight -->
                    <h3 class="tbk__title kl-font-alt fw-semibold tcolor">
                        WORK WITH US
                    </h3>

                    <!-- Sub-title with custom size -->
                    <h4 class="tbk__subtitle fw-thin">
                        We'll do everything to make your project success!
                    </h4>
                </div>
                <!--/ Title element -->
            </div>
        </div>
    </div>
</section>
<%- include ../../contact-form.html %>
