<title>Facility Management - Boodskap</title>
<!-- Required CSS file for Laptop slider element  -->



<div id="home" class="kl-slideshow iosslider-slideshow uh_light_gray maskcontainer--shadow_ud iosslider--custom-height scrollme">
    <!-- Loader -->
    <div class="kl-loader">
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewbox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve"><path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"></path><path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z" transform="rotate(98.3774 20 20)"><animatetransform attributetype="xml" attributename="transform" type="rotate" from="0 20 20" to="360 20 20" dur="0.5s" repeatcount="indefinite"></animatetransform></path></svg>
    </div>
    <!-- Loader -->

    <div class="bgback">
    </div>

    <!-- Animated Sparkles -->
    <div class="th-sparkles">
    </div>
    <!--/ Animated Sparkles -->

    <!-- iOS Slider wrapper with animateme scroll efect -->
    <div class="iosSlider kl-slideshow-inner animateme" >
        <!-- Slides -->
        <div class="kl-iosslider hideControls">
            <!-- Item #1 -->
            <div class="item iosslider__item">
                <!-- Background slide image -->
                <div class="slide-item-bg vertical-pos--top" style="background-image:url(<%=cdnUrl%>/images/products/expense-management-system.jpg);">
                </div>

                <!-- Overlay -->
                <div class="kl-slide-overlay">
                </div>

                <!-- Captions container with class styles -->
                <div class="container kl-iosslide-caption kl-ioscaption--style4 s4ext fromleft klios-alignleft kl-caption-posv-middle">
                    <!-- Animateme wrapper -->
                    <div class="animateme">
                        <!-- Big title -->
                        <h2 class="main_title has_titlebig ">
                            <span>FACILITY MANAGEMENT</span>
                        </h2>

                        <!-- Big title 2 -->
                        <h3 class="title_big">
                            COMPLETE ACCESS <strong>CONTROL</strong>
                        </h3>

                        <!-- Link -->
                        <a href="#" class="more" title="">
                            @ YOUR FINGERTIPS
                        </a>

                        <!-- Small title -->
                    </div>
                    <!--/ .animateme wrapper -->
                </div>
                <!--/ Captions container with class styles -->
            </div>
            <!--/ Item #1 -->

        </div>
        <!--/ Slides -->

        <!--/ Navigation Controls - Prev -->
    </div>
    <!--/ iOS Slider wrapper with animateme scroll efect -->


    <div class="scrollbarContainer">
    </div>

    <!-- Bottom mask style 2 -->
    <div class="kl-bottommask kl-bottommask--shadow_ud">
    </div>
    <!--/ Bottom mask style 2 -->

    <div class="kl-bottommask kl-bottommask--mask5">
        <svg width="2700px" height="64px" class="svgmask" viewBox="0 0 2700 64" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <defs>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask5">
                    <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                    <feGaussianBlur stdDeviation="1.5" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                    <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.45 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                    <feMerge>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                        <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                    </feMerge>
                </filter>
            </defs>
            <path d="M1892,0 L2119,44.993 L2701,45 L2701.133,63.993 L-0.16,63.993 L1.73847048e-12,45 L909,44.993 L1892,0 Z" class="bmask-bgfill" fill="#ffffff" filter="url(#filter-mask5)"></path>
            <path d="M2216,44.993 L2093,55 L1882,6 L995,62 L966,42 L1892,0 L2118,44.993 L2216,44.993 L2216,44.993 Z" fill="#cd2122" class="bmask-customfill" filter="url(#filter-mask5)"></path>
        </svg>
    </div>

</div>



<section class="hg_section pt-50  bg-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-6">
                <!-- Laptop slider wrapper light theme style -->
                <div class="kl-slideshow laptop-slider__slideshow">
                    <div class="laptop-slider__inner ls--theme-light">
                        <div class="ls__container">
                            <!-- Laptop mask -->
                            <div class="ls__laptop-mask">
                                <div class="ls__screen">
                                    <!-- Slider wrapper -->
                                    <div class="hg_laptop_slider_wrapper">
                                        <!-- Laptop Slider -->
                                        <div class="hg_laptop_slider" data-trans="5000">
                                            <!-- Laptop slider container -->
                                            <div class="hg_laptop_slider_container">
                                                <!-- Slide #1 -->
                                                <div class="ls__slider-item">
                                                    <!-- Image -->
                                                    <div class="ls-slider-item__img" style="background-image:url(<%=cdnUrl%>/images/products/prod_12.png)">
                                                    </div>
                                                    <!--/ Image -->

                                                    <!-- Caption Title -->
                                                    <h3 class="ls__item-caption ff-alternative">
                                                    </h3>
                                                    <!--/ Caption Title -->
                                                </div>
                                                <!--/ Slide #1 -->

                                                <!-- Slide #2 -->
                                                <div class="ls__slider-item">
                                                    <!-- Image -->
                                                    <div class="ls-slider-item__img" style="background-image:url(<%=cdnUrl%>/images/products/prod_12_a.png)">
                                                    </div>
                                                    <!--/ Image -->

                                                    <!-- Caption Title -->

                                                </div>
                                                <!--/ Slide #2 -->

                                                <!-- Slide #3 -->
                                                <div class="ls__slider-item">
                                                    <!-- Image -->
                                                    <div class="ls-slider-item__img" style="background-image:url(<%=cdnUrl%>/images/products/prod_12_b.png)">
                                                    </div>
                                                    <!--/ Image -->

                                                    <!-- Caption Title -->

                                                </div>

                                                <div class="ls__slider-item">
                                                    <!-- Image -->
                                                    <div class="ls-slider-item__img" style="background-image:url(<%=cdnUrl%>/images/products/prod_12_c.png)">
                                                    </div>
                                                    <!--/ Image -->

                                                    <!-- Caption Title -->

                                                </div>

                                                <div class="ls__slider-item">
                                                    <!-- Image -->
                                                    <div class="ls-slider-item__img" style="background-image:url(<%=cdnUrl%>/images/products/prod_12_d.png)">
                                                    </div>
                                                    <!--/ Image -->

                                                    <!-- Caption Title -->

                                                </div>

                                                <div class="ls__slider-item">
                                                    <!-- Image -->
                                                    <div class="ls-slider-item__img" style="background-image:url(<%=cdnUrl%>/images/products/prod_12_e.png)">
                                                    </div>
                                                    <!--/ Image -->

                                                    <!-- Caption Title -->

                                                </div>
                                                <!--/ Slide #3 -->
                                            </div>
                                            <!--/ .hg_laptop_slider_container -->
                                        </div>
                                        <!--/ Laptop Slider -->
                                    </div>
                                    <!--/ .hg_laptop_slider_wrapper -->
                                </div>
                                <!--/ .ls screen -->

                                <!-- Navigation bullets -->
                                <div class="ls__nav">
                                    <!-- Item #1 -->
                                    <a href="#" class="ls__nav-item"></a>
                                    <!-- Item #2 -->
                                    <a href="#" class="ls__nav-item"></a>
                                    <a href="#" class="ls__nav-item"></a>
                                    <a href="#" class="ls__nav-item"></a>
                                    <a href="#" class="ls__nav-item"></a>
                                    <a href="#" class="ls__nav-item"></a>
                                    <!-- Item #3 -->
                                </div>
                                <!--/ Navigation bullets -->

                                <!-- Navigation arrows -->
                                <div class="ls__arrows">
                                    <!-- Left -->
                                    <span class="ls__arrow ls__arrow-left"></span>
                                    <!-- Right -->
                                    <span class="ls__arrow ls__arrow-right"></span>
                                </div>
                                <!--/ Navigation arrows -->
                            </div>
                            <!--/ Laptop mask -->

                            <div class="clearfix">
                            </div>
                        </div>
                        <!--/ .laptop-slider__inner -->
                    </div>
                    <!--/ Laptop slider light theme style -->
                </div>
            </div>
            <!--/ col-md-12 col-sm-12 col-lg-6 -->

            <div class="col-md-12 col-sm-12 col-lg-4">
                <h5 class="fs-normal fw-bold light-gray">
                    PRODUCT
                </h5>

                <h2 class="fs-l reset-line-height fw-normal mb-50">
                    <strong>FACILITY MANAGEMENT</strong>
                </h2>

                <div class="mb-30 clearfix">

                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="fancy-list fs-normal">
                                    <li>Complete suite to monitor and manage multiple facilities</li>
                                    <li>Live drag &amp; drop visual components to create your buildings / floor plans</li>
                                    <li>Place the appropriate IoT sensors at the virtual 3D map to get a realistic look of your premise</li>
                                    <li>Security cameras can be integrated to detect cars, license plates, persons, 80+ objects</li>
                                    <li>Unauthorized place intrusion alerts and notification</li>
                                    <li>Emergency alert and lockdown of premise</li>
                                    <li>Live route guidance from the current spot to a designated location inside the premise</li>
                                    <li>Compatible with web browsers, mobile apps for iOS and Android.</li>
                            </ul><!-- /.dash-list -->
                        </div>

                    </div>
                </div>

                <!-- /.clearfix -->
            </div>
            <!--/ col-md-12 col-sm-12 col-lg-4 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container-fluid -->
</section>



<section class="hg_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Title element -->
                <div class="kl-title-block">
                    <!-- Title with custom size & weight -->
                    <h3 class="tbk__title kl-font-alt fw-semibold tcolor">
                        WORK WITH US
                    </h3>

                    <!-- Sub-title with custom size -->
                    <h4 class="tbk__subtitle fw-thin">
                        We'll do everything to make your project success!
                    </h4>
                </div>
                <!--/ Title element -->
            </div>
        </div>
    </div>
</section>
<%- include ../contact-form.html %>

<!-- JS FILES // Loaded on this page -->
<!-- Required js script for animateme scroll effect for slider  -->
