<!-- Slideshow - Static content Product presentation + bottom mask style 4 -->
<div class="kl-slideshow static-content__slideshow uh_neutral_color maskcontainer--mask4 ">
        <div class="bgback">
        </div>
    
        <!-- Static content wrapper with default height (not fullscreen) -->
        <div class="kl-slideshow-inner static-content__wrapper static-content--height">
            <!-- Static content background source -->
            <div class="static-content__source ">
                <!-- Background -->
                <div class="kl-bg-source">
                    <!-- Background image -->
                    <div class="kl-bg-source__bgimage" style="background-image: url(/images/products/smart-restaurants.jpg); background-repeat: no-repeat; background-attachment: scroll; background-position-x: center; background-position-y: center; background-size: cover;">
                    </div>
                    <!--/ Background image -->
    
                    <!-- Color overlay -->
                    <div class="kl-bg-source__overlay" style="background-color: rgba(0,16,35,0.5);">
                    </div>
                    <!--/ Color overlay -->
                </div>
                <!--/ Background -->
    
                <!-- Animated Sparkles -->
                <div class="th-sparkles"></div>
                <!--/ Animated Sparkles -->
            </div>
            <!--/ .static-content__source -->
    
            <!-- Static content container -->
            <div class="static-content__inner container">
                <div class="kl-slideshow-safepadding sc__container">
                    <!-- Product zoom style -->
                    <div class="static-content productzoom-style">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-5 mb-30">
                                    
                                <div style="height:350px"></div>
        
                                <!-- Sub-title -->
                                <h3 class="static-content__subtitle">
                                            <span class="fw-thin">
                                                <span class="fw-semibold">Smart Restaurant</span>
                                            </span>
                                </h3>
    
    
                                <!-- Facebook share button -->
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://boodskap.io/products/smart-restaurants" class="btn btn-lined">
                                    <span class="button-icon far fa-heart"></span>
                                    <span>SHARE</span>
                                </a>
                                <!--/ Facebook share button -->
    
                            </div>
                            <!--/ col-sm-12 col-md-12 col-lg-5 mb-30 -->
    
                        </div>
                        <!--/ row -->
                    </div>
                    <!--/ .productzoom-style -->
                </div>
                <!-- /.sc__container -->
            </div>
            <!--/ Static content container -->
        </div>
        <!--/ Static content wrapper with default height (not fullscreen) -->
    
        <!-- Bottom mask style 4 -->
        <div class="kl-bottommask kl-bottommask--mask4">
            <svg width="5000px" height="27px" class="svgmask " viewBox="0 0 5000 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask4">
                        <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                        <feGaussianBlur stdDeviation="1.5" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                        <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                        <feMerge>
                            <feMergeNode in="SourceGraphic"></feMergeNode>
                            <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                        </feMerge>
                    </filter>
                </defs>
                <path d="M3.63975516e-12,-0.007 L2418,-0.007 L2434,-0.007 C2434,-0.007 2441.89,0.742 2448,2.976 C2454.11,5.21 2479,15 2479,15 L2492,21 C2492,21 2495.121,23.038 2500,23 C2505.267,23.03 2508,21 2508,21 L2521,15 C2521,15 2545.89,5.21 2552,2.976 C2558.11,0.742 2566,-0.007 2566,-0.007 L2582,-0.007 L5000,-0.007 L5000,27 L2500,27 L3.63975516e-12,27 L3.63975516e-12,-0.007 Z" class="bmask-bgfill" filter="url(#filter-mask4)" fill="#ffffff"></path>
            </svg>
        </div>
        <!--/ Bottom mask style 4 -->
    </div>
    <!--/ Slideshow - Static content Product presentation + bottom mask style 4 -->
    <!-- Portfolio item section with custom paddings -->
    <section class="hg_section pt-80 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="row hg-portfolio-item mb-30">
                        <!-- Left side -->
                        <div id="pinned-trigger" class="col-sm-12 col-md-5 col-lg-5">
                            <!-- Portfolio item content -->
                            <div id="pinned-element" class="portfolio-item-content affixcontent mb-sm-50">
                                <!-- Page/Portfolio title -->
                                <h1 class="page-title portfolio-item-title">
                                    Creative template Kallyas
                                </h1>
    
                                <!-- Description -->
                                <div class="portfolio-item-desc">
                                        <p>
                                            Currently one of the best selling items on ThemeForest, featured across the marketplace and awarded with thousands of 5 stars ratings.
                                        </p>
                                        <p>
                                            When we build a product we aim to make it the best one there, the way we do this is by making our products beautiful designed, simple to use and user friendly. We just happen to have 5 stars support and make great Themes and Templates so why not power your website with our products?
                                        </p>
                                        <p>
                                            Our vision is to become your no. 1 themes and templates, plugins and digital goods supplier.
                                        </p>
                                </div>
                                <!--/ Description -->
    
                                <!--/ Details -->
    
                                <!-- Other details sharing -->
                                <div class="portfolio-item-otherdetails clearfix">
                                    <div class="portfolio-item-share clearfix" data-share-title="SHARE:">
                                        <!-- Twitter share -->
                                        <a href="https://twitter.com/intent/tweet?text=Check+out+-+Creative+front+end+template+Kallyas - &amp;url=https%3A%2F%2Fkallyas-template.net" title="SHARE ON TWITTER" class=" portfolio-item-share-twitter">
                                            <span class="fab fa-twitter"></span>
                                        </a>
    
                                        <!-- Facebook share -->
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fkallyas-template.net%2F&amp;src=sdkpreparse" title="SHARE ON FACEBOOK" class=" portfolio-item-share-facebook">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
    
                                        <!-- Google plus share -->
                                        <a href="https://plus.google.com/share?url=https%3A%2F%2Fkallyas-template.net" title="SHARE ON GPLUS" class=" portfolio-item-share-gplus">
                                            <span class="fab fa-google-plus-g"></span>
                                        </a>
    
                                        <!-- Pinterest share -->
                                        <a href="http://pinterest.com/pin/create/button?description=Check+out+-+Creative+front+end+template+Kallyas - &amp;url=https%3A%2F%2Fkallyas-template.net" title="SHARE ON PINTEREST" class=" portfolio-item-share-pinterest">
                                            <span class="fab fa-pinterest"></span>
                                        </a>
    
                                        <!-- Mail to: -->
                                        <a href="mailto:?body=You can see it live here https%3A%2F%2Fkallyas-template.net Made by Hogash Studio https://hogash.com&amp;subject=Check out this awesome project: Kallyas Template" title="SHARE ON MAIL" class=" portfolio-item-share-mail">
                                            <span class="far fa-envelope"></span>
                                        </a>
                                    </div>
                                    <!-- social links -->
    
                                    <!-- Portfolio link buttons -->
                                    <!--
                                    <div class="portfolio-item-livelink">
                                        <a href="#" target="_self" class="btn btn-lined lined-custom" title="">
                                                    <span class="visible-sm visible-xs visible-lg">
                                                        PROJECT LIVE PREVIEW
                                                    </span>
    
                                            <span class="visible-md">PREVIEW</span>
                                        </a>
                                    </div>
                                    -->
                                    <!--/ Portfolio link buttons -->
    
                                </div>
                                <!--/ .portfolio-item-otherdetails -->
                            </div>
                            <!--/ .portfolio-item-content mb-sm-50 -->
                        </div>
                        <!--/ col-sm-12 col-md-5 col-lg-5 -->
    
                        <!-- Right side -->
                        <div class="col-sm-12 col-md-7 col-lg-7">
                            <!-- Portfolio item right -->
                            <div class="portfolio-item-right mfp-gallery images">
                                <!-- Main portfolio image & pop-up -->
                                <a href="/images/ptf1.png" class="hoverLink" data-lightbox="mfp" data-mfp="image" title="Progressively harness" >
                                    <!-- Border image wrapper -->
                                    <span class="hoverBorderWrapper">
                                                <!-- Image -->
                                                <img src="/images/ptf1-700x525.png" class="img-fluid" alt="" title="" />
    
                                        <!-- Hover border -->
                                                <span class="theHoverBorder"></span>
                                            </span>
                                    <!--/ Border image wrapper -->
                                </a>
                                <!--/ Main portfolio image & pop-up -->
    
                                <!-- Other extra portfolio images -->
                                <div class="hg_other_images portfolio-item-extraimages">
                                    <!-- Image #2 -->
                                    <div class="portfolio-item-extraimg">
                                        <!-- Main portfolio image & pop-up -->
                                        <a href="/images/ptf8.png" class="hoverLink" data-lightbox="mfp" data-mfp="image" title="JUST AN AWESOME PROJECT" >
                                            <!-- Border image wrapper -->
                                            <span class="hoverBorderWrapper">
                                                        <!-- Image -->
                                                        <img src="/images/ptf8-700x525.png" class="img-fluid" alt="" title="" />
    
                                                <!-- Hover border -->
                                                        <span class="theHoverBorder"></span>
                                                    </span>
                                            <!--/ Border image wrapper -->
                                        </a>
                                        <!--/ Main portfolio image & pop-up -->
                                    </div>
                                    <!--/ Image #2 -->
    
                                    <!-- Image #3 -->
                                    <div class="portfolio-item-extraimg">
                                        <!-- Main portfolio image & pop-up -->
                                        <a href="/images/ptf7.png" class="hoverLink" data-lightbox="mfp" data-mfp="image" title="" >
                                            <!-- Border image wrapper -->
                                            <span class="hoverBorderWrapper">
                                                        <!-- Image -->
                                                        <img src="/images/ptf7-700x525.png" class="img-fluid" alt="" title="" />
    
                                                <!-- Hover border -->
                                                        <span class="theHoverBorder"></span>
                                                    </span>
                                            <!--/ Border image wrapper -->
                                        </a>
                                        <!--/ Main portfolio image & pop-up -->
                                    </div>
                                    <!--/ Image #3 -->
    
                                    <!-- Image #4 -->
                                    <div class="portfolio-item-extraimg">
                                        <!-- Main portfolio image & pop-up -->
                                        <a href="/images/ptf6.png" data-lightbox="mfp" data-mfp="image" class="hoverBorder">
                                            <!-- Border image wrapper -->
                                            <span class="hoverBorderWrapper">
                                                        <!-- Image -->
                                                        <img src="/images/ptf6-700x525.png" class="img-fluid" alt="" title="" />
    
                                                <!-- Hover border -->
                                                        <span class="theHoverBorder"></span>
                                                    </span>
                                            <!--/ Border image wrapper -->
                                        </a>
                                        <!--/ Main portfolio image & pop-up -->
                                    </div>
                                    <!--/ Image #4 -->
                                </div>
                                <!--/ Other extra portfolio images -->
                            </div>
                            <!--/ .portfolio-item-right -->
                        </div>
                        <!--/ col-sm-12 col-md-7 col-lg-7 -->
                    </div>
                    <!--/ row Portfolio item -->
    
                    <!-- Separator element -->
                    <div class="hg_separator"></div>
                </div>
                <!--/ col-sm-12 col-md-12 -->
            </div>
            <!--/ row -->
        </div>
        <!--/ container -->
    </section>
    <!--/ Portfolio item section with custom paddings -->


<section class="hg_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Title element -->
                <div class="kl-title-block">
                    <!-- Title with custom size & weight -->
                    <h3 class="tbk__title kl-font-alt fw-semibold tcolor">
                        WORK WITH US
                    </h3>

                    <!-- Sub-title with custom size -->
                    <h4 class="tbk__subtitle fw-thin">
                        We'll do everything to make your project success!
                    </h4>
                </div>
                <!--/ Title element -->
            </div>
        </div>
    </div>
</section>
<%- include ../contact-form.html %>


<!-- JS FILES // Loaded on this page -->
<!-- Required jQuery plugin ScrollMagic for affix(pinned section) functionality -->
<script type="text/javascript" src="/js/plugins/ScrollMagic.js"></script>
<!-- Required trigget for ScrollMagix pinned section -->
<script type="text/javascript">
    jQuery(function($){
        var targetElement = $('.portfolio-item-right'),
            targetElementHeight = targetElement.height(),
            minTargetHeight = 1000;
        if (jQuery(window).width() > 992 && targetElementHeight >= minTargetHeight) {
            // init ScrollMagic Controller
            var controller = new ScrollMagic.Controller();

            // Scene Handler
            var scene = new ScrollMagic.Scene({
                triggerElement: "#pinned-trigger", // point of execution
                duration: targetElementHeight - 600, // pin element for the window height - 1
                triggerHook: 0, // don't trigger until #pinned-trigger1 hits the top of the viewport
                reverse: true // allows the effect to trigger when scrolled in the reverse direction
            })
                .setClassToggle("#pinned-element", "pinned")
                .setPin("#pinned-element") // the element we want to pin
                .addTo(controller);
        }
    });
</script>
    